/* --------------------------------------------------------------

     Hacks for Microsoft IE7
            
-------------------------------------------------------------- */

/* requestInstruction.css
-------------------------------------------------------------- */
#instructionStatePanel { width: 9em !important; }
#instructionStatePanel form input[type="button"] { font-size: .7em !important; }

#requestData dl { height: 1%; }

#requestData dl dd { min-height: 1.3em !important; height: auto; overflow: auto;}
#requestData dl dt { height: auto; }

#requestData dl dd form { overflow: auto; }
#requestData dl dd form input.submit,
#requestData dl dd form input.discard, { margin: .5em .5em 0 0;  }


/* form.css
-------------------------------------------------------------- */
form.editable-list-form p.same-line input.first-button { margin-left: 31%; }

form.listItem p { height: 1%; }
form.listItem p.button { margin-left: 22%; }


/* configuration.css
-------------------------------------------------------------- */
form.listItem.fares p.button { margin-left: 20% !important; }

