/* --------------------------------------------------------------

    forms
    TOOD - refactor !!!
    
-------------------------------------------------------------- */


form {
	/* set width in form, not fieldset (still takes up more room w/ fieldset width */
	/* font:100% verdana,arial,sans-serif; */
	margin: 0;
	padding: 10px 20px 0 20px;
}

form p.field { overflow : auto; padding : 0.5em 0; border-bottom : 1px dashed #FFD053; }

form label { 
 /* block float the labels to left column, set a width */
	float: left; 
	width: 35%;
	padding: 0 5px 0 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}

form label span {
  display: block;
  font-size: 0.85em; font-weight: normal;
  color: #333;
}

form input, form textarea, form select {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width: auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin: 3px 0 5px 1%; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form label.required {
	/* font-weight: bold; */ /* uses class instead of div, more efficient */
	font-size: 1.1em;
	font-weight: bold;
}

/* TODO: Verify usefullness */
form br { clear: left; }

/* TODO: rename into "no-label-line" for instance */
form .form-button { margin: 1em 0 0 36.5%; }

form .error { margin: 0 0 0 36.5%; text-align: left;}

/* yui-calendar */
form .yui-cal { display: none;  position: absolute;}


/* Overrides for simple search forms
-------------------------------------------------------------- */
form.simple-search { padding: 0; }

form.simple-search input { height: 1.5em; }

form.simple-search .form-button { margin: 0 0 0 5%; }

form.simple-search .yui-button { vertical-align: middle; }


/* Overrides for simple search forms
   TODO : merge as possible simple and advanced search
-------------------------------------------------------------- */
form.advanced-search { padding: 0; }

form.advanced-search label {
  padding: 0;
  display: block; 
  float: none;
  width: 100%;
  text-align: left;
}

form.advanced-search input,
form.advanced-search select { margin: 0; }

form.advanced-search .form-button {
  display: block;
  margin: 20px 0 0 0;
  font-size:1.1em; 
}


/* Overrides for editable list form
-------------------------------------------------------------- */
form.editable-list-form {
  margin: .5em 2em; padding: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  background: #ffffff;
  border: 1px dashed #FFD053;
  clear: both; /* hack for tag alignment */
  overflow : auto;
}

form.editable-list-form .error  { margin: 0; }

form.editable-list-form label   { width: 30%; margin: .7em 0 .7em; font-size: 0.9em; clear: both; }

form.editable-list-form select,
form.editable-list-form input   { float: left; margin: .5em 0 .5em 1%; }
form.editable-list-form input.required { font-size: 1em; font-style: normal; }

form.editable-list-form fieldset {
  float: left;
  width: 100%;
  margin: .8em 0 ;
  clear: both;
  border: 1px dashed #FFD053; border-left: 0; border-right: 0;
  background: #ffffca;
}
form.editable-list-form fieldset legend { font-size: 1.2em; color: #FFA000; }

form.editable-list-form a.personalize { float: left; margin: .5em 0 .5em 1%; width:auto; }
form.editable-list-form a.personalize:hover { background-color: #00f;}

form.editable-list-form p.same-line                    { clear: both; margin: .5em 0; overflow: auto; }
form.editable-list-form p.same-line input              { width: 25%;  margin: .5em 0; }
form.editable-list-form p.same-line input.form-button,
form.editable-list-form p.same-line input.first-button { width: auto; margin: .75em 1em 0 0; }
form.editable-list-form p.same-line input.first-button { margin-left: 31%; }
form.editable-list-form p.same-line label              { width: 20%; clear: none; }

form.editable-list-form ul    { margin: .5em 0  0 21%; clear: both; overflow: auto; }
form.editable-list-form ul li { width: 30%;  float: left; padding: .2em 0; border: 0; }
form.editable-list-form ul li:hover { background: transparent !important; }
form.editable-list-form ul li label { width: 66%; }

/* Validation classes
-------------------------------------------------------------- */
/* for textboxes, textareas, passwords */
.validation-failed {
  /* TODO RDJ : validate impact on IE6 */
  /*margin:0.2em 0 0 0.2em !important;*/
  border: 1px dashed #F33;
  background-color:#FCC;
}

/* for checkboxes and radios */
.validation-failed-cr { }

/* for selects */
.validation-failed-sel { }


