/* --------------------------------------------------------------

    global layout description

-------------------------------------------------------------- */


body {
  margin: 0;
  font-size: 80%;
  background: #ffffff url(../../../images/zapp/top-bg.png) top left repeat-x;
}

/* yui skin extension
-------------------------------------------------------------- */
.yui-skin-sam .yui-navset .yui-content {
  background: white none repeat scroll 0%;
}

.yui-t4 .yui-b {  width: 13.8456em; }

/* global header
-------------------------------------------------------------- */
#hd { padding: .5em 0; color: #ccc; }

#hd h1 {
  float: left;
  margin: 0 25px 0 4px;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
}

/* global menu
-------------------------------------------------------------- */
#menu {
  padding:4px;
	font-weight:normal;
	font-size: 1.1em;
	overflow:auto;
}

#menu a {
  height: 1.2em;
  float: left;
  margin: 0 2px;
  padding: 0 8px;
	text-decoration:none;
	line-height:1.2em;
	color: #c8ddff;
}

#menu a.selected-menu-entry,
#menu a:hover {
	background-color: #c8ddff;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	color:black;
}

#userInfo {
  float: right;
}

/* global body
-------------------------------------------------------------- */
#bd {
  background: url(../../../images/zapp/bg-left.png) no-repeat left 17px;
  padding-left: 4px;
}

#bd .head {
  background: url(../../../images/zapp/head.png) repeat-x #dce5fa;
  padding: 0.5em;
  margin-bottom: 10px;
}

#bd .head h1 {
  margin: 0;
  color: #000000;
  font-size: 1.8em;
  font-weight: normal;
}

/* default blue h2, bd=C1CFE2 */
#bd h2 , #bd h3 {
  margin: 10px;
  padding: .3em 0 0 0;
  font-size: 1.4em;
  font-weight: normal;
  text-align: left;
  text-indent: 10px;
  border-bottom : 1px solid;
  border-color: #C1CFE2;
}
#bd h2 span { font-size: .8em; }

#bd h3 {
  font-size: 1.2em;
  border-bottom-style :dashed;
}

/* global narrow
-------------------------------------------------------------- */
#narrow {
  min-height: 500px;
  padding: 2.5em 0 0 1em;
  background: url(../../../images/zapp/bg-right.png) no-repeat left 17px;
}

/* box (no border) */
#narrow .nobox { margin-bottom: 1.5em; }
#narrow .nobox .body { padding: .5em; }
#narrow .nobox h3 {
  margin:0;
  padding: .5em;
  font-size: 14px;
  font-weight: bold;
  background: #f3f8ff;
  border-bottom: 1px solid #c1cfe2;
}
#narrow .nobox p { margin-bottom:0.5em; }

/* form */
#narrow .nobox .body form          { padding: 0; }
#narrow .nobox .body form select    { width: 100%; }
#narrow .nobox .body form label    { width: 100%; text-align: left; }
#narrow .nobox .body form li label { width: 85% ; text-align: left; }

/* global footer
-------------------------------------------------------------- */
#ft {
  margin: 3em 13.8456em 0 0 ;
  padding: .2em ;
  border-top: 1px solid #cccccc;
  text-align: center;
}

/* misc & reset
   TODO - maybe move into a "misc.css" ?
-------------------------------------------------------------- */

/* link */
a            { color: #0000ff; outline: none; }
a:hover      { color: #ffffff; background: blue; }
a.logo       { color: #ffffff; text-decoration: none; }
a.logo:hover { color: #c8ddff; background: transparent; }

:focus { -moz-outline-style: none; }

/* Override yui reset css */
strong { font-weight: bold !important; }

/* utils */
.invisible { display: none; }
.txt-right { text-align: right; }

/* messages
  TODO - define in a message.css ??
  TODO - define final display policy
  TODO - choose cool icon set
*/
.error-top,
.success-top {
  width: 300px;
  display: inline; position:absolute;
  left: 30%; top: 2em; z-index: 10;
  padding: .2em;
  text-align: center;
  font-weight:bold;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
  -moz-border-radius: .5em;
	-webkit-border-radius: .5em;
  color: #fff;
}
.error-top   { color: #ff0000; background: transparent url(../../../images/icons/24-error.png) no-repeat 6px 6px;}
.success-top { color: #ffffff; background: transparent;}

.error { color: red; text-align: center; }

