/* Jsr 168 css ( see JSR-168 specification PLT.C)

To achieve a common look and feel throughout the portal page, all portlets in the portal
page should use a common CSS style sheet when generating content.

This appendix defines styles for a variety of logical units in the markup. It 5 follows the
style being considered by the OASIS Web Services for Remote Portlets Technical
Committee.

*/

/* ==========================================
    Fonts 
    ==========================================
*/

/* Font attributes for the normal fragment font. Used
for the display of non-accentuated information.*/
.portlet-font {
}

/* Font attributes similar to the .portlet.font but the color is lighter. */
.portlet-font-dim {
}

/* ==========================================
    Messages
    ==========================================
*/

.portlet-msg-status, .portlet-msg-info, .portlet-msg-error, .portlet-msg-alert, .portlet-msg-success {
	padding : 2px 0 2px 18px;
	font-weight : bold;
	display : block;
	font-size : 85%;
	margin : 0;
	text-align : left;
	min-height : 16px;
	vertical-align : middle;
}

/* Status of the current operation. */
.portlet-msg-status {
}

/* Help messages, general additional information, etc. */
.portlet-msg-info {
	color : #319cff;
	background : url(images/info.png) top left no-repeat;
}

/* Error messages. */
.portlet-msg-error {
	color : #f30000;
	background : url(images/error.png) top left no-repeat;
}

/* Warning messages. */
.portlet-msg-alert {
	color : #d47800;
	background : url(images/warning.png) left no-repeat;
}

/* Verification of the successful
completion of a task. */
.portlet-msg-success {
}

/* ==========================================
    Sections
    ==========================================
*/

/* Table or section header */
.portlet-section-header {
}

/*  Normal text in a table cell */
.portlet-section-body {
}

/* Text in every other row in the cell */
.portlet-section-alternate {
}

/* Text in a selected cell range */
.portlet-section-selected {
}

/* Text of a subheading */
.portlet-section-subheader {
}

/* Table or section footnote */
.portlet-section-footer {
}

/* Text that belongs to the table but does not fall in one of
the other categories (e.g. explanatory or help text that is
associated with the section). */
.portlet-section-text {
}

/* ==========================================
    Forms
    ==========================================
*/

/* Text used for the descriptive label of the whole form
(not the labels for fields.*/
.portlet-form-label {
}

/* Text of the user-input in an input field. */
.portlet-form-input-field {
}

.portlet-form-input-field[disabled] {
}

/* Text on a button */
input.portlet-form-button {
}

/* Text that appears beside a context dependent action icon.*/
.portlet-icon-label {
}

/* Text that appears beside a standard icon (e.g. Ok, or Cancel) */
.portlet-dlg-icon-label {
}

/* Text for a separator of fields (e.g. checkboxes, etc.) */
.portlet-form-field-label {
}

/* Text for a field (not input field, e.g. checkboxes, etc) */
.portlet-form-field {
}

/* ==========================================
    Menus
    ==========================================
*/

/* General menu settings such as background color, margins, etc */
.portlet-menu {
}

/* Normal, unselected menu item. */
.portlet-menu-item {
}

/* Selected menu item. */
.portlet-menu-item-selected {
}

/*  Normal, unselected menu item when the mouse hovers over it. */
.portlet-menu-item-hover {
}

/*  Selected menu item when the mouse hovers over it. */
.portlet-menu-item-hover-selected {
}

/* Normal, unselected menu item that has submenus. */
.portlet-menu-cascade-item {
}

/* Selected sub-menu item that has sub-menus. */
.portlet-menu-cascade-item-selected {
}

/* Descriptive text for the menu (e.g. in a help
context below the menu) */
.portlet-menu-description {
}

/* Menu caption */
.portlet-menu-caption  {
}
