/* basic elements */
/*html {
	height: 100%;
	width: 100%;
}*/

/* body {  */
	/* behavior:url("css/csshover.htc"); */
/* 	font: 8pt/16pt Verdana, sans-serif;  */
/* 	color: #000; */
/* 	background: #fff;  */
/* 	margin: 0px; */
/* 	height: 100%; */
/* 	width: 100%; */
/*  text-align: center; */
/* } */

/*
#banner {
	display: none;
}*/
	
/* #container {  */
/* 	margin: 1% 1% 0px 1%; */
/* 	padding: 0px; */
/* 	height: 93%; */
/* 	width: 97.5%; */
/* 	border: solid 1px #028ebf; */
/*
  width: 990px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
*/
/* } */

/*#information { 
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#information #title { 
	background: #e6f2ef;
	height: 96px;
}

#title #logoBO {
	float: right;
	margin: 0.5em;
}

#information #title h1 {
	background: #e6f2ef url(manager/logo_capwebct.gif) no-repeat 2% 50%;
    font: bold 13px Verdana, sans-serif;
    color: #cf3030;
    margin: 0px;
	padding: 36px 0px 0px 0px;
	text-indent: 136px;
	height: 60px;
    float: left;
    clear: right;
}

#information #title h2 {
    font: bold 13px Verdana, sans-serif;
    color: #cf3030;
    margin: 0px;
	padding: 36px 0px 0px 5px;
    float: left;
    clear: right;
}*/

/*#navigation { 
	background: #34aa87;
	font: 8pt Verdana, sans-serif; 
	color: #fff;
	margin: 0px 0px 5px 0px;
	width: 100%;
	height: 15px;
	clear:both;
}

#navigation #path {
	padding: 0px 0px 0px 5px;
	float: left;
	clear: right;
}

#navigation #path div {
	background: url(manager/navigation.gif) no-repeat right;
	padding: 0px 10px 0px 0px;
	float: left;
	clear: right;
}

#navigation #path div.current {
	background: none;
	font-weight: bold;
}

#navigation #identifier {
	padding: 0px 5px 0px 0px;
	margin: 0px;
	color: #fff;
	float: right;
}

#navigation #identifier div {
	float: left;
	clear: right;
}

#navigation #identifier div.user {
	background: url(manager/navigation.gif) no-repeat right;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
}

#navigation #identifier div.logout {
	cursor: pointer;
}*/

/*#tabulation { 
    font: bold 10px Verdana, sans-serif;
	margin: 0px 0.5% 0px 0.5%;
	height: 70%;
	float: left;
	clear: right;
}

#tabulation.part { 
	width: 76%;
}

#tabulation.full { 
	width: 99%;
}

#tabulation div { 
	background: #b9ddda;
	padding: 0px;
	margin: 0px;
	float: left;
	cursor: pointer;
}

#tabulation div div.left {
	width: 9px;
	height: 20px;
	background: url(manager/onglet-gauche.gif) no-repeat top left;
}

#tabulation div div.center { 
	height: 20px;
	background: url(manager/onglet-centre.gif);
}

#tabulation div div.right { 
	width: 9px;
	height: 20px;
	background: url(manager/onglet-droite.gif) no-repeat top right;
}

#tabulation div.selected { 
	position: relative;
	z-index: 10;
	height: 21px;
	background: #e6f2ef;
    font-weight: normal;
	cursor: default;
}

#tabulation #contents { 
	background: #e6f2ef;
	position: relative;
	z-index: 0;
	top: -1px;
	margin: 0px;
	width: 100%;
	height: auto!important;
	height: 100%;
	min-height: 100%;
	float: left;
	clear: both;
	border: solid 1px;
	cursor: default;
}

#tabulation #contents div { 
	background: #e6f2ef;
	cursor: default;
}

#tabulation #contents #action {
	height: 98%;
	width: 22%;
	padding: 0px;
	margin: 0px;
	border-right: solid 1px #028ebf; 
}

#tabulation #contents #action #title {
	height: 24px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#tabulation #contents #action h1 {
	color: #cf3030;
    font: bold 12px Arial;
    padding: 0px;
    margin: 10px 0px 0px 10%;
    width: 100%;
}

#tabulation #contents #action ul {
	list-style-type: none;
	width: 95%;
	padding: 0px;
	margin-left: 5%;
}

#tabulation #contents #action ul div {
	width: 100%;
	padding: 0px;
    margin-top: 5px;
}

#tabulation #contents #action ul div.action {
	cursor: pointer;
}

#tabulation #contents #action ul div.action:hover {
    color: #34aa87;
}

#tabulation #contents #form { 
	margin: 0.5%;
	height: auto;
}

#tabulation #contents div.top { 
    border-top: 1px solid #028ebf;
}

#tabulation #contents div.bottom { 
    border-top: 1px solid #028ebf;
}*/

/*#menu {
	margin: 0px 0.5% 0px 0px;
	width: 20%;
	float: right;
}

#menu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#menu ul div.menu {
    font: bold 11px Verdana, sans-serif;
    padding: 5px 0px 18px 0px;
    color: #cf3030;
	border-bottom: solid 1px #028ebf;
}

#menu ul ul div.menuitem {
	background: #e6f2ef;
    color: #174f3e;
    text-decoration: underline;
    font: bold 10px Verdana, sans-serif;
    width: 98%;
    padding: 4px 0px 2px 8px;
	margin: 0px 0px 2px 0px;
	cursor: pointer;
}*/

/*#copyright {
	margin-left: 10px;
	float: left;
	clear: right;
}*/

.popup {
	position: absolute;
	z-index: 100;
	background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
	top: 50px;
	left: 300px;
	height: 16px;
	width: 400px;
    border-left: 1px solid #848484;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    border-top: 1px solid #848484;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*#version {
	margin-right: 12px;
	float: right;
}*/

div.label-field {
	font: 10px Verdana, sans-serif;
	width: 100%;
	font-weight: normal;
}

div.label-field label {
	float: left;
	clear: right;
	width: 24%;
	margin-right: 5px;
    color: #174f3e;
    text-decoration: none;
    font: bold 10px Verdana, sans-serif;
	height: auto;
}
