
p.header {
	color: #028ebf;
    font: bold 12px Arial;
}

p.title {
	color: #cf3030;
    font: bold 12px Arial;
}

p.legend {
    font-weight: normal;
}

form {
	color: #000000;
	font: 10px Verdana, sans-serif;
	padding: 0px;
}

form.nomargin {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    padding-left: 0em;
}

div.description {
	color: #000000;
	text-align: center;
	padding: 10px 10px 0px 10px;
}

div.description p {
	text-align: center;
	font: 14px Verdana, sans-serif;
}

div.description div.highlight {
  width: 450px;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

div.seperator {
	width:100%;
	color: #354F6D;
	padding: 3px;
	border:1px solid #C0C0C0;
	background-color: #E0E0E0;
	margin: 55px 0px -20px 0px;
}

div.page-number {
	float: right;
}

div.info-required {
	margin-bottom: 10px;
}

div.identity {
  text-align: left;
  width: 99%;
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 10px;
}

div.header {
	color: #354F6D;
	font-weight: bold;
	width: 100%;
}

div.label-field {
	font: 10px Verdana, sans-serif;
	margin: 0px;
	width: 100%;
}

div.checklist div.label-field {
	margin: 0px;
	float: left;
	clear: right;
	width: 1%;
}

div.label-field label {
	font-weight: bold;
	float: left;
	clear: both;
	margin: 0px;
	width: 24%;
}

div.label-field div.info {
	width: 30%;
	text-indent: 30px;
	font-weight: normal;
	font-size: 10px;
	float: left;
	clear: both;
	margin-top: -5px;
}

div.label-field textarea {
	color: #000000;
	padding: 1px;
	margin-bottom: 2px;
}

div.label-field input {
	font-size: 10px;
	color: #000000;
	padding: 1px;
	margin-bottom: 2px;
}

div.label-field select {
	font-size: 10px;
	color: #000000;
	padding: 1px;
	margin-bottom: 2px;
}

div.label-field div.radio {
	background: url(process/span_medium.gif) #fbe38b no-repeat;
	font: bold 12px Verdana;
	color: #7593b9;
	cursor: pointer;
	margin: 0px 7px 0px 3px;
	padding: 4px 0px 0px 8px;
	width: 107px;
	height: 26px;
	float: left;
}

div.label-field div.radio:hover {
	background-color: #7593b9;
	color: #fbe38b;
}

div.label-field div.check {
	background: url(process/span_medium.gif) #fbe38b no-repeat;
	font: bold 12px Verdana;
	color: #7593b9;
	cursor: pointer;
	margin: 0px 7px 0px 3px;
	padding: 4px 0px 0px 8px;
	width: 107px;
	height: 26px;
	float: left;
}

div.label-field div.check:hover {
	background-color: #7593b9;
	color: #fbe38b;
}

div.label-field div.check_long {
	background: url(process/span_long.gif) #fbe38b no-repeat;
	font: bold 12px Verdana;
	color: #7593b9;
	cursor: pointer;
	margin: 0px 7px 0px 3px;
	padding: 4px 0px 0px 8px;
	width: 170px;
	height: 26px;
	float: left;
}

div.label-field div.check_long:hover {
	background-color: #7593b9;
	color: #fbe38b;
}

.toggle_field {
	color: #000;
	font: 10px Verdana, sans-serif;
}

div.reservation {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	clear: both;
}

div.reservation-header {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}

div.reservation-header div.title {
	width: 40%;
	font-weight: bold;
	float: left;
	clear: right;
}

div.reservation-header div.date {
	width: 28%;
	margin-left: 15%;
	font-weight: normal;
	font-size: 10px;
	float: left;
	clear: both;
	margin-top: -2px;
}

div.reservation-header div.available {
	width: 30%;
	font-weight: normal;
	float: left;
	clear: right;
}

div.detail {
	padding: 4px;
	padding-left: 10px;
}

div.detail div.detail-field {
	width: 100%;
	font-weight: normal;
}

div.detail-field label {
	text-indent: 20px;
	color: #000;
	width: 40%;
	float: left;
	clear: both;
}

div.detail-field div.price {
	width: 15%;
	float: left;
	clear: right;
}

div.detail-field div.field {
	width: 25%;
	float: left;
	clear: right;
}

div.precision {
	width: 20%;
	float: left;
	clear: right;
}

div.priority {
	width: 25%;
	float: left;
	clear: right;
}

