* html #contents
{
	
}

* html .popup
{
	left: 25%;
	margin: 0;
}

* html .block_head
{
	height: 23px;
}

* html .grid_cell .block_head .left 
{
	margin-left: 4px;
}

* html .form_block .fieldset002 .form_cell .input_submit
{
	width: 88px;
}

* html .pagination .link
{
	width: 15px;
}

* html #menu .menu .title
{
	line-height: 2.4em;
}

* html .block002
{
	float: none;
}

* html .block004
{
	margin-right: 0;
	width: 751px;
}

* html .form_cell .block004
{
	width: auto;
}

* html .block006,
* html .block008,
* html .block009,
* html .block011,
* html .block016,
* html .block017
{
	margin: 8px 0pt 1px 4px;
}

* html .block010
{
	margin: 8px 0px 1px 8px;
}

* html .block012,
* html .block015
{
	margin-left: 4px;
}

* html #grid_block .grid_cell .block005,
* html #grid_block .grid_cell .block006,
* html #grid_block .grid_cell .block007,
* html #grid_block .grid_cell .block008,
* html #grid_block .grid_cell .block013,
* html #grid_block .grid_cell .block017
{
	margin-left: 4px;
}

* html #grid_block .grid_column_right .block005,
* html #grid_block .grid_column_right .block006,
* html #grid_block .grid_column_right .block007,
* html #grid_block .grid_column_right .block008,
* html #grid_block .grid_column_right .block013,
* html #grid_block .grid_column_right .block017
{
	margin-left: 0px;
}

* html #grid_block .grid_column_right
{
	margin-right: 0;
}

* html #grid_block .grid_column_right
{
	clear: none;
	float: left;
	margin-left: 0px;
	margin-right: 0;
	padding: 0;
}

* html #grid_block .grid_cell,
* html #grid_block .grid_column_left
{
	clear: none;
}

* html .form_block
{
	width: 769px;
}

* html .form_block001
{
	width: 222px;
}

* html .form_block002 
{
	width: 346px;
}

* html .form_block003
{
	width: 509px;
}

* html #grid_block .grid_column_right .form_block003
{
	margin-right: 30px;
}

* html .block007 .fieldset003 .form_cell001
{
	padding: 0;
	width: 238px;
}

* html .form_block .fieldset006 .form_cell003
{
	width: 100%;
}

* html .form_block .fieldset008 .form_cell001 .label 
{
	width: 368px;
}

* html .block007 .fieldset003 .form_cell001 .input_submit
{
	margin: 0 0 0 2px;
}

* html .form_block .input_submit
{
	width: 77px;
}

* html .form_block .fieldset006 .form_cell003 .input_text
{
	width: 172px;
}

* html .form_block .fieldset010 .form_cell .input_text 
{
	margin-left: 2px;
}

* html .form_block .fieldset008 .form_cell .input_button 
{
	margin: 0 8px;
}

* html .list002 .element 
{
	width: 400px;
}

* html .text013 
{
	width: 464px;
}

* html .text012 
{
	width: 464px;
}

* html .table002
{
	margin: 3px auto;
}

* html .table003
{
	empty-cells: show;
	width: 100%;
}

* html .table008
{
	margin: 0;
	width: 203px;
}

/*
* html .table003 .td,
* html .table003 .td1
{
	border: 1px solid red;
	padding: 0;
	margin: 0;
}*/

* html .table_default tr
{
	height: auto;
}






