/* --------------------------------------------------------------

     Hacks for Microsoft IE6
            
-------------------------------------------------------------- */


/* common/layout.css
-------------------------------------------------------------- */
#hd { height:1%; }
#menu    { height: 1%; margin-bottom: 1px; }


/* common/box.css
-------------------------------------------------------------- */
.login-box form p { margin: 1em 0 0; }
.group-box { height: 1%; }

/* data-detail.css
-------------------------------------------------------------- */
.data-detail dl    { height: 1%; }
.data-detail dl dd { width: 17.75em !important; }

/* common/yui-skin/tabview.css
-------------------------------------------------------------- */
.yui-skin-fong .yui-navset .yui-nav li,
.yui-skin-fong .yui-navset .yui-navset-top .yui-nav { margin-right: 0; }

.yui-skin-fong .yui-navset .yui-nav .selected, 
.yui-skin-fong .yui-navset .yui-navset-top .yui-nav .selected { margin-right: -3px; }

/* request.css
-------------------------------------------------------------- */
#requestTabView dl    { height: 1%; }
#requestTabView dl dd { width: 23.75em !important; }

/* TODO - refactor summary style dl style !! decouple from request creation screen */
.requestSummary #requestTabView dl dd { width: 30em !important; }

#requestTabView .individual.edit dl dd          { width: 17em !important; }
#requestTabView .individual-edit h4 input       { font-size: .6em !important; }
#requestTabView .individual-edit dl.role-add dd { width: 20.75em !important; }

#requestTabView .individual.add .address input.line2 { display: inline; width: 78%; }

#requestTabView .document-fieldset dl dd { width: 24.75em !important; }

#requestTabView form div input { display: block; margin: 0 0 .5em; }
#requestTabView form div uloo li input { display: inline !important; }

#requestTabView .address input { width: 99%; display: inline; margin: 0 0 .5em; padding: .1em; }
#requestTabView .address input.line1 { display: inline; width: 15%; }
#requestTabView .address input.line2 { display: inline; width: 81.5%; }

#requestNotes dl.notes { height: 1%; }
#requestNotes dl.notes dd { width: 74% !important; }

