/* --------------------------------------------------------------

     Hacks for Microsoft IE6
            
-------------------------------------------------------------- */


/* common/layout.css
-------------------------------------------------------------- */

#hd { height:1%; }

#main-menu { height: 1%;}
#main-menu a { width: 4.5em; height: 37px; margin: 0 0 0 1px; }


