/* --------------------------------------------------------------

     Hacks for Microsoft IE7
            
-------------------------------------------------------------- */


/* common/layout.css
-------------------------------------------------------------- */
#menu { height: 1%; margin-bottom: 1px; }


/* data-detail.css
-------------------------------------------------------------- */
.data-detail dl    { height: 1%; }
.data-detail dl dd { width: 17.75em !important; }


/* ticket booking
-------------------------------------------------------------- */
#entertainments dl dd { width: 66% !important; }
#entertainment button { overflow: visible !important; }
