/**
	#header="#e29056"
	#background-color="#fffabc"
	#button="#f7b700"
*/

#banner {
        background: url(../img/banner.jpg) no-repeat;
        width: 100%;
        height: 78px;
}

#banner div.productlogo {
	display: none;
}

#navigation div.back {
    background-color: #fffabc;
    color: #f7b700;
}

#navigation div.back:hover {
    background-color: #f7b700;
    color: #fffabc;
}

#contents #form #title h1 {
    color: #e29056;
}

#contents #form #body { 
	background-color: #fffabc;
}

#contents #form #body div.button {
    background-color: #fffabc;
    color: #f7b700;
}

#contents #form #body div.button:hover {
    background-color: #f7b700;
    color: #fffabc;
}

