/**
	#header="#e29056"
	#background-color="#fffabc"
	#button="#f7b700"
*/
#banner {
        background: url(../img/banner.jpg) no-repeat;
        width: 100%;
        height: 78px;
}

#navigation #identifier div.logout {
        background-color: #fffabc;
        color: #f7b700;
}

#navigation #identifier div.logout:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#tabulation div {
        background-color: #fffabc;
}

#tabulation #contents #action #title h1 {
        color: #e29056;
}

#tabulation #contents #action #body #title h1 {
        color: #e29056;
}

#tabulation #contents #action #body {
        color: #f7b700;
}

#tabulation #contents #action #body div.select:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#tabulation #contents #action #body div.action {
        background-color: #fffabc;
}

#tabulation #contents #action #body div.action:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#tabulation #contents #form #title h1 {
        color: #e29056;
}

#tabulation #contents #form #body {
        background-color: #fffabc;
}

#tabulation #contents #form #body div {
        background-color: #fffabc;
}

#tabulation #contents #form #body #resultsnav div.previous {
        color: #f7b700;
}

#tabulation #contents #form #body #resultsnav div.previous:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#tabulation #contents #form #body #resultsnav div.next {
        color: #f7b700;
}

#tabulation #contents #form #body #resultsnav div.next:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#tabulation #contents #form #body #search div.search {
        color: #f7b700;
}

#tabulation #contents #form #body #search div.search:hover {
        background-color: #f7b700;
        color: #fffabc;
}

tr.table-header {
	color: #fffabc;
	background-color: #e29056;
}

tr.table-oddrow {
	color: #f7b700;
	background-color: #fffabc;
}

tr.table-evenrow {
	color: #fffabc;
	background-color: #f7b700;
}

#contents #form div.info-button {
        background-color: #fffabc;
}

#contents #form div.info-button .button {
        color: #f7b700;
}

#contents #form div.info-button .button:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#contents #form #button-area {
        background-color: #fffabc;
}

#contents #form #button-area div {
        background-color: #fffabc;
        color: #f7b700;
}

#contents #form #button-area div:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#contents #form #welcome .button {
        background-color: #fffabc;
        color: #f7b700;
}

#contents #form #welcome .button:hover {
        background-color: #f7b700;
        color: #fffabc;
}

#contents #form #welcome .radio {
        background-color: #fffabc;
        color: #f7b700;
}

#contents #form #welcome .radio:hover {
        background-color: #f7b700;
        color: #fffabc;
}
