h2 {
	color: #e29056;
}

h3 {
	color: #e29056;
}

#welcome {
	color: #e29056;
}

#header {
	background-color: #fffddd;
}
#personnal {
	background-color: #fffcd2;
}
#public {
	background-color: #fffabc;
}

div.button {
    color: #f7b700;
}

div.label-button div.button:hover {
    background-color: #f7b700;
    color: #fffabc;
}

div.label-left-button div.button:hover {
    background-color: #f7b700;
    color: #fffabc;
}
