.yui-skin-sam .yui-calcontainer .title {
	background: url(../img/table/table_header.png) repeat-x 0 -10px;
}

.yui-skin-sam .yui-calcontainer .calclose {
	background: url(../img/calendar/close.png);
}

.yui-skin-sam .yui-calendar .calnavleft {
	background: url(../img/calendar/left.png);
}

.yui-skin-sam .yui-calendar .calnavright {
	background: url(../img/calendar/right.png);
}