div.yuimenu {
    border-left:solid 1px #34AA87;
    border-right:solid 1px #34AA87;
    border-bottom:solid 1px #34AA87;
}

div.yuimenu h6 {
    background: url(../img/table/table_header.png) repeat-x 0 -10px;
    font-size: 1.2em;
    text-align: center;
    border-bottom: solid 1px #34AA87;
    border-top: solid 1px #34AA87;
}

div.yuimenu li {
    text-align: center;
    margin:2px;
}

div.yuimenu li:hover {
    background-color: #34AA87;
    cursor: pointer;
}

div.yuimenu li.selected-menu-item {
    background-color: #34AA87;
    font-weight: bold;
    font-size: 1.1em;
}

div.yuimenu a {
    text-decoration: none;
    color: black;
}

