<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
    <property name="mappings">
      <props>
        <prop key="{http://www.capwebct.fr/modules/payment/schema/inv}invoiceDetailsRequest">invoiceEndpoint</prop>
        <prop key="{http://www.capwebct.fr/modules/payment/schema/acc}accountDetailsRequest">accountEndpoint</prop>
        <prop key="{http://www.capwebct.fr/modules/payment/schema/fam}familyAccountsRequest">familyAccountEndpoint</prop>
        <prop key="{http://www.capwebct.fr/modules/payment/schema/ban}bank-transaction">creditAccountEndpoint</prop>
      </props>
    </property>
    <property name="interceptors">
      <list>
        <bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
        <!-- 
        <bean class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
          <property name="schemas" value="classpath:**/CreditAccount.xsd" />
          <property name="validateRequest" value="true" />
          <property name="validateResponse" value="true" />
        </bean>
        -->
      </list>
    </property>
  </bean>


  <!-- ENPOINT  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <bean id="invoiceEndpoint"
    class="fr.capwebct.modules.payment.webservice.endpoint.InvoiceEndpoint">
    <constructor-arg ref="invoiceService" />
    <constructor-arg ref="xmlBeanMarshaller" />
  </bean>

  <bean id="accountEndpoint"
    class="fr.capwebct.modules.payment.webservice.endpoint.AccountEndpoint">
    <constructor-arg ref="accountService" />
    <constructor-arg ref="xmlBeanMarshaller" />
  </bean>

  <bean id="familyAccountEndpoint"
    class="fr.capwebct.modules.payment.webservice.endpoint.FamilyAccountEndpoint">
    <constructor-arg ref="familyAccountService" />
    <constructor-arg ref="invoiceService" />
    <constructor-arg ref="accountService" />
    <constructor-arg ref="contractService" />
    <constructor-arg ref="xmlBeanMarshaller" />
  </bean>

  <bean id="creditAccountEndpoint"
    class="fr.capwebct.modules.payment.webservice.endpoint.CreditAccountEndpoint">
    <constructor-arg ref="paymentService" />
    <constructor-arg ref="xmlBeanMarshaller" />
  </bean>

</beans>
