<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>

  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>capwebct.payment_module.root</param-value>
  </context-param>

  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>

  <filter>
    <filter-name>CAS Filter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>casFilter</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>User Extraction Filter</filter-name>
    <filter-class>fr.capwebct.modules.payment.web.filter.UserExtractionFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Admin Area Filter</filter-name>
    <filter-class>fr.capwebct.modules.payment.web.filter.AdminAreaFilter</filter-class>
  </filter>

  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CAS Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CAS Filter</filter-name>
    <url-pattern>/familyaccount/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CAS Filter</filter-name>
    <url-pattern>/management/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>User Extraction Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>User Extraction Filter</filter-name>
    <url-pattern>/familyaccount/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>User Extraction Filter</filter-name>
    <url-pattern>/management/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>Admin Area Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>management</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>familyaccount</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>spring-ws</servlet-name>
    <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>management</servlet-name>
    <url-pattern>/management/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>familyaccount</servlet-name>
    <url-pattern>/familyaccount/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>spring-ws</servlet-name>
    <url-pattern>/webservice/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>home/home.jsp</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All pages</web-resource-name>
      <url-pattern>/home/*</url-pattern>
      <url-pattern>/management/*</url-pattern>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/familyaccount/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint> 

</web-app>
