<g:requestForms forms="${forms}" />
<html>
  <head>
  </head>
  <body>
    <div align="center">
      <img src="http://us.i1.yimg.com/us.yimg.com/i/us/nt/ma/ma_devnet_1.gif" />
    </div>
    <div align="right" style="margin-bottom:20px;margin-top:20px;">
      <p>From: Rafik DJEDJIG</p>
      <p>To: Douglas Crockford</p>
      <p>City: Paris </p>
      <p>Country: France </p>
    </div>
    <div align="center" style="margin-bottom:40px;">
      <h1>Dear Douglas</h1>
    </div>
    <g:editableZone id="Lab2" class="editable-zone">
      <p>I would like to inform you that I'm your biggest fan ! I've bought all your books,
      and I've hanged your poster in my bedroom. I thinking of you everytime, and I've wrote
      following poem for you:</p>
    </g:editableZone>
    <div style="margin-top:50px;">
      <p>--</p>
      <p>With love,</p>
      <p>Rafik DJEDJIG.</p>
    </div>
  </body>
</html>