<g:requestForms forms="${forms}" />
<html>
  <head>
    <title>${name}</title>
  </head>
  <body>
    <div align="center">
      <img src="http://us.i1.yimg.com/us.yimg.com/i/us/nt/ma/ma_devnet_1.gif" />
    </div>
    <div align="right" style="margin-bottom:20px;margin-top:20px;">
      <p>From: Rafik DJEDJIG</p>
      <p>To: Douglas Crockford</p>
      <p>City: Paris </p>
      <p>Country: France </p>
    </div>
    <div align="center" style="margin-bottom:40px;">
      <h1>Dear Douglas</h1>
    </div>
    <div id="editable-1" class="editable-zone">
      <p> </p>
      <p>I would like to inform you that I'm your biggest fan ! I've bought all your books,
      and I've hanged your poster in my bedroom. I thinking of you everytime, and I've wrote
      following poem for you:</p>
    </div>
    <div id="editable-2" class="editable-zone">
      <p> </p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce est odio, rutrum ac, tempor id, dapibus vel, justo. Proin quis lectus. Suspendisse id lorem et neque ornare dapibus. Mauris semper sem at nisi. Etiam fermentum risus et pede. Sed urna nunc, venenatis at, condimentum ac, pharetra et, risus. Pellentesque sapien sapien, aliquam euismod, hendrerit nec, blandit at, odio. Nulla dolor. Praesent in leo vel libero pretium dapibus. Suspendisse suscipit orci a elit. Aenean ultricies magna ut nisi. In non justo. Pellentesque tristique mi eget leo</p>
    </div>
    <div id="editable-3" class="editable-zone">
      <p> </p>
      <p>Nam a diam. Ut congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam mauris. Duis eget justo. Sed arcu. Praesent fringilla orci non nisl. Integer semper, risus congue accumsan rutrum, arcu lorem luctus justo, vel semper diam mi sit amet nisi. Curabitur quis risus. Aenean tristique purus id sem. Nam ultricies ullamcorper ligula. Vestibulum magna purus, iaculis nec, dignissim non, tristique convallis, metus. Nullam porta, tortor id rhoncus malesuada, tellus neque sagittis augue, eget volutpat tellus nibh quis erat. Ut risus purus, pellentesque facilisis, lobortis porta, porttitor vel, leo. Quisque lectus augue, auctor tempor, tincidunt sit amet, tristique in, mi. Nunc semper blandit quam.</p>
    </div>
    <div id="editable-4" class="editable-zone">
      <p> </p>
      <p>Nulla adipiscing pretium ligula. Curabitur sed nunc vel leo varius placerat. Curabitur sodales dictum ante. Aenean at nisi id orci varius posuere. Fusce ut lectus ultrices augue adipiscing mattis. Sed pharetra dui eu sem. Suspendisse interdum aliquam libero. Morbi ut enim sit amet justo aliquam viverra. Nam ipsum. Donec elit pede, fringilla id, sagittis et, cursus in, erat. Etiam id enim eu libero malesuada porttitor. Donec convallis. Integer pharetra, dolor a pellentesque pretium, lectus elit porttitor turpis, quis aliquam justo magna vel neque.</p>
    </div>
    <g:editableZone id="Lab1" class="editable-zone">
      NULLA ADIPISCING PRETIUM LIGULA. CURABITUR SED NUNC VEL LEO VARIUS PLACERAT. CURABITUR SODALES DICTUM ANTE. AENEAN AT NISI ID ORCI VARIUS POSUERE. FUSCE UT LECTUS ULTRICES AUGUE ADIPISCING MATTIS.      
    </g:editableZone>
    <g:editableZone id="Lab2" class="editable-zone">
      Nam a diam.       
    </g:editableZone>
    <div style="margin-top:50px;">
      <p>--</p>
      <p>With love,</p>
      <p>Rafik DJEDJIG.</p>
    </div>
  </body>
</html>