/*--------------------------------------------------------------

    boxex

---------------------------------------------------------------*/


/* request box - TODO : must be rename
---------------------------------------------------------------*/

.narrow-box { margin: 0 0 1.5em 0; color: #000000; }

.narrow-box h3 {
  margin: 0 0 .2em 0; padding: .7em .5em;
  font-size: 1.1em;
  -moz-border-radius: .5em .5em 0 0;
  background: #c690bb;
}

.narrow-box .body {
  padding: .5em;
  color: #000000;
  background: #dddddd;
}

.narrow-box .body select {
  width: 100%;
  display: block;
  margin: .1em 0 1em 0;
  padding: .2em;
  border: 1px solid #cdcdcd;
  border-top-color: #7fa646;
  font-size: 1.1em;
  font-weight: normal;
  color: #4e662b;
}

.narrow-box .body strong { font-size: 1.2em; }

.narrow-box .body a {
  display: block;
  margin: .5em 0 0 0;
  text-decoration: none;  
}
.narrow-box .body a:hover { text-decoration: underline; }

.narrow-box .body ul { margin: 0; padding: 0; }
.narrow-box .body li {
  margin: 0; padding: .5em 0;
  list-style-type: none;
  border-bottom: 1px dashed #7fa646;
}
.narrow-box .body li a { display: inline; }


/* list box
--------------------------------------------------------------*/

.list-box { margin: 0 0 1em 0; padding: 0 0 1em; background: #ffffff; }

.list-box h2 { 
  margin: 0 !important;
  color: #C690BB; 
  background: #4c3848;
  border-bottom: 3px solid #C690BB;
}

.list-box p.paginator, 
.list-box p.see-all,
.list-box p.empty     { padding: 1em 1em 0; font-size: 1.2em; }
.list-box p.paginator { margin: 0;  text-align: center; }
.list-box p.see-all   { text-align: right; }

.list-box p.see-all a, .list-box p.paginator a { color: #4C3848; text-decoration: none; }
.list-box p.see-all a:hover, 
.list-box p.paginator a:hover,
.list-box p.paginator span.currentStep { color: #ffffff; background: #C690BB; }

.list-box p.paginator a.step,
.list-box p.paginator span.currentStep,
.list-box p.paginator a.prevLink,
.list-box p.paginator a.nextLink { padding: 0 .3em; }

.list-box ul { margin: 0; padding: 0 1em; font-size: 1.1em; }
.list-box ul li {
  list-style-type: none;
  margin: 0; padding: .6em 0;
  border-bottom: 1px dashed #bbbbbb;
}
.list-box ul li p          { margin: 0; }
.list-box ul li .tag-state { float: right; margin-left : 0.5em; }


/* main box 
--------------------------------------------------------------*/

.main-box { margin: 0 0 1em 0; background: #ffffff; }

.main-box h2 { 
  color: #C690BB; background: #4c3848;
  border-bottom: 3px solid #C690BB;
  margin: 0.5em;
}

.main-box p { padding: .5em .5em; }


/* user feedback  box
--------------------------------------------------------------*/

.confirmation-box, .error-box, .success-box, .information-box {
  margin: 0 0 1em;  padding: 1em;
  border: 3px solid #000;
  text-align: center;
  clear: both;
}
.confirmation-box p, .error-box p, .success-box p { margin: 0 0 .5em; font-size: 1.3em; }
.confirmation-box h2 { margin-bottom: .5em; color: #000; }

.confirmation-box, 
.error-box         { border-color: #ff5555; background: #ffeeee; }
.success-box       { border-color: #20CC20; background: #ECFDEC; }
.information-box   { border-color: #ffaa00; background: #ffffcc; text-align: left; }

.outOfAccount-login-box p          { font: normal 1.5em sans-serif; margin: 0 0 .5em;  }
.outOfAccount-login-box p.error    { padding: 0; sans-serif; text-align: left; }
.outOfAccount-login-box input.text { margin-right: 1em; font-size:1.2em; border: 1px solid #ffaa00; }

/* summary box (eg. all the fields of a request)
--------------------------------------------------------------*/

.summary-box { background-color : #fff; }

.summary-box h2 {
  color: #C690BB; background: #4c3848;
  border-bottom: 3px solid #C690BB;
}

.summary-box .body { padding : 10px; }

.summary-box h3 {
  margin: 1em 0;
  padding: 0 0 .5em 0;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #A0D158;
}

.summary-box h4 { margin: 1em 0 0 0; font-size: 1.2em; }

.summary-box dl {
  margin : 10px 0;
  border-bottom: 1px dashed #C690BB;
  color: #333; background: #eee;
  overflow: auto;
}

.summary-box dl dt,
.summary-box dl dd {
  float: left;
  margin: 0;
  padding: 0.4em 2%;
  border-top: 1px dashed #C690BB;
}

.summary-box dl dt { width : 30%; min-height: 1.5em; text-align: right; clear: both; }
.summary-box dl dd { width : 62%; font-size: 1.15em; }

.summary-box dl dd p { margin: 0; padding: 0.1em; }

.summary-box dl dd li { display:block; }
