/*--------------------------------------------------------------

    styles for data details views (individual, document, ...)

---------------------------------------------------------------*/

.data-detail { background: transparent; }

.data-detail h2 {
  margin: 0 0 .5em;
  font-size: 2.5em;
  border-bottom: 1px dashed #C690BB;
}

.data-detail h3 {
  margin: 0 0 .5em;
  font: normal 1.5em sans-serif;
  color: #C690BB; 
}

.data-detail .yui-g {
  padding: 1em; margin: 0 0 1em;
  border: 1px solid #C690BB;
   -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  background: #fff;
}

.data-detail dl {
  border-bottom: 1px dashed #aaa;
  color: #333; background: #eee;
  overflow: auto;
}
.data-detail dl dt,
.data-detail dl dd {
  float: left;
  margin: 0;
  padding: .3em;
  border-top: 1px dashed #aaa;
}
.data-detail dl dt   { width: 10em; min-height: 1.5em; text-align: right; clear: both; }
.data-detail dl dd   { width: 19.5em; font-size: 1.15em; }
.data-detail dl dd p { padding: 0.1em; }

.data-detail .yui-g img { max-width: 97%; margin: 1em; }

.data-detail .list-box  { border-top: 0; }
