/*--------------------------------------------------------------

    styles for data details views (individual, document, ...)

---------------------------------------------------------------*/

.data-detail    { padding: 1em; }
.data-detail h2 { margin: 0 0 .5em; font-size: 2.5em; border-bottom: 1px dashed #e6648d; }
.data-detail h3 { margin: 0 0 .5em; font: normal 1.5em sans-serif; color: #e6648d;}

.data-detail .yui-g {
  padding: 1em; margin: 0 0 1em;
  -moz-border-radius: .5em; -webkit-border-radius: .5em;
   border: 1px solid #e6648d;
}

.data-detail dl {
  border-bottom: 1px dashed #e6648d;
  color: #333; background: #eee;
  overflow: auto;
}
.data-detail dl dt,
.data-detail dl dd   { float: left; margin: 0; padding: .3em; border-top: 1px dashed #e6648d; }
.data-detail dl dt   { width: 10em; min-height: 1.5em; text-align: right; clear: both; }
.data-detail dl dd   { width: 18.5em; font-size: 1.15em; }
.data-detail dl dd p { padding: 0.1em; }

.data-detail .yui-g img { display: block; max-width: 97%; margin: auto; margin-bottom: 1em; }
.data-detail .list-box  { border-top: 0; }

a:hover#previewDocumentLink { display: block; background: transparent !important; }
#openDocumentLink { text-align: center; display: block; }
#openDocumentLink a { margin-bottom: 1em; }