/* COMMON */
/* main */
*
{
  margin: 0;
  padding: 0;
}

a img, a:hover img
{
  border: none;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.clear-both
{
  clear: both;
}

.required
{
  margin-left: 3px;
}

/* mainframe */
#mainframe
{
  font: 0.7em/1em Arial, Helvetica, sans-serif;
}

/* context */
#context .context_block_notice
{
  margin: 7px 0 8px 6px;
  border: 1px solid;
  text-align: center;
  background: url(img/context_block_notice_bg.gif) no-repeat center bottom;
  padding-bottom: 25px;
}

#context .context_block
{
  margin: 7px 0 8px 6px;
}

#context .context_block h1
{
  display: block;
  border: 1px solid;
  font-size: 1.1em;
  line-height: 1em;
  padding: 5px;
}

#context .context_block h4
{
  font-size: 1em;
}

#context .context_block p.notice
{
  padding: 5px;
}

#context .context_block_notice p.notice
{
  padding: 5px;
}

#context .context_block .context_link
{
  display: block;
  height: auto!important;
  height: 25px; /* IE */
  min-height: 25px;
  margin: 2px 0;
  line-height: 1.9em;
  font-size: 1em;
}

#context .context_block .context_people_ok .custom_color
{
  float: left;
  display: block;
  width: 39px;
  height: 23px;
  background: url(img/picto_people_ok.gif) no-repeat left bottom;
  margin: 0 3px;
}

#context .context_block .context_document_ok .custom_color
{
  float: left;
  display: block;
  width: 39px;
  height: 23px;
  background: url(img/picto_document_ok.gif) no-repeat left bottom;
  margin: 0 3px;
}

#context .context_block .context_rule_ok .custom_color
{
  float: left;
  display: block;
  width: 39px;
  height: 23px;
  background: url(img/picto_rule_ok.gif) no-repeat left bottom;
  margin: 0 3px;
}

/* content */
#content_top
{
  float: left;
  width: 590px;
  height: 40px;
  margin-top: 7px;
  background: url(img/content_top_bg.gif) no-repeat left top;
}
#content_top h2
{
  clear: left;
  float: left;
  display: inline;
  margin-top: 7px;
  margin-left: 25px;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}

#content_top_links
{
  float: right;
  text-align: right;
  height: 35px;
  line-height: 35px;
  list-style-type: none;
  font-weight: bold;
}

#content_top_links li
{
  float: left;
  display: block;
  margin-right: 15px;
}

#content_top_links li.top_cancel a
{
  float: left;
  text-decoration: underline;
}

#content_top_links li.top_help a
{
  float: left;
  text-decoration: underline;
}

#content_middle
{
  float: left;
  width: 535px;
  height: auto!important;
  height: 450px; /* IE */
  min-height: 450px;
  background: url(img/content_middle_bg.gif) repeat-y right top;
  padding: 5px 15px 0 40px;
}

#content_middle h3
{
  font-size: 1.2em;
}

#content_bottom
{
  float: left;
  width: 590px;
  height: 1px;
  font-size: 0;
  background: url(img/content_bottom_bg.gif) no-repeat left top;
}

/* footer */
#footer ul
{
  position: relative;
  list-style-type: none;
}

#footer ul li.logo
{
  display: inline;
  margin-top: 10px;
}

#footer ul li.logo span.logo_img
{
  float: left;
  display: block;
  width: 40px;
  margin-top: 10px;
  text-align: center;
}

#footer ul li.right span.logo_img
{
  float: right;
  display: none;
}

#footer a.info
{
  position: relative;
  text-decoration: none;
  z-index: 24;
}

#footer a.info span.logo_legend
{
  display: none;
}

#footer a.info:hover
{
  background: none;
  z-index: 25;
}

#footer a.info:hover span.logo_legend
{
  display: block;
  position: absolute;
  width: 500px;
  text-align: center;
  font-size: 0.8em;
  left: 105px;
  top: 10px;
  padding-bottom: 20px;
}

#footer ul li.legend
{
  position: absolute;
  left: 105px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
}

#footer ul li p.legend_text
{
  font-size: 0.8em;
}

/* CONTENT_MIDDLE */
/* main */
.caution
{
  display: block;
  clear: both;
  float: left;
}

/* paragraph */
.paragraph
{
  clear: both;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 10px;
  width: auto;
}

.high_paragraph
{
  clear: both;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 10px;
  margin-bottom: 15px;
  width: auto;
}

.tabulation
{
  margin-left: 5px;
}

.large_notice_txt
{
  float: left;
  width: 474px;
  text-align: center;
  margin: 5px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.large_notice_bg
{
  float: left;
  width: 474px;
  height: 22px;
  background: url(img/large_notice_bg.gif) no-repeat left bottom;
}

/* picto */
.people
{
  background: url(img/picto_people.gif) no-repeat 10px top;
  height: 29px;
}

.people a
{
  float: left;
  display: block;
  padding: 0px 40px;
  height: 29px;
}

.house
{
  background: url(img/picto_house.gif) no-repeat 10px top;
  height: 29px;
}

.house a
{
  float: left;
  display: block;
  padding: 0px 40px;
  height: 29px;
}

.capital
{
  background: url(img/picto_capital.gif) no-repeat 10px top;
  height: 29px;
}

.capital a
{
  float: left;
  display: block;
  padding: 0px 40px;
  height: 29px;
}

.savings
{
  background: url(img/picto_savings.gif) no-repeat 10px top;
  height: 29px;
}

.savings a
{
  float: left;
  display: block;
  padding: 0px 40px;
  height: 29px;
}

.cancel
{
  clear: both;
  float: left;
  background: url(img/picto_cancel.gif) no-repeat left top;
  height: 29px;
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.8em;
}

.cancel a
{
  float: left;
  display: block;
  padding: 0 40px;
  height: 29px;
}

.add
{
  clear: both;
  float: left;
  height: 29px;
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.8em;
}

.add a
{
  float: left;
  display: block;
  padding: 0 40px;
  height: 29px;
}

.actions_list .add .custom_color
{
  float: left;
  width: 32px;
  height: 27px;
  margin-right: 8px;
  background: url(img/picto_plus.gif) no-repeat left top;
}

.classic_item
{
  padding-left: 10px;
  background: url(img/picto_classic_item.gif) no-repeat left 4px;
}

.list .document
{
  background: url(img/picto_document.gif) no-repeat 5px center;
  height: 29px;
}

.list .document a
{
  float: left;
  display: block;
  padding: 0px 40px;
  height: 29px;
  line-height: 23px;
}


/* LISTS */
.list
{
  float: left;
  clear: left;
  list-style-type: none;
  margin: 10px 0;
}

ul.actions_list,
ul.insert_list,
ul.confirm_list,
ul.validation_list,
ul.navigation_links
{
  float: left;
  clear: both;
  list-style-type: none;
}

ul.tool_list
{
  float: left;
  clear: both;
  list-style-type: none;
  width: 550px;
}

.list .title,
.list .people,
.list .document,
.list .action_row
{
  float: left;
  clear: left;
  margin: 5px 0;
}

.list .title
{
  font-size: 1.2em;
  line-height: 1.4em;
  border-bottom: 1px solid;
  font-weight: bold;
}

.list .subtitle
{
  font-size: 1.2em;
  line-height: 1.4em;
  border-bottom: 1px solid;
  font-weight: bold;
}

/* basic action list */
.actions_list
{
  float: left;
  margin: 5px 0 10px 1px;
  width: 510px;
}

/* complete action list */
.list .action_row
{
  display: block;
  height: 27px;
  padding-left: 30px;
  width: 480px;
}

.list .action_row_last
{
  margin: 20px 0;
}

.list .action_row .action_row_plus,
.list .action_row .action_row_right,
.list .action_row .action_row_cancel
{
  float: left;
  display: block;
  height: 27px;
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
}

.list .action_row .custom_color
{
  float: left;
  width: 32px;
  height: 27px;
  margin-right: 8px;
}

.list .action_row .action_row_plus .custom_color
{
  background: url(img/picto_plus.gif) no-repeat left top;
}

.list .action_row .action_row_right .custom_color
{
  background: url(img/picto_right.gif) no-repeat left top;
}

.list .action_row_cancel .custom_color
{
  background: url(img/picto_cancel.gif) no-repeat left top;
}

.tool_list .print
{
  float: left;
  display: block;
  height: 27px;
  line-height: 2em;
  margin: 5px 15px 5px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.tool_list .print .custom_color
{
  float: left;
  display: block;
  background: url(img/picto_print.gif) no-repeat left top;
  width: 32px;
  height: 27px;
  margin-right: 5px;
}

.tool_list .cross
{
  float: left;
  display: block;
  height: 27px;
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
  margin: 5px;
}

.tool_list .cross .custom_color
{
  float: left;
  display: block;
  background: url(img/picto_cross.gif) no-repeat left top;
  width: 32px;
  height: 27px;
  margin-right: 5px;
}

/* form confirmation list */
.confirm_list li.text_row
{
  clear: both;
  float: left;
  margin: 2px 0;
  width: 550px;
}

.confirm_list li.text_row .label,
.confirm_list li.text_row .empty_label
{
  float: left;
  display: block;
  height: auto;
  line-height: 23px;
  width: 160px;
  padding-left: 15px;
  font-weight: bold;
  border: 1px solid;
  margin-left: 5px;
}

.confirm_list li.text_row .empty_label {
  border: 1px solid white;
}

.confirm_list li.text_row .text
{
  float: left;
  display: block;
  width: 215px;
  min-height: 21px;
  height: auto!important;
  height: 21px; /* IE6 */
  line-height: 1.2em;
  border: 1px solid;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 5px 0 5px;
}

/* form validation list */
.validation_list li.text_row
{
  clear: both;
  float: left;
  margin: 2px 5px;
  width: 500px;
  border: 1px solid;
  padding: 0px;
}

.validation_list li.text_row .label,
.validation_list li.text_row .empty_label
{
  float: left;
  display: block;
  height: auto;
  line-height: 1.5em;
  padding-left: 25px;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0px;
  background: url(img/validation_text_bg.gif) repeat-y left top;
}

.validation_list li.text_row .empty_label
{
  padding-left: 50px;
}

.validation_list li.text_row .text
{
  float: left;
  display: block;
  height: auto;
  line-height: 1.5em;
  padding-left: 5px;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0px;
}

.validation_list li.text_row .strong_label
{
  clear: both;
  display: block;
  height: 28px;
  line-height: 2em;
  width: 450px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 1.3em;
  border: 1px solid;
  margin: 2px 5px;
  background: url(img/validation_text_bg.gif) repeat-y left top;
}

/* double column list */
.dbl_column .list
{
  float: left;
  clear: none;
  width: 255px;
}

.dbl_column .list .subtitle
{
  width: 220px;
}


/* media */
.media_file
{
  clear: both;
  float: left;
  margin-left: 5px;
}

.div_imagearea{
	position: relative;
	left: 24px;
	top: 10px;
	width: 98%;
}

.div_image{
	position: absolute;
	width: 140px;
	height: 195px;
	cursor: pointer;
}


/** ADD **/
#context .context_block_demandeur
{
  margin: 7px 0 8px 6px;
  border: 1px solid;
  min-height: 38px;
  height: auto!important;
  height: 38px; /* IE6 */
  background: url(img/context_block_demandeur_bg.gif) no-repeat left center;
  padding-left: 52px;
}

#context .context_block_demandeur h1
{
  display: block;
  font-size: 1.1em;
  line-height: 2.5em;
  padding: 5px;
}


#content_wide_top
{
  float: left;
  width: 675px;
  height: 40px;
  margin-top: 7px;
  background: url(img/content_wide_top_bg.gif) no-repeat left top;
}

#content_wide_top h2
{
  clear: left;
  float: left;
  display: inline;
  margin-top: 7px;
  margin-left: 25px;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}

#content_wide_middle
{
  float: left;
  width: 620px;
  height: auto!important;
  height: 450px; /* IE */
  min-height: 450px;
  background: url(img/content_wide_middle_bg.gif) repeat-y right top;
  padding: 5px 15px 0 40px;
}

#content_wide_bottom
{
  float: left;
  width: 675px;
  height: 1px;
  font-size: 0;
  background: url(img/content_wide_bottom_bg.gif) no-repeat left top;
}

#content_full_top
{
  float: left;
  width: 768px;
  height: 40px;
  margin-top: 7px;
  background: url(img/content_full_top_bg.gif) no-repeat left top;
}

#content_full_top h2
{
  clear: left;
  float: left;
  display: inline;
  margin-top: 7px;
  margin-left: 25px;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}

#content_full_middle
{
  float: left;
  width: 748px;
  height: auto!important;
  height: 450px; /* IE */
  min-height: 450px;
  background: url(img/content_full_middle_bg.gif) repeat-y right top;
  padding: 0px 3px 0 17px;
}

#content_full_bottom
{
  float: left;
  width: 768px;
  height: 1px;
  font-size: 0;
  background: url(img/content_full_bottom_bg.gif) no-repeat left top;
}

.caution_paragraph
{
  clear: both;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 10px;
  width: auto;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.presentation
{
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.submit_list
{
  float: left;
  clear: both;
  list-style-type: none;
  padding-left: 110px;
  width: 220px;
  margin: 10px 0;
}

.fieldset_zone_inscription .paragraph
{
  margin: 0;
  font-size: 1em;
  line-height: 1.3em;
}

.list_inline
{
  float: left;
  clear: both;
  list-style-type: none;
  margin: 5px 0;
  width: 620px;
}

.list_inline .time_row
{
  float: left;
  display: block;
  width: 250px;
  height: 30px;
  padding-left: 30px;
  background: url(img/picto_clock.gif) no-repeat left top;
  margin-right: 20px;
}

.list_inline .document_row
{
  float: left;
  display: block;
  width: 250px;
  padding-left: 30px;
  padding-top: 5px;
  background: url(img/picto_document_big.gif) no-repeat left top;
}

.list_inline .time_row .paragraph
{
  line-height: 2em;
}

.list_inline .paragraph
{
  margin-top: 0;
  font-weight: bold;
}

.list_inline .paragraph strong
{
  font-weight: normal;
}

.list_inscription_steps
{
  float: left;
  clear: both;
  list-style-type: none;
  margin: 10px 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  overflow-y: scroll;
  height: 180px;
  width: 620px;
}

.list_inscription_steps .row
{
  clear: both;
  float: left;
  display: block;
  padding-bottom: 1px;
  background: url(img/dotted_border.gif) repeat-x left bottom;
  width: 600px;
}

.list_inscription_steps .last_row
{
  clear: both;
  float: left;
  display: block;
  padding-bottom: 1px;
  background: none;
  width: 600px;
}

.list_inscription_steps .label
{
  clear: none;
  float: left;
  display: block;
  font-size: 1.2em;
  line-height: 2em;
  width: 120px;
  padding-left: 10px;
  font-weight: bold;
}

.list_inscription_steps .label .picto_step
{
  float: left;
  display: block;
  width: 21px;
  height: 20px;
  margin-top: 5px;
  background: url(img/picto_square_bg.gif) no-repeat left top;
}

.list_inscription_steps .paragraph
{
  clear: none;
  float: left;
  display: block;
  margin: 0;
  width: 435px;
  padding: 3px 0 3px 15px;
  border-left: 1px solid;
  height: auto!important;
  height: 35px; /* IE */
  min-height: 35px;
}

.fieldset_zone_inscription_steps .actions_list .validation
{
  height: 29px;
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.8em;
}

.paragraph_introduction
{
  clear: both;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 10px;
  width: auto;
}

.paragraph_introduction a,
.fieldset_zone_inscription .paragraph a
{
  text-decoration: underline;
}

/* page 23 - 25 */
.text_row .paragraph
{
  padding-left: 5px;
}

.validation_paragraph
{
  float: left;
  width: 500px;
  clear: both;
  margin-top: 20px;
  margin-bottom: 10px;
}

.validation_list .cross
{
  float: left;
  display: block;
  height: 27px;
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 50px;
}

.validation_list .cross .custom_color
{
  float: left;
  display: block;
  background: url(img/picto_cross.gif) no-repeat left top;
  width: 32px;
  height: 27px;
  margin-right: 5px;
}




/* COMMON.CSS Music School*/

.dropdown_list
{
  float: left;
  clear: both;
  list-style-type: none;
}

.dropdown_list .element
{
  float: left;
  clear: left;
  margin: 5px 0;
  line-height: 2em;
  width: 505px;
  padding-left: 5px;
}

.dropdown_list .element .element_link
{
  float: left;
  background: url(img/list_element.gif) no-repeat left top;
  height: 26px;
  line-height: 1.7em;
  font-size: 1.1em;
  width: 219px;
  display: block;
  padding-left: 5px;
}

.dropdown_list .element .element_link .custom_color,
.dropdown_list .sublist .element .element_link .custom_color
{
  float: left;
  margin-top: 3px;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.dropdown_list .close .element_link .custom_color,
.dropdown_list .sublist .close .element_link .custom_color
{
  background: url(img/picto_1.gif) no-repeat left top;
}

.dropdown_list .open .element_link .custom_color,
.dropdown_list .sublist .open .element_link .custom_color
{
  background: url(img/picto_2.gif) no-repeat left top;
}

.dropdown_list .element .sublist
{
  clear: both;
  list-style-type: none;
}

.dropdown_list .sublist .element
{
  width: 455px;
  padding-left: 25px;
}

.dropdown_list .sublist .element .element_link
{
  background: url(img/sublist_element.gif) no-repeat left top;
  width: 171px;
  font-size: 0.9em;
  line-height: 1.9em;
  margin-right: 10px;
}

.dropdown_list .element .element_th
{
  float: left;
  display: block;
  background: url(img/table_th_2.gif) no-repeat left top;
  width: 68px;
  padding-right: 5px;
  height: 26px;
  font-size: 0.9em;
  line-height: 1.9em;
  text-align: center;
  margin-left: 25px;
  margin-right: 15px;
}

.dropdown_list .element_form_row
{
  padding: 2px 0;
  width: 505px;
  margin-left: 5px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.dropdown_list .sublist .element_form_row
{
  padding: 2px 0;
  margin-left: 50px!important;
  margin-left: 25px;
  width: 455px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.table_type101
{
  clear: both;
  border: 1px solid;
  border-collapse: collapse;
  margin: 7px 0 17px 25px;
}

.sublist .table_type101
{
  margin-left: 25px;
}

.table_type101 .td
{
  border: 1px solid;
  padding: 5px;
}

.table_type101 .td1
{
  width: 190px;
}

.sublist .table_type101 .td1
{
  width: 155px;
}

.table_type101 .td2,
.table_type101 .td3
{
  width: 105px;
  text-align: center;
}

#context .context_block .context_activity_ok
{
  line-height: 1.4em;
  font-weight: normal;
}

#context .context_block .context_activity_ok .custom_color
{
  float: left;
  display: block;
  width: 39px;
  height: 23px;
  background: url(img/picto_activity_ok.gif) no-repeat left bottom;
  margin: 0 3px;
}

