/* FORMS */
/* common */
form
{
  float: left;
  clear: both;
  margin: 0;
}

form.resum
{
  float: none;
}

input, select, textarea
{
  font-family: Arial, Helvetica, sans-serif;
}

.inline_text
{
  margin: 0px;
  padding: 0 5px;
  height: auto;
  line-height: 16px;
}

/* fieldset */
.fieldset_zone
{
  clear: both;
  float: left;
  margin: 0px 0;
  border: none;
}

.dbl_column
{
  clear: both;
  float: left;
  border: none;
  width: 550px;
}

/* title / subtitle */
.fieldset_title_people
{
  clear: both;
  float: left;
  width: 510px;
  margin: 10px 0 5px 0;
  height: 40px;
  line-height: 35px;
  background: url(img/fieldset_title_people_bg.gif) no-repeat left top;
}

.fieldset_title_document
{
  clear: both;
  float: left;
  width: 510px;
  margin: 10px 0 5px 0;
  height: 40px;
  line-height: 35px;
  background: url(img/fieldset_title_document_bg.gif) no-repeat left top;
}

.fieldset_title_rule
{
  clear: both;
  float: left;
  width: 510px;
  margin: 10px 0 5px 0;
  height: 40px;
  line-height: 35px;
  background: url(img/fieldset_title_rule_bg.gif) no-repeat left top;
}

.fieldset_title_spectacle
{
  clear: both;
  float: left;
  width: 510px;
  margin: 10px 0 5px 0;
  height: 40px;
  line-height: 35px;
  background: url(img/fieldset_title_spectacle_bg.gif) no-repeat left top;
}

.fieldset_title
{
  font-size: 1.2em;
  float: left;
  padding-left: 35px;
  display: inline;
}

.fieldset_title_modify
{
  float: right;
  display: inline;
  margin-right: 110px;
  padding-right: 30px;
  font-size: 0.8em;
  background: url(img/fieldset_title_modify_bg.gif) no-repeat right center;
}

.fieldset_subtitle
{
  clear: both;
  float: left;
  margin: 20px 0 5px 5px;
  font-size: 1.2em;
  width: 540px;
}

/* list */
.insert_list li.text_row,
.insert_list li.radio_row,
.insert_list li.radio_row_inline,
.insert_list li.checkbox_row,
.insert_list li.phone_row,
.insert_list li.number_row,
.insert_list li.password_row,
.insert_list li.date_row,
.insert_list li.town_row
{
  clear: both;
  float: left;
  margin: 2px 0;
  width: 550px;
}

.insert_list li.select_row
{
  clear: both;
  float: left;
  margin: 2px 0;
  width: 550px;
}

.insert_list li.file_row
{
  clear: both;
  float: left;
  margin: 2px 0;
  width: 510px;
}

.dbl_column .list li.checkbox_row
{
  clear: left;
  float: left;
  margin: 2px 0;
  width: 235px;
}

/* label */
.insert_list li.select_row label
{
  float: left;
  display: block;
  height: auto;
  line-height: 18px;
  width: 125px;
  padding-left: 15px;
  font-weight: bold;
}

.insert_list li.text_row label,
.insert_list li.phone_row label,
.insert_list li.number_row label,
.insert_list li.password_row label,
.insert_list li.date_row label,
.insert_list li.radio_row_inline label,
.insert_list li.town_row label
{
  float: left;
  display: block;
  height: auto;
  line-height: 18px;
  width: 125px;
  padding-left: 15px;
  font-weight: bold;
}

.insert_list li.text_row .long_field
{
  width: 80px;
  padding-left: 60px;
}

.insert_list li.text_row .large_field
{
  width: 125px;
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.insert_list li.radio_row label
{
  float: left;
  display: block;
  height: 27px;
  line-height: 18px;
  width: 140px;
  padding-right: 23px;
  text-align: right;
  font-weight: bold;
}

.insert_list li.radio_row .long_radio_label
{
  float: left;
  display: block;
  height: 27px;
  line-height: 3em;
  width: 359px;
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
}

.insert_list li.radio_row .large_radio_label
{
  width: 500px;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.1em;
}

.dbl_column .list li.checkbox_row label
{
  clear: right;
  float: left;
  line-height: 2em;
  padding-left: 30px;
  font-size: 1.2em;
}

.insert_list li.checkbox_row label
{
  float: left;
  line-height: 2em;
  padding-left: 10px;
  font-size: 1.2em;
}

/* text input */
.insert_list li.text_row input,
.insert_list li.phone_row input,
.insert_list li.number_row input,
.insert_list li.password_row input,
.insert_list li.date_row input
{
  float: left;
  display: block;
  width: 315px;
  height: 21px;
  line-height: 1.2em;
  border: 1px solid;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 5px 0 5px;
}

.insert_list li.phone_row input,
.insert_list li.number_row input,
.insert_list li.password_row input,
.insert_list li.date_row input
{
  width: 175px;
}

.insert_list li.town_row input
{
  float: left;
  display: block;
  height: 21px;
  line-height: 1.2em;
  border: 1px solid;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 5px 0 5px;
  margin-right: 5px;
}

/* select */
.insert_list li.select_row select
{
  float: left;
  display: block;
  width: 250px;
  height: 21px;
  line-height: 1.2em;
  border: 1px solid;
  font-weight: bold;
  font-size: 1.1em;
  padding: 2px 0 0 5px;
}

/* textarea input */
.insert_list li.text_row textarea
{
  float: left;
  display: block;
  width: 315px;
  height: 60px;
  line-height: 1.2em;
  font-size: 1.2em;
  border: 1px solid;
  font-weight: bold;
  padding: 2px 5px 0 5px;
}

.insert_list li.textarea_row textarea
{
  float: left;
  display: block;
  width: 470px;
  height: 60px;
  line-height: 1.2em;
  font-size: 1.2em;
  border: 1px solid;
  font-weight: bold;
  padding: 2px 5px 0 5px;
}

/* radio input */
.insert_list li.radio_row input
{
  margin: 2px 2px -2px 2px;
}

.insert_list li.radio_row span.radio_border
{
  float: left;
  display: block;
  width: auto;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid;
  font-weight: bold;
}

.insert_list li.radio_row_inline input
{
  margin: 2px 2px -2px 2px;
}

.insert_list li.radio_row_inline span.radio_border
{
  float: left;
  display: block;
  width: auto;
  margin: 0px;
  padding: 5px;
  border: 1px solid;
  font-weight: bold;
}

/* file input */
.insert_list li.file_row input
{
  clear: left;
  float: left;
  display: block;
  margin: 10px;
  width: 350px;
  border: 1px solid;
}

/* checkbox input */
.dbl_column .list li.checkbox_row input
{
  float: left;
  margin: 7px 0;
}

.insert_list li.checkbox_row input
{
  float: left;
  margin-left: 135px;
}

/* navigation / submit */
.navigation_links
{
  clear: both;
  float: left;
  width: 330px;
  margin: 10px 0;
}

.navigation_link_to_previous
{
  float: left;
  height: 35px;
  width: 160px;
}

.navigation_link_to_previous a
{
  float: left;
  height: 35px;
  line-height: 2.6em;
  width: 140px;
  text-align: left;
  padding-left: 20px;
  background: url(img/navigation_left_link.gif) no-repeat left top;
  font-weight: bold;
}

.navigation_link_to_next
{
  float: left;
  height: 35px;
  width: 160px;
  margin-left: 5px;
}

.navigation_link_to_next input
{
  float: left;
  border: none;
  background: url(img/navigation_right_link.gif) no-repeat left top;
  height: 35px;
  width: 160px;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 9px;
  padding-left: 40px;
}

.navigation_link_to_next a
{
  float: left;
  height: 35px;
  line-height: 2.6em;
  width: 120px;
  text-align: left;
  padding-left: 40px;
  background: url(img/navigation_right_link.gif) no-repeat left top;
  font-weight: bold;
  font-weight: bold;
}

.actions_list .validation .custom_color
{
  float: left;
  display: block;
  width: 32px;
  height: 27px;
  background: url(img/picto_right.gif) no-repeat left top;
  margin-right: 5px;
}

.actions_list .validation input
{
  float: left;
  border: none;
  height: 27px;
  width: auto;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 6px;
}

.actions_list .validation_process input
{
  float: left;
  border: none;
  background: url(img/picto_right_process.gif) no-repeat left top;
  height: 27px;
  width: auto;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 6px;
  padding-left: 40px;
}

p.scan
{
 width: 550px;
}
.actions_list .validation_process div.Scan
{
  color: #6e6e6e;
  float: left;
  border: none;
  background: url(img/picto_right_process.gif) no-repeat left top;
  height: 27px;
  width: auto;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 40px;
  margin-top: 10px;
}

/** ADD **/

.fieldset_zone_login,
.fieldset_zone_login_free
{
  clear: both;
  float: left;
  margin: 10px 0;
  border: none;
}

.fieldset_zone_inscription
{
  float: right;
  margin: 10px 0 10px 35px;
  border: none;
  width: 225px;
}

.fieldset_zone_inscription_steps
{
  clear: both;
  float: left;
  margin: 10px 0;
  border: none;
}

.fieldset_title_login
{
  font-size: 1.1em;
  line-height: 2em;
  float: left;
  padding-left: 35px;
  padding-bottom: 6px;
  margin: 10px 0;
  display: inline;
  background: url(img/login_key.gif) no-repeat left top;
  border-bottom: 1px solid;
  width: 295px;
}

.fieldset_title_login_free
{
  font-size: 1.1em;
  line-height: 2em;
  float: left;
  padding-left: 35px;
  padding-bottom: 6px;
  margin: 10px 0;
  display: inline;
  background: url(img/login_key.gif) no-repeat left top;
  border-bottom: 1px solid;
  width: 585px;
}
.fieldset_title_inscription
{
  font-size: 1.1em;
  line-height: 2em;
  float: left;
  padding-bottom: 5px;
  margin: 10px 0;
  display: inline;
  background: url(img/arrow_inscription.gif) no-repeat left top;
  border-bottom: 1px solid;
  width: 225px;
}

.fieldset_title_inscription_steps
{
  line-height: 3em;
  float: left;
  height: 40px;
  margin: 10px 0;
  display: inline;
  background: url(img/subtitle_bg.gif) no-repeat left top;
  width: 270px;
}

.fieldset_title_inscription_steps .fieldset_title
{
  padding-left: 15px;
}

.insert_list li.login_row
{
  clear: both;
  float: left;
  margin: 2px 0;
  width: 330px;
}

.insert_list li.login_row label
{
  float: left;
  display: block;
  height: 23px;
  line-height: 23px;
  width: 95px;
  padding-left: 15px;
  font-weight: bold;
}

.insert_list li.login_row .question
{
	width: auto;
}

.insert_list li.login_row input
{
  float: left;
  display: block;
  width: 205px;
  height: 21px;
  line-height: 1.2em;
  border-style: solid;
  border-width: 2px 1px 1px 2px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 5px 0 5px;
}

.insert_list li.login_row input.answer
{
  width: 250px;
  margin-left: 20px;
}

.forgot_pass_row
{
  float: left;
  display: block;
  height: 21px;
  width: 85px;
  font-size: 0.8em;
  line-height: 2em;
  margin-right: 10px;
  text-decoration: underline;
}

.submit_row
{
  float: right;
  display: block;
  width: 125px;
}

.submit_row input
{
  float: left;
  display: block;
  height: 22px;
  width: 125px;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.3em;
  padding-bottom: 10px;
  background: url(img/submit_button.gif) no-repeat left top;
  border: none;
  cursor: pointer;
}

.submit_row a
{
  float: left;
  display: block;
  height: 22px;
  width: 125px;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4em;
  background: url(img/submit_button.gif) no-repeat left top;
  border: none;
  cursor: pointer;
  text-align: center;
}

.submit_row a:hover
{
  text-decoration: none;
}

.fieldset_zone_inscription_steps .insert_list .checkbox_row
{
  clear: left;
  float: left;
  margin: 2px 0;
  width: 500px;
}

.fieldset_zone_inscription_steps .insert_list .checkbox_row input
{
  float: left;
  margin: 7px 0;
}

.fieldset_zone_inscription_steps .insert_list .checkbox_row label
{
  float: left;
  line-height: 2em;
  padding-left: 10px;
  font-size: 1.2em;
}

.fieldset_zone_inscription_steps .insert_list .checkbox_row label a
{
  text-decoration: underline;
}

.fieldset_zone_demandeur
{
  clear: both;
  float: left;
  border: 1px dashed;
  width: 475px;
  margin-left: 4px!important;
  margin-left: 2px;
  margin-top: 35px;
  padding-bottom: 10px;
}

.fieldset_zone_demandeur .fieldset_title_demandeur
{
  float: left;
  display: block;
  margin-top: 10px;
  width: 150px;
  height: 20px;
  padding: 15px;
  clear: none;
  background: url(img/picto_people.gif) no-repeat 25px center;
}

.fieldset_zone_demandeur .list
{
  float: left;
  width: 125px;
  clear: none;
  height: auto;
}

.fieldset_zone_demandeur .list .text_row
{
  float: left;
  display: block;
  clear: both;
  width: 135px;
  margin: 5px 0;
}

/* page 23 - 25 */
.fieldset_title_standard
{
  clear: both;
  float: left;
  width: 510px;
  margin: 10px 0 5px 0;
  height: 40px;
  line-height: 35px;
  background: url(img/fieldset_title_bg.gif) no-repeat left top;
}

.insert_list li.radio_row_inline .radio_label
{
  width: 155px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
}

/* Captcha */
.captcha_block
{
  clear: both;
  float: left;
  width: 520px;
  margin: 5px 0;
}

.captcha_img
{
  float: left;
  margin-left: 5px;
}

.captcha_block .insert_list
{
  clear: none;
  width: 350px;
}

.captcha_block .insert_list .text_row
{
  clear: both;
  display: block;
  width: 350px;
}

.captcha_block .insert_list .text_row label
{
  line-height: 1.2em;
  height: auto;
  width: 350px;
}

.captcha_block .insert_list .text_row input
{
  width: 200px;
  margin-top: 10px;
  margin-left: 15px!important;
  margin-left: 7px; /* IE 6 */
}

.insert_list li.text_row .short_field
{
  width: 200px;
  margin-top: 10px;
  margin-left: 15px!important;
  margin-left: 7px; /* IE 6 */
}

/* Formulaire de suivi */
.suivi_list .radio_row .suivi_label,
.suivi_list .text_row .suivi_label,
.suivi_list .select_row .suivi_label
{
  float: left;
  display: block;
  width: 220px;
  padding-left: 0;
  font-size: 1.2em;
  line-height: 3em;
  font-weight: bold;
  text-align: right;
}

.suivi_list .select_row .suivi_label
{
  line-height: 2em;
  font-size: 1.05em;
}

.suivi_list .select_row .suivi_label
{
  line-height: 2em;
  font-size: 1.05em;
}

.suivi_list li.radio_row .suivi_label
{
  padding-right: 10px;
}

.suivi_list li.radio_row span.radio_border
{
  margin: 0 5px!important;
  margin: 0 5px 0 -3px; /* IE6 */
}

.suivi_list li.select_row select
{
  margin-left: 15px!important;
  margin-left: 7px; /* IE6 */
  width: 212px;
}



/* Ticket table header*/
.ticket_table_header
{
  clear: both;
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.ticket_table_header .th
{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.ticket_table_header .th .title
{
  display: block;
  height: 24px;
  font-size: 1.0em;
  line-height: 1.7em;
  background:  no-repeat center top;
  text-indent: 10px;
  padding: 0;
}

.ticket_table_header .th1 .title
{
  width: 210px;
  background-image: url(img/ticket_table_th1.gif);
}

.ticket_table_header .th2 .title
{
  width: 80px;
  background-image: url(img/ticket_table_th2.gif);
}

.ticket_table_header .th3 .title
{
  width: 135px;
  background-image: url(img/ticket_table_th3.gif);
}

.ticket_table_header .th4 .title
{
  width: 90px;
  background-image: url(img/ticket_table_th4.gif);
}

/* Ticket table body*/
.overflow
{
  clear: both;
  overflow-y: scroll;
  height: 300px;
  width: 540px;
}

.ticket_table_body
{
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
  font-weight: bold;
  font-size: 0.9em;
}

.ticket_table_body .td
{
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}

.ticket_table_body .td1
{
  width: 210px;
}

.ticket_table_body .td2
{
  width: 80px;
}

.ticket_table_body .td3
{
  width: 135px;
}

.ticket_table_body .td4
{
  width: 90px;
}

.ticket_table_body .tr_first .td
{
  border-top-style: solid;
}

.ticket_table_body .tr_last .td
{
  height: 30px;
  border-bottom-style: solid;
}

.ticket_table_body .td .paragraph
{
  padding: 2px 5px;
  text-align: left;
}

.ticket_table_body .td2 .paragraph
{
  text-align: center;
}

.ticket_table_body .selected_notice .td
{
  text-align: left;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.ticket_table_body .selected_button .td
{
  text-align: left;
  border-top-width: 0px;
}

.ticket_table_body .td-text
{
  border-right-style: none;
}

.ticket_table_body .td-data
{
  border-left-style: none;
}

.ticket_table_body .selected_notice .td .paragraph
{
  padding: 0px;
  padding-left: 40px;
  text-align: left;
  font-weight: normal;
}

.ticket_table_body .selected_button .td .paragraph
{
  text-align: left;
}

.ticket_table_body .selected_button .submit a
{
  background: url(img/picto_25.gif) no-repeat left center;
  color: #f00;
  border: none;
  font-weight: bold;
  font-size: 0.9em;
  height: 25px;
  padding: 0 0 5px 25px;
}

.ticket_table_body .td2 .document
{
  padding-left: 25px;
  background: url(img/picto_4.gif) no-repeat 5px 2px;
}



/* FORM.CSS Music School */

.element_form_row .input_checkbox
{
  margin-right: 10px;
}

.table_type101 .td .input_checkbox
{
  margin-right: 10px;
}

.table_type101 .td .input_text
{
  width: 90px;
  border: 1px solid;
  text-align: center;
}

.list_resum_actions
{
  margin-top: 40px;
  padding-left: 25px;
  width: 400px;
}

.actions_list .validation_process a
{
  float: left;
  border: none;
  background: url(img/picto_right_process.gif) no-repeat left top;
  height: 27px;
  width: auto;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 6px;
  padding-left: 40px;
  line-height: 1.6em;
}

div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: absolute;   
	z-index: 3;
    background-color: #fff;
    text-align: left;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
