h2 {
	color: #175495;
}
h3 {
	color: #175495;
}

#welcome {
	color: #175495;
}

#header {
	background-color: #fdf1c5;
}
#personnal {
	background-color: #fcecb2;
}
#public {
	background-color: #fbe38b;
}

div.button {
    color: #7593b9;
}

div.label-button div.button:hover {
    background-color: #7593b9;
    color: #fbe38b;
}

div.label-left-button div.button:hover {
    background-color: #7593b9;
    color: #fbe38b;
}
