<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- CLIENT  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <bean name="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
    <property name="defaultUri" value="${cpm.webservice.base_uri}" />
    <property name="marshaller" ref="xmlBeanMarshaller" />
    <property name="unmarshaller" ref="xmlBeanMarshaller" />
  </bean>

  <bean id="webServiceClient"
    class="fr.capwebct.modules.payment.webservice.support.WebServiceClient">
    <property name="webServiceTemplate" ref="webServiceTemplate" />
  </bean>

</beans>
