package fr.cg95.cvq.service.${request.requestNamespaceLastParticle};

import fr.cg95.cvq.business.${request.requestNamespaceLastParticle}.*;
import fr.cg95.cvq.business.users.HomeFolder;

public class ${request.requestName}Feeder {

    public static void feed(${request.requestName} request) {
    }
    
    public static void setSubject(${request.requestName} request,
            HomeFolder homeFolder) {
    }
}
