/* --------------------------------------------------------------

    Configuration screen special style 
    (category / requesType)
    TODO
      - refactor list managment
      - rename this stylesheet

-------------------------------------------------------------- */

/* Overview configuration List
-------------------------------------------------------------- */
.overviewConfigurationList { margin: 2em; }

.overviewConfigurationList li {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #999999;
}

/* tags extension */
.overviewConfigurationList li .tag-enable, 
.overviewConfigurationList li .tag-disable {
  float: right;
  margin: .2em 0 0 0;
}

.overviewConfigurationList li h3 {
  margin: 1em 0 .5em 0 !important;
  padding: 0 !important;
  font-size:1.4em !important;
  /*style: color:blue !important;*/
  border:0 !important;
}
.overviewConfigurationList li h3 span { font-size: 0.7em; }
.overviewConfigurationList li div     { margin: 0 1em; line-height: 1.5em; }

/* creation cancel link*/
.createConfigurationItem   { margin: 0 2em; text-align: right; }
.createConfigurationItem a {
  padding: 0 21px 0 0; font-size: 1.3em; cursor: pointer;
  background: transparent url(../../images/icons/16-add.png) no-repeat right center;
}
.createConfigurationItem a:hover { background-color: #0000ff; }
#cancelCreateCategory a:hover { background: transparent; }


/* editable tree
-------------------------------------------------------------- */
.editableTree { padding: 0 5%; font-size: 1.25em;}

.editableTree li { 
  padding: .5em 0;
  overflow: auto; /* hack for tag alignment */
}

.editableTree li ul li.last { padding: .5em 0 0 0; }
.editableTree li ul         { margin: .5em 0 0 5em; clear: both; font-size: .95em;/*border-top: 1px dashed #FFD053;*/}

.editableTree li a                 { width: 16px; height: 16px; float: left; margin: 0 .3em; cursor: pointer; }
.editableTree li a span            { display: none; }
.editableTree li a.associate       { background-image: url(../../images/icons/16-associate.png); }
.editableTree li a.unassociate     { background-image: url(../../images/icons/16-unassociate.png); }
.editableTree li a.editItem        { background-image: url(../../images/icons/16-edit.png); }
.editableTree li a.deleteItem      { background-image: url(../../images/icons/16-delete.png); }
.editableTree li a.createSubItem   { background-image: url(../../images/icons/16-add.png); }
.editableTree li a.currentEditItem { cursor: default; }
.editableTree li a:hover           { background-color: transparent;}
.editableTree li strong            { float: left; font-weight: normal !important; }

.newItem { font-size: 1.25em; }

/* editable list
-------------------------------------------------------------- */
.editableList { padding: 0 5%; font-size: 1.1em;}

.editableList li { 
  padding: .45em 0;
  border-bottom: 1px dashed #FFD053;
  overflow: auto; /* hack for tag alignment */
}
.editableList li.notBelong { background: #ffffca;}
.editableList li:hover     { background: #ffffff !important; }

/* test */
.editableList li.header    { background: #FFD053 !important; padding: .3em; list-style-type: none; }

.editableList li a {
  width: 16px; height: 16px;
  float: right;
  margin: 0 .3em;
  cursor: pointer;
}

.editableList li a.calendarLink, a.calendarLink { float : left; margin : 0.5em 0 0 0; }
p.field a.calendarLink { float : none; }
.editableList li a span            { display: none; }
.editableList li a.link-close span { display : inline; }
.editableList li a.associate       { background-image: url(../../images/icons/16-associate.png); }
.editableList li a.unassociate     { background-image: url(../../images/icons/16-unassociate.png); }
.editableList li a.activate       { background-image: url(../../images/icons/16-unactive.png); }
.editableList li a.unactivate     { background-image: url(../../images/icons/16-active.png); }
.editableList li a.editItem        { background-image: url(../../images/icons/16-edit.png); }
.editableList li a.deleteItem      { background-image: url(../../images/icons/16-delete.png); }
.editableList li a.createSubItem   { background-image: url(../../images/icons/16-add.png); }
.editableList li a.currentEditItem { cursor: default; }
.editableList li a:hover           { background-color: transparent;}

.editableList li span.itemName     { width: 35%; float: left; }
.editableList li span.categoryName  { margin: 0 1em; font-size: 0.9em; }
.editableList li strong             { font-weight: normal !important; }

/* editable list display switcher */
.editableListSwithcher { padding: .5em 5%; text-align: right; }

.editableListSwithcher a {
  padding: 0 .3em; 
  cursor: pointer;
  text-decoration: underline;
  color: #000000;
}

.editableListSwithcher a#linkShowDatasheet {
  padding: 0 21px 0 0; font-size: 1.3em;
  background: transparent url(../../images/icons/16-add.png) no-repeat right 4px;
}

.editableListSwithcher a:hover,
.editableListSwithcher a#linkShowDatasheet:hover { background-color: #FFD053; }

.editableListSwithcher a.current {
  font-size: 1.3em;
  cursor:default;
  text-decoration: none;
  color: #444444;
}
.editableListSwithcher a.current:hover { background: transparent; }

/* agent profile inline edition form */
form.editable-list-form ul          { margin: .5em 0; }
form.editable-list-form ul li       { width: 20%; }
form.editable-list-form ul li span  { float: left; }
form.editable-list-form ul li input { margin: 0 0 0 .5em; }

form.editable-list-form ul li .tag-read_only,
form.editable-list-form ul li .tag-read_write,
form.editable-list-form ul li .tag-manager    { color: #2020cc; border: none; background: transparent;}

form.editable-list-form ul li .tag-read_only  { color: #2020cc; }
form.editable-list-form ul li .tag-read_write { color: #ec7000; }
form.editable-list-form ul li .tag-manager    { color: #aa00ff; }


/* table display
   display definition list with appearance of a table
-------------------------------------------------------------- */
.tableDisplay {
  margin-top: 2em;
  overflow: auto; /* hack end of definition */
}

.tableDisplay dt {
  width: 50%;
  float: left;
  padding: .3em;
  font-weight: bold;
  text-align: right;
}

.tableDisplay dd {
  float: left;
  width: 45%;
  padding: .3em;
  text-align: left;
}

/* second level menu styles
   TODO - refactor this !
-------------------------------------------------------------- */
div.second-level-menu { margin: 3em 0 1em 0; padding: 0 0 0 0.5em; }
.second-level-menu li          { padding: .25em 0; }
.second-level-menu li:hover    { cursor: pointer; }
.second-level-menu li.selected { font-weight: bold; font-style: italic; }

.second-level-menu-item { 
  width: 90%;
  display: block; 
  float: left;
  text-align: left;
}

/* state (same green & red than tag) 
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.enabled { color: #20cc20; }
.disabled { color: #cc2020; }

/* Simple richtext editor */
.editor-form {
}

.editor-form  #templateButton {
  margin-top: 0.5em !important;
  float : right;
}

.editor-form .bd {
  overflow:auto ;
}

.editable-work-area {
  background-color: #fff;
  margin: 2em;
  padding: 4em;
}

.editable-zone {
	cursor: pointer;
	margin: 2em; padding: 2em;
  
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	/*background-color: #FFDFBF;*/
}
.editable-zone:hover {
  background-color: #FFDFBF;
}

.template-panel {
	margin: 2em;
}

.state-overlay { 
  -moz-border-radius-bottomleft:0.5em;
  -moz-border-radius-bottomright:0.5em;
  -moz-border-radius-topleft:0.5em;
  -moz-border-radius-topright:0.5em;
  background:#EFEFEF none repeat scroll 0 0;
  border:5px solid #DDDDDD;
  font-size:1.4em;
  text-align : center;
  padding:0.1em 1em 0.3em;
  width: 150px;
}

.state-overlay .hd {
  color: #000000;
  font-size: 93%;
  line-height: 2;
  padding: 0;
  font-weight: normal;
  border: 0;
  background: transparent;
}

.state-overlay .bd {
  padding: .1em;
  background: transparent;
  border: 0;
}

.state-overlay .ft {
  padding: 0;
  background: transparent;
  border: 0;
}

.state-overlay form {
  margin: 0;
  padding: 0;
}

.state-overlay form input[type="button"] {
  font-size: .8em;
}

.state-overlay form .error {
  margin: 0;
  font-size: .8em;
  font-style: italic;
  text-align: center
}

.state-overlay ul {
  margin: .2em 0 .5em .5em;
  text-align: left
}

.state-overlay ul li {
  padding: .1em 0;
}

span#requestState {
  cursor: pointer;
  float: right;
  font-size:1.1em;
}

/* Local resources configuration
-------------------------------------------------------------- */

dl.localResources                    { margin-left : 10px; }
dl.localResources dt                 { font-size : 1.2em; }
dl.localResources.linkedResources dt { margin-bottom : 20px; }
dl.localResources dd                 { margin-bottom : 30px; }
dl.localResources dd a               { display : block; }

form.localResourceUpload       { padding : 0; margin-left : 10px; }
form.localResourceUpload label { width : auto; }
