#contactLink {
  cursor : pointer;
}

#contactPanel {
  border: 6px solid #636e80;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius : .5em;
  text-align: left;
  background: #ffffff;
}

#contactPanel .hd {
  height: 2.5em;
  background: #636e80;
  border: 0;
}

#contactPanel .bd {
  padding: 1em 2em;
  background: transparent;
  border: 0;
}

#contactPanel .bd h1 {
  margin: 0 0 1em 0;
  padding: .5em 0;
  border-bottom: 1px dashed #000000;
}

#contactPanel .bd h1 span {
  float: right;
  font-size: .7em;
}

#contactPanel .bd p.field span.block {
  display : block;
}