/* --------------------------------------------------------------

    document managment special styles

-------------------------------------------------------------- */


/* request document panel
 * TODO : merge panel style
-------------------------------------------------------------- */

#requestDocumentPanel {
  padding: 0;
  border: 6px solid #636e80;
  -moz-border-radius: .5em; -webkit-border-radius: .5em;
  background: #ffffff;
}

#requestDocumentPanel a       { font-size: 1em; color: #000; text-decoration: none; }
#requestDocumentPanel a:hover { color: #000; background: transparent; text-decoration: underline; }

#requestDocumentPanel .bd { padding: 1em 2em; background: transparent; border: 0;}
#requestDocumentPanel .hd { height: 2.5em; padding: 0; background: #636e80; border: 0; }

#requestDocumentPanel .bd h1 { 
  margin: 0 0 1em 0; padding: .5em 0;
  font-size: 1.8em;
  font-weight: normal;
  border-bottom: 1px dashed #000000;
  overflow: hidden;
}

.document-state        { float: right;  margin: 0; cursor: pointer; font-size: .8em; }
.document-state:hover  { color: #000000; border-color: #000000; }
#requestDocumentPanel .bd h1 #documentEndValidityDate,
#requestDocumentPanel .bd h1 #documentDepositType,
#requestDocumentPanel .bd h1 #documentOrigin       { float: left;  margin: 0 .5em 0 0; font-size: .6em }

/* yui tabview special rendering */
.yui-skin-sam #requestDocumentPanel .bd .yellow-yui-tabview .yui-content, 
.yui-skin-sam #requestDocumentPanel .bd .yellow-yui-tabview .yui-navset-top .yui-content { 
  border-width: 1px 0;
  text-align: center;
  padding: 1em 0;
}

#requestDocumentPanel #requestDocumentData img { max-width: 90%; }

#requestDocumentPanel #documentMetaData { margin : 2em 0 0 0; }
/* list */
#requestDocumentPanel #documentMetaData .yui-content ul         { margin: 10px; color: #333;}
#requestDocumentPanel #documentMetaData .yui-content ul li      { padding: .5em 0 .5em 0; border-bottom:1px dashed #C1CFE2; }
/* for tag floating TODO : to be refactor */
#requestDocumentPanel #documentMetaData .yui-content ul li span { float: right; }

#requestDocumentPanel #documentMetaData .yui-content form { margin-bottom: 10px; }

#requestDocumentPanel #documentMetaData .yui-content p.static-data      { overflow: auto; }
#requestDocumentPanel #documentMetaData .yui-content p.static-data span { width: 35%; float: left; margin-left: 5px; padding-right:10px; text-align: right; }
#requestDocumentPanel #documentMetaData .yui-content p.static-data em   { float: left; padding: .1em; font: italic 1.1em sans-serif; background: #fff; }


/* Change state block 
 * -------------------------------------------------------------- */
#requestDocumentPanel #documentTransitionStates {
  width: 22%;
  display:none; 
  position:absolute; right: 1em; top: 3.3em; z-index: 9;
  -moz-border-radius: .5em; -webkit-border-radius: .5em;
  border: 5px solid #000000;
  background: #efefef;
}

.state-overlay #endValidityDateCalContainer { font-size: .7em; }

.state-overlay form  { margin: 0; padding: .5em; font-size: .8em;}
.state-overlay form input { width: auto; font-size: .9em; }
.state-overlay form input.submitDocumentStateChange,
.state-overlay form input.cancelDocumentStateChange { font-size: .8em; }
.state-overlay form .error,
.state-overlay form label  { 
  width: auto; 
  display: block; float: none; 
  margin: 0;
  text-align: left;
  font-size: .8em; font-style: italic;
}

.state-overlay ul    { margin: .2em 0 .5em .5em; text-align: left }
.state-overlay ul li { padding: .1em 0; }

.state-overlay {
  -moz-border-radius-bottomleft:0.5em;
  -moz-border-radius-bottomright:0.5em;
  -moz-border-radius-topleft:0.5em;
  -moz-border-radius-topright:0.5em;
  /*background:#EFEFEF none repeat scroll 0 0;*/
  background: #efefef;
  border:5px solid #DDDDDD;
  font-size:1.8em;
  padding:0.1em 1em 0.3em;
  text-align:center;
  width:170px;
}

.overlay-invalid, .overlay-expired, .overlay-rejected, .overlay-refused, 
  .overlay-outdated, .overlay-disable {
  border-color:#CC2020 !important;
}

.overlay-clrfather, .overlay-active, .overlay-checked, .overlay-read_only {
  border-color:#2020CC !important;
}

.overlay-pending, .overlay-initialized, .overlay-uncomplete {
  border-color:#FFCC20 !important;
}

.overlay-clrtutor, .overlay-tutor, .overlay-valid, .overlay-validated, .overlay-complete, 
  .overlay-notified, .overlay-enable {
  border-color:#20CC20  !important;
}
