
/* home folder
-------------------------------------------------------------- */
.individual {
  margin : 10px 15px; padding: 5px;
  border: 2px solid #ec7000;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius: .5em;
  background-color: #ffffff;
}

.individual a { font-size:.85em; cursor:pointer; }
.individual p { margin-bottom: 0; }

.individual.collapse {
  border: 1px solid #cccccc;
  border-right-color: #aaaaaa; border-bottom-color: #aaaaaa;
}

.individual.collapse h3 { display : none; }

.individual.collapse dl,
.individual.collapse dt,
.individual.collapse dd { display : none; }
.individual.collapse .required { display : block; }

.individual.collapse dl.reponsible dt,
.individual.collapse dl.reponsible dd { display : block; }

.individual.collapse dl.edit:hover { background: transparent; cursor: default; }

.individual h3 a { float: right; font-size: .8em; }

.individual dl { overflow : auto; }
.individual dl.edit:hover { background: #ffb; cursor: pointer; }

.individual dt,
.individual dd { float: left; margin: 0; padding: .4em; }

.individual dt {
  clear: both; width: 33%; padding-top: .6em;
  font-size: .95em; min-height: 1.5em;
  text-align: right; color: #444;
}
.individual dt:after { content: " : " ;}
.individual dt.required { font-weight: bold;}

.individual dd { width: 60%; font-size: 1.15em; }
.individual dd .tag-state { display: inline; float: none; font-size: .7em; }
.individual dd ul    { margin: 0; }
.individual dd ul li { padding: .3em 0 0 0; border: 0; list-style-type: none; }

#homeFolder form { padding: 0; }
#homeFolder input,
#homeFolder select { margin: 0; }
#homeFolder select { max-width: 85%; }

/* FIXME: hack for address */
#homeFolder form label {
  float: none; display: block; width: auto;
  margin: 5px 0 0; padding: 0;
  text-align: left; font-size: .9em;
}
#homeFolder form input.line1 { width: 22%; }
#homeFolder form input.line2 { width: 58%; }

#homeFolder form li label { display: inline; font-size: .95em; }



/* actions
-------------------------------------------------------------- */

dl.action {
  padding : 5px;
  border : 1px solid #cccccc;
  border-right-color : #aaaaaa;
  border-bottom-color : #aaaaaa;
  -moz-border-radius : .5em;
  -webkit-border-radius : .5em;
  background-color : #ffffff;
  overflow: auto;
}

dl.action dt {
  float : left;
  width : 25%;
  padding : .3em .5em;
  text-align : right;
  display : none;
}

dl.action dd {
  border-left : 1px dashed #aaaaaa;
  margin : 0 0 0 27%;
  padding : .3em .5em;
  display : none;
}
dl.action dd a { background : none; }
dl.action .tag { font-size : 1.1em; }

dl.action dt.title,
dl.action dd.title,
dl.action dt.action-note,
dl.action dd.action-note,
#userActions li:hover dl.action dt,
#userActions li:hover dl.action dd {
  display : inherit;
}

dl.action .date  { float: right; color: #333; }
dl.action .user { font-size: .85em; text-align: right; }
dl.action .agent { color: #AA00FF; }
dl.action .eCitizen { color: #EC7000; }

#userActions li:hover dl.action {
  border-color : #EC7000;
  border-width : 2px;
}

dl.atom { font-size: .85em; }
dl.atom dt { width: 30%; padding-top: .6em; color: #444; }
dl.atom dt:after { content: " : " ;}
dl.atom dd { margin : 0 0 0 31%; border: 0; font-size: 1.3em; }
dl.atom .previous { text-decoration: line-through; }

/* Information
-------------------------------------------------------------- */
#homeFolderInformation { margin-top: 10px; }

/* list */
#homeFolderInformation div div div ul { margin: 10px;}
#homeFolderInformation div div div li { padding: .7em 0; border-bottom: 1px dashed #C1CFE2; }
#homeFolderInformation div div div ul ul { margin: 0px;}
#homeFolderInformation div div div ul ul li { padding: 0; border-bottom: none; }

#homeFolderInformation .tag-state { float: right; }
#homeFolderInformation .comment   { font-size: 1.4em; font-weight: normal; }

/* duplicates
-------------------------------------------------------------- */
#duplicates {
  border: 2px solid #CC0000;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius: .5em;
  background-color: #ffffff;
}

#duplicates h2 {
  color: #CC0000;
  border-bottom-color: #CC0000;
}

#duplicates h3 {
  border-bottom: none;
  font-size: 1.4em;
}

.duplicate {
  margin : 10px 15px; padding: 5px;
  border-top: 1px solid #cfcfcf;
}

.duplicate dl {
  margin-bottom: 10px;
}

.duplicate dd.duplicateData {
  font-weight: bold;
}

.duplicate ul {
  margin: auto 0;
  padding: auto 0;
}

.duplicate ul li:before {
  content: "▸ ";
  margin-right: 2px;
}

.duplicate h4 {
  color: #FF6600;
  font-size: 1.2em;
}

.duplicate h4 span,
.duplicate h4 span a,
.duplicate h4 span a:hover
 {
  color: #000;
  font-size: 90%;
  font-style: italic;
  background: #fff !important;
  text-transform: lowercase;
}

.duplicate input[type="submit"] {
  display: block;
}

/* realize request for home folder
-------------------------------------------------------------------------*/

optgroup { font-style: italic; font-weight: bold; }
option { font-style: normal; font-weight: normal; }
