/* --------------------------------------------------------------

    request intruction special styles

-------------------------------------------------------------- */


/* request instruction state tag
-------------------------------------------------------------- */

.taskstate .tag-pending, .taskstate .tag-complete, .taskstate .tag-uncomplete, .taskstate .tag-validated, .taskstate .tag-notified, .taskstate .tag-active,
.taskstate .tag-expired, .taskstate .tag-closed, .taskstate .tag-rejected, .taskstate .tag-cancelled, .taskstate .tag-archived,
.taskstate .tag-checked, .taskstate .tag-refused, .taskstate .tag-outdated,
.taskstate .tag-valid, .taskstate .tag-invalid,
.taskstate .tag-sent, .taskstate .tag-inprogress, .taskstate .tag-notsent, .taskstate .tag-acknowledged, .taskstate .tag-error, .taskstate .tag-accepted, .taskstate .tag-rejected,
.taskstate  .tag-not_provided
{ float: right; margin: 0; font-size: 1.1em;}

.taskstate .tag-free, .taskstate .tag-lockacquired, .taskstate .tag-locked
{ float: left; margin: 0; font-size: 1.1em; }

.taskstate .tag-pending:hover, .taskstate .tag-complete:hover, .taskstate .tag-uncomplete:hover, .taskstate .tag-validated:hover, .taskstate .tag-notified:hover, .taskstate .tag-active:hover,
.taskstate .tag-expired:hover, .taskstate .tag-closed:hover, .taskstate .tag-rejected:hover, .taskstate .tag-cancelled:hover, .taskstate .tag-archived:hover,
.taskstate .tag-checked:hover, .taskstate .tag-refused:hover, .taskstate .tag-outdated:hover,
.taskstate .tag-sent:hover, .taskstate .tag-inprogress:hover, .taskstate .tag-notsent:hover, .taskstate .tag-acknowledged:hover, .taskstate .tag-error:hover, .taskstate .tag-accepted:hover, .taskstate .tag-rejected:hover,
.taskstate .tag-free:hover, .taskstate .tag-lockacquired:hover, .taskstate .tag-locked:hover,
.taskstate .tag-valid:hover, .taskstate .tag-invalid:hover
{ cursor: pointer; border-color: #000000; color: #000000; }

.taskstate .documentLink { text-decoration: none; }
.taskstate .documentLink:hover { color: #eeeeee; background: #cc2020; border-color: #000000; }


/* request instruction state list
-------------------------------------------------------------- */
.taskstate ul { margin: 0; padding: .5em 0 0 0; clear:both; }
.taskstate ul li { padding: .4em; }
.taskstate ul li { font-size: .85em; }

/* request instruction data
-------------------------------------------------------------- */
/* yui tabview special rendering */
.yui-skin-sam .yellow-yui-tabview .yui-content, 
.yui-skin-sam .yellow-yui-tabview .yui-navset-top .yui-content { 
  border-width: 1px 0 0 0;
}

/* store request.type.label */
#requestTypeLabel { display: none; }

/* header hn*/
#requestData h3      { margin-bottom: 0;  border: 0; font-size: 1.3em; font-style: italic; overflow: auto; }
#requestData h3 span { float: left; }

/* definition list */
#requestData dl {
  margin : 10px 10px 20px 10px;
  border-bottom: 1px dashed #FFD053;
  color: #333;
  background: #ffffbb;
  overflow: auto;
}
 
#requestData dl dt,
#requestData dl dd {
  float: left;
  margin: 0;
  padding: .5em;
  border-top: 1px dashed #FFD053;
}

#requestData dl dt { width: 9em; min-height: 1.5em; text-align: right; clear: both; }
#requestData dl dt.required { font-weight: bold; }

#requestData dl dd { width: 14em; font-size: 1.15em; }

#requestData dl dd.action-editField:hover           { background: #ffffff; cursor: pointer; }
#requestData dl dd.current-editField:hover { background: transparent; cursor: default; }/* not used ! */

#requestData dl dd ul li { padding: .3em 0; }

/* override editable-list-form */
#requestData dl dd .editable-list-form                    { margin: 0; font-weight: normal; }
#requestData dl dd .editable-list-form ul                 { margin : 0; }
#requestData dl dd .editable-list-form fieldset           { margin: 0; float:none; border: 0; background: transparent; }
#requestData dl dd .editable-list-form input              { width: auto; display: inline; margin: 0 0 .2em 0; }
#requestData dl dd .editable-list-form select             { width: 100%; display: block; }
#requestData dl dd .editable-list-form textarea           { width: 96%; display: block; }
#requestData dl dd .editable-list-form label              { width: auto; display: block; float: none; margin: 0; padding: .3em 0 0 0; text-align: left; } 
#requestData dl dd .editable-list-form input[type=text]   { width: 98%; }
#requestData dl dd .editable-list-form input[type=button] { margin: .5em 0 0 0 }
#requestData dl dd .editable-list-form input.line1        { width: 19%; }
#requestData dl dd .editable-list-form input.line2        { width: 74%; }
#requestData dl dd .editable-list-form input.validate-date-au { width: 80%; }

/* condition test=false 
 FIXME - Must we modify background ? I think, we don't ...
*/
#requestData .not-action-editField { color: #999 !important; /*background-color: #ffffab !important;*/ }

/* collection add/remove link action */
#requestData .collection-action { margin: 5px 10px; overflow: auto;}

#requestData a.addListItem, 
#requestData a.deleteListItem {
  width: 16px; height: 16px;
  float: right;
  margin: 0 .3em;
  cursor: pointer;
}
#requestData a span   { display: none; }
#requestData a.addListItem    { background-image: url(../../images/icons/16-associate.png); }
#requestData a.deleteListItem { background-image: url(../../images/icons/16-unassociate.png); }
#requestData a:hover  { background-color: transparent; }

#requestData .listItemSkeleton { display: none; }

/* editable tree
-------------------------------------------------------------- */
#requestData .dataTree { }
#requestData .dataTree li       { width: 100%; display: block; }
#requestData .dataTree li ul    { margin: 0 0 0 1em !important; font-size: .95em; }
#requestData .dataTree li ul li { width: 90%; padding: .2em 0 0 .4em; }
#requestData .dataTree li em    { font-style: italic; font-weight: bold;}

/* request attached document
-------------------------------------------------------------- */
#requestDocument {
  margin: 0; 
  border-bottom: 1px solid #FFD053;
  background: #FFFFAB;
}

#requestDocument h2 { margin-top : 0; border-color: #FFD053; }
  
#requestDocument a       { font-size: 1.2em; color: #CC0000; text-decoration: none; }
#requestDocument a:hover { color: #ffffff; background-color: #CC0000; }

/*TODO - generalize this selector and rename it !! */
#requestDocument .box-raduis {
  margin: 0 20px 10px 20px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-right: 0;
  border-bottom: 0;
 -moz-border-radius: .5em;
 -webkit-border-radius: .5em;
  background-color: #ffffff;
}

ul.document-list a.removeDocument {
  float : right;
  cursor : pointer;
  height : 16px;
  width : 16px;
  background-image: url(../../images/icons/16-unassociate.png);
}

/* request Information
-------------------------------------------------------------- */
#requestInformation { margin-top: 10px; }

/* list filter */
#requestInformation div div div select { margin: 0.5em; }

/* list */
#requestInformation div div div ul { margin: 10px;}
#requestInformation div div div li { padding: .7em 0; border-bottom: 1px dashed #C1CFE2; }
#requestInformation div div div ul ul { margin: 0px;}
#requestInformation div div div ul ul li { padding: 0; border-bottom: none; }

/* form */
#requestInformation div div div form { margin: 10px;  padding: 0; }
#requestInformation div div div form label { display: block; float: none; margin: 0; text-align: left; }
#requestInformation div div div form input { margin: 0; }
 
/* definition list (for homeFolder.individual) */
#requestInformation dl.account {
  margin : 10px 20px 10px 20px ;
  padding: 5px;
  border: 1px solid #cccccc;
  border-right-color: #aaaaaa;
  border-bottom-color: #aaaaaa;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  background-color: #ffffff; 
}

#requestInformation dl.account dt {
  float: left;
  width: 10em;
  font-weight: bold;
  text-align : right;
}

#requestInformation dl.account dd {
  border-left: 1px dashed #aaaaaa;
  margin: 0 0 0 11em;
  padding: 0 0 .5em .5em;
  border-left: 1px dashed #aaaaaa;
}
#requestInformation dl.account dd .tag-state { display: inline; float: none; }
#requestInformation div div div dl.account dd ul    { margin: 0; }
#requestInformation div div div dl.account dd ul li { padding: .3em 0 0 0; border: 0; list-style: disc inside none; }

#requestInformation dl.notes { overflow: auto; margin : 0.5em; border-bottom: 1px dashed #C1CFE2; }
#requestInformation dl.notes dt,
#requestInformation dl.notes dd {
  float: left;
  margin: 0;
  border-top: 1px dashed #C1CFE2;
}

#requestInformation dl.notes dt { padding-top : 1.5em; }

#requestInformation dl.notes dt { width: 25%; min-height: 1.5em; clear: both; }
#requestInformation dl.notes dd { width: 75%; padding-bottom : 0.5em; padding-top : 0.5em; }

#requestInformation .tag-state { float: right; }
#requestInformation .note {
  padding : 0.2em;
  font-size: 1.4em;
  font-weight: normal;
  background-color : #ffffff;
  border: 1px solid #cccccc;
  border-right: 0;
  border-bottom: 0;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  margin-top : 0.3em;
}

#requestInformation .note .tag-state { font-size : 0.75em; }

#requestInformation .noteMetadata { text-align : right; color : #666; }

#requestInformation .homFolderInfo { 
  margin: 10px; padding: 1em;
  line-height: 2em; 
  border: 1px dashed #C1CFE2; border-left: 0; border-right: 0;
  background: #fff;
}
#requestInformation .homFolderInfo .tag-state { display: inline; float: none; }

#requestInformation ul li a.documentLink { float : right; }

/* request instruction worflow panel
-------------------------------------------------------------- */

#requestLockPanel,
#instructionStatePanel {
  font-size: 1.4em;
  border:5px solid #ddd;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  padding: .1em 0 .3em 0;
  background: #efefef;
  text-align: center;
}

#requestLockPanel .hd,
#instructionStatePanel .hd { padding: 0; font-weight: normal; border: 0; background: transparent;}
#requestLockPanel .bd,
#instructionStatePanel .bd { padding: .1em; background: transparent; border: 0; }
#requestLockPanel .ft,
#instructionStatePanel .ft { padding: 0; background: transparent; border: 0; }

#requestLockPanel form,
#instructionStatePanel form                      { margin: 0; padding: 0;}
#requestLockPanel input[type="button"],
#instructionStatePanel form input[type="button"] { font-size: .8em; }
#requestLockPanel input[type="button"]           { width : 45%; }
#instructionStatePanel form .error               { margin: 0; font-size: .8em; font-style: italic; text-align: center }

#instructionStatePanel ul    { margin: .2em 0 .5em .5em; text-align: left }
#instructionStatePanel ul li { padding: .1em 0; }

.add-link em {
  background:transparent url(../../images/icons/16-add.png) no-repeat scroll right 4px;
  padding-right:21px !important;
}

.button-panel {
  float:right;
  margin-right: 1em;
  overflow:auto;
}
