/* -------------------------------------------------------------- 

    TaskBoard styles
   
-------------------------------------------------------------- */


/* link
-------------------------------------------------------------- */
.taskboard-red a,
.taskboard-blue a,
.taskboard-green a,
.taskboard-orange a  { float: right; margin-right: 20px; text-decoration : none; }

.taskboard-red a     { color: #cc2020; }
.taskboard-blue a    { color: #2020cc; }
.taskboard-green a   { color: #20aa20; }
.taskboard-orange a  { color: #ec7000; }

.taskboard-red a:hover    { color:#ffffff; background: #cc2020; }
.taskboard-blue a:hover   { color:#ffffff; background: #2020cc; }
.taskboard-green a:hover  { color:#ffffff; background: #20aa20; }
.taskboard-orange a:hover { color:#ffffff; background: #ec7000; }

/* sub-titles
-------------------------------------------------------------- */
.taskboard-red h2    { color: #cc2020 !important; border-color: #cc2020 !important; }
.taskboard-blue h2   { color: #2020cc !important; border-color: #2020cc !important; }
.taskboard-green h2  { color: #20aa20 !important; border-color: #20aa20 !important; }
.taskboard-orange h2 { color: #ec7000 !important; border-color: #ec7000 !important; }

/* list
-------------------------------------------------------------- */
.taskboard-red ul, 
.taskboard-blue ul,
.taskboard-green ul,
.taskboard-orange ul { padding: 0 20px 10px 20px; color: #666666; }

.taskboard-red li, 
.taskboard-blue li,
.taskboard-green li,
.taskboard-orange li { padding: .5em 0 .5em 0; border-bottom:1px dashed #dddddd; }

.taskboard-red li a, 
.taskboard-blue li a,
.taskboard-green li a,
.taskboard-orange li a { float: none; margin: 0; }

