/**
	#header="#3f6f0f"
	#background-color="#d1e498"
	#button="#458a00"
*/
/**
 #header="#3f6f0f"
 #background-color="#d1e498"
 #button="#458a00"
 #streamer="#f4a11f"
*/

#banner {
        background: url(../img/banner.jpg) no-repeat;
        width: 100%;
        height: 78px;
}

#banner div.productlogo {
	display: none;
}

#navigation div.back {
    background-color: #d1e498;
    color: #458a00;
}

#navigation div.back:hover {
    background-color: #458a00;
    color: #d1e498;
}

#contents #form #title h1 {
    color: #3f6f0f;
}

#contents #form #body { 
	background-color: #d1e498;
}

#contents #form #body div.button {
    background-color: #d1e498;
    color: #458a00;
}

#contents #form #body div.button:hover {
    background-color: #458a00;
    color: #d1e498;
}

