/**
	#header="#3f6f0f"
	#background-color="#d1e498"
	#button="#458a00"
*/
div.static-button {
	background-color: #d1e498;
	color: #458a00;
}

div.disabled-button {
	background-color: #c8d2ac;
	color: #458a00;
}

div.enabled-button {
	background-color: #d1e498;
	color: #458a00;
}

div.enabled-button:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.name-button {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field select {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.radio {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.radio:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.check {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.check:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.mediumbox {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.mediumbox:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.radiolist div.mediumbox {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.radiolist div.mediumbox:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.longbox {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.longbox:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.xxlbox {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.xxlbox:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.xxxlbox {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.xxxlbox:hover {
	background-color: #458a00;
	color: #d1e498;
}

div.label-field div.check_long {
	background-color: #d1e498;
	color: #458a00;
}

div.label-field div.check_long:hover {
	background-color: #458a00;
	color: #d1e498;
}
