h2 {
	color: #1e2855;
}
h3 {
	color: #1e2855;
}

#welcome {
	color: #1e2855;
}

#header {
	background-color: #c4d8ec;
}
#personnal {
	background-color: #b1cbe6;
}
#public {
	background-color: #89b1d9;
}

div.button {
    color: #273166;
}

div.label-button div.button:hover {
    background-color: #273166;
    color: #89b1d9;
}

div.label-left-button div.button:hover {
    background-color: #273166;
    color: #89b1d9;
}
