<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="configurer"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location">
      <value>@deploy_properties_file@</value>
    </property>
  </bean>

  <bean id="provisioningService" class="fr.cg95.cvq.exporter.service.bo.impl.ProvisioningService">
    <property name="agentService">
      <ref bean="agentService"/>
    </property>
    <property name="schoolDAO">
      <ref bean="schoolDAO"/>
    </property>
    <property name="recreationCenterDAO">
      <ref bean="recreationCenterDAO"/>
    </property>
    <property name="localAuthorityRegistry">
      <ref bean="localAuthorityRegistry"/>
    </property>
    <property name="authorizeAlreadyCreated" value="true">
    </property>
  </bean>

  <bean id="localizationWebService" class="fr.cg95.cvq.exporter.service.localization.impl.LocalizationService">
	<property name="localizationService">
	  <ref bean="localizationService"/>
	</property>
  </bean>
</beans>
