/* COLORS */
/**
Site color : #95b5fe
*/
/* body */
body
{
  background-color: white;
}

/* main */
.caution,
.required
{
  color: #f00;
}

/* context */
#context
{
  border-top-color: #7f7f7f;
}

#context .context_block h1
{
  background-color: #c8c8c8;
  border-color: #a3a3a3;
  color: white;
}

#context .context_block p.notice,
#context .context_block .context_people_ok,
#context .context_block .context_people_ok a,
#context .context_document_ok,
#context .context_document_ok a,
#context .context_rule_ok,
#context .context_rule_ok a
{
  color: #a3a3a3;
}

/* content */
#content
{
  border-top-color: #7f7f7f;
}

#content_top h2
{
  color: white;
}

#content_top_links,
#content_top_links a
{
  color: #6e7c9c;
}

#content_top_links a:hover
{
  color: white;
}

/* footer */
#footer,
#footer a
{
  color: #6e6e6e;
}

#footer span.logo_legend
{
  background-color: #fff;
}

/* Background Color */
/* color description : light blue */

#context .context_block_notice,
#context .context_block .context_people_ok .custom_color,
#context .context_block .context_document_ok .custom_color,
#context .context_block .context_rule_ok .custom_color,
#content_top,
#content_middle,
.navigation_link_to_previous a,
.navigation_link_to_next a,
.navigation_link_to_next input,
.list .action_row .action_row_plus .custom_color,
.list .action_row .action_row_right .custom_color,
.list .action_row .action_row_cross .custom_color,
.list .action_row .action_row_print .custom_color,
.list .action_row .action_row_cancel .custom_color,
.actions_list .add .custom_color,
.large_notice_bg,
.actions_list .validation .custom_color,
.tool_list .print .custom_color,
.tool_list .cross .custom_color
{
  background-color: #95b5fe;
}

/* Background Color */
/* color description : white */
#context .context_block_notice p.notice,
.actions_list .validation input
{
  background-color: #fff;
}


/* CONTENT_MIDDLE */
/* FONT COLOR */
/* color description : dark grey */
.paragraph,
.paragraph a,
.high_paragraph,
.cancel a,
.add a,
.validation a,
.print a,
.list .action_row a,
.fieldset_subtitle,
.list .subtitle,
.inline_text,
.fieldset_title_modify a,
.confirm_list li.text_row .label,
.actions_list .validation_process input,
.tool_list .cross a,
.tool_list .print a,
.validation_list li.text_row .text
{
  color: #6e6e6e;
}

/* color description : light grey */
.insert_list li.text_row label,
.insert_list li.phone_row label,
.insert_list li.password_row label,
.insert_list li.date_row label,
.insert_list li.town_row label,
.insert_list li.text_row .large_field,
.insert_list li.checkbox_row label,
.insert_list li.radio_row label,
.insert_list li.radio_row .radio_border,
.insert_list li.radio_row_inline label,
.insert_list li.radio_row_inline .radio_border,
.list .document,
.insert_list li.select_row label,
.insert_list li.select_row select,
.insert_list li.textarea_row textarea,
.validation_list li.text_row .label,
.ticket_table_header .th .title

{
  color: #959595;
}

/* color description : light blue */
.list .title,
.list .people a,
.list .document a,
.fieldset_title,
.navigation_link_to_previous a,
.navigation_link_to_next input,
.navigation_link_to_next a,
.navigation_link_to_next a,
#context .context_block_notice,
.large_notice_txt,
.actions_list .validation input
{
  color: #95b5fe;
}

/* BORDER COLOR */
/* color description : light grey */
.list .title,
.list .subtitle
{
  border-bottom-color: #959595;
}

/* color description : light grey */
.insert_list li.text_row input,
.insert_list li.text_row textarea,
.insert_list li.textarea_row textarea,
.insert_list li.phone_row input,
.insert_list li.password_row input,
.insert_list li.date_row input,
.insert_list li.town_row input,
.insert_list li.radio_row span.radio_border,
.insert_list li.radio_row_inline span.radio_border,
.confirm_list li.text_row .label,
.confirm_list li.text_row .text,
.insert_list li.file_row input,
.insert_list li.select_row select,
.validation_list li.text_row,
.validation_list li.text_row .strong_label
{
  border-color: #dbdbdb;
}

.ticket_table_header .th
{
  border-color: #fff;
}

.ticket_table_body .td,
.ticket_table_body .tr_first .td,
.ticket_table_body .tr_last .td
{
  border-color: #c0c0c0;
}

.ticket_table_body .selected .td1
{
  border-right-color: white;
  border-bottom-color: white;
}

.ticket_table_body .selected .td2,
.ticket_table_body .selected .td3
{
  border-right-color: white;
  border-left-color: white;
  border-bottom-color: white;
}

.ticket_table_body .selected .td4
{
  border-left-color: white;
  border-bottom-color: white;
}


/* BACKGROUND COLOR */
/* color description : light grey */
.confirm_list li.text_row .label,
.confirm_list li.phone_row .label,
.confirm_list li.password_row .label,
.confirm_list li.date_row .label,
.confirm_list li.town_row .label
{
  background-color: #eee;
}

#context .context_block_demandeur
{
  border-color: #e3e3e3;
}

#context .context_block_demandeur h1
{
  color: #505050;
}

#content_wide,
#content_full
{
  border-top-color: #7f7f7f;
}

#content_wide_top h2,
#content_full_top h2,
.submit_row input,
.submit_row a,
.fieldset_title_inscription_steps .fieldset_title
{
  color: white;
}

#content_wide_top,
#content_wide_middle,
#content_full_top,
#content_full_middle,
.submit_row input,
.submit_row a,
.fieldset_title_inscription_steps,
.list_inscription_steps .label .picto_step
{
  background-color: #95b5fe;
}

.caution_paragraph
{
  color: #f00;
  border-bottom-color: #f00;
}

.fieldset_title_login,
.fieldset_title_inscription
{
  border-bottom-color: #808080
}

.fieldset_title_login,
.fieldset_title_inscription,
.fieldset_title_login .fieldset_title,
.fieldset_title_inscription .fieldset_title,
.forgot_pass_row,
.forgot_pass_row a,
.insert_list li.login_row label,
.list_inscription_steps .label,
.checkbox_row label,
.paragraph_introduction,
.fieldset_zone_demandeur .list .text_row
{
  color: #808080;
}

.insert_list li.login_row input
{
  border-color: #808080 #dbdbdb #dbdbdb #808080;
}

.list_inline .paragraph strong,
.checkbox_row label a,
.paragraph_introduction strong,
.paragraph_introduction a,
.fieldset_zone_inscription .paragraph a
{
  color: #95b5fe;
}

.list_inscription_steps,
.list_inscription_steps .paragraph
{
  border-color: #dbdbdb;
}

.fieldset_zone_demandeur .list .text_row strong
{
  color: #333333;
}

.fieldset_zone_demandeur
{
  border-color: #808080;
}

/* page 23 - 25 */
.validation_list .cross .custom_color
{
  background-color: #95b5fe;
}

.validation_list .cross a
{
  color: #6e6e6e;
}


/* Ticketing */
.ticket_table_body .selected_button .submit a
{
  color: #f00;
}
