<g:requestForms forms="${forms}" />
<html>
  <head>
    <style type="text/css">
      @page { size: A4 portrait; margin: 1cm 1cm 0cm 1cm;}
      .mail-template { margin: 0; padding: 0; width:100%; font-size:11pt; font-family:serif;}
      .mail-template div,
      .mail-template p { margin-top: 0; margin-bottom:0; }
      .mail-template img.logo-header { margin-top:0.25cm; margin-left:0.25cm; }
      .mail-template .address-ct, 
      .mail-template .date-place,
      .mail-template .address-hf { margin-bottom:2em; margin-left:11cm; }
      .mail-template .administrative-info { margin-bottom:2em; }
      .mail-template .salutation { margin-bottom:2em; text-align:center; font-size:12pt; }
      .mail-template .editable-zone { font-size:12pt; text-align:justify;}
      .mail-template .valediction { font-size:12pt; margin-top: 1em; text-align:justify;}
      .mail-template .closing { margin-top:3cm; margin-left:6.5cm; font-size:12pt; }
      .mail-template img.logo-footer { position:absolute; top: 26.5cm; }
    </style>
  </head>
  <body>
    <div class="mail-template">
      <div>
        <img class="logo" src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCABZAK8DASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDxbVNR
vH1W8xeXG0zuQPMP94+9d58P/hZ4j8bwi/ub6fTtIJws8hZnm9fLXIyO24kD0zggZfw18Gjx148F
tcqx02Atc3hBI3IDwmR3YkDqDjcR0r69hhit4Y4YY0jijUIiIoVVUDAAA6ACgDwzx/8ACvw/4P8A
hrqup2c2o3F/B5Plz3F0Tt3TIp+VcL0YjkGvn7z5v+er/wDfRr67+NH/ACSTXf8Adh/9HR18gUAP
Msh6u3500sWOSSfrXffDb4ZP8RE1Jl1ZbD7EYwQbfzd+/d/tDGNv61teN/gk3gzwpd64/iFbryGR
RALTZvLOF+9vOMZJ6dqANz9mo/8AEy8Qj/pjB/N6+hq+RfhF4xvfDHiyGxtLW3mXWLi3tJDLuBQF
8ZGD/tHrX11QAVzvjPxppfgbRDqWpl33MI4YIgC8r+gzwABySen1IB6FmCKWYgKBkkngCvHfEfh7
wp4u8bDUfE/xA0qexg/d22kw3ccQjGRwzbyST3IAJ45AAFAHd+A/G9p490CTVbS0ntRFO1vJHKQf
mCq3BHUYYenOePWHx18RNH8A2cEmoCWe5uCRDbQAbmA6sSeAo4GffgHnHQ6TY6dpul29ppMEEFjG
v7lLcAJg85GOuSc57k5rzp/g8viDxbc+IfGeqNqbO2IbKAGKKNB91M5zgZ6DGTkknJoA7Pwf4w0v
xtoa6ppbOEDmOWGUAPE47HBI6EEEdjW/XnHhn4XP4J8Yvqfh7VnTSLpSt1ptwpbjkrtfPO0njIyB
kZO416DdXVvY2kt1dTJDbwoXklkbaqKOSST0FAE1Mmmit4JJ55EiijUu8jsFVVAySSegArldT+J3
grSrYzzeJNPmA6JazCdifTCZP514H8Rvi/qHjg/2RpEMtlpDsAYyf31y2eN+OAOnyjPPJJ4wAfTu
larZ63pdvqWnymW0uF3xSGNk3D1wwB/SrlUdG01NH0PT9MjOUs7aO3U+oRQuf0q9QAUUUUAFFFFA
HKeCPh9o/gG3vItKkupTdurSyXTqzHaCAPlVRgZPbua6uiigDhPjN/ySXXf92H/0clfH9fYXxjUN
8J9eB/55xn/yKlfHtAHv/wCzQfk8Tj3tf/atdH+0PctD8OraJSP3+oxowz2CSN/NRXN/s0HjxQP+
vX/2tVn9pS7KaV4fs+0s80p/4Aqj/wBnoA8p+FNn9v8Aij4fhxnbc+d/37Uv/wCy19lV8afDLXdN
8L+NYNc1R3EFlDK6pGuXkdkKBVHTPzHqQOK7u9/aO1eed1ttBsYrVgV2SSu0n/fQwP0oA5P4m/En
UPGutXFvDcPFocEhS2t0YhZQDxI47k4yAfu9B3J7D4e2VpN+z14zlmtopHMs+WZRk7IY2Tn/AGWJ
I9CTXiFe9/Bvw3eeJPhnq1kuuT2VjcXssE1vHbxvvBijydzAkHBxwe1AHmfgL4g6t4G1iGWCeSTT
GcfarInKSKepAPR8dCPQZyMitv4gfFLW9S8a6hLoOvX9tpcbCG3W3uGRGCjBfAPO45OfQj0rpPHH
wW0Dwd4SvtbbWr6R4VCwxMiDfIxAUfTnJ9ga8f03R73VkvmsovM+xWrXc4z92JSoY/huFAHuHwI8
e6nqev3+ia3qlzevcQia1a6mLlWT7yjPPIOf+AGvepYo54nimjSSNxtZHUEMPQg9a+HfC+uzeGfF
Gm6zAW3Wk6yMqnBdOjr/AMCUkfjX2T4j12LTvBGpa7bTI6R2L3FvID8rnZlMH3JH50AfHPi65tbz
xhrE9jFBFZteS/Z0gjCIIwxC4UcDgCrnw/0a51/x5pFhZ3K2twZvNSd4hKIzGDJkoSA33ehPNc1X
ovwhn1PStW1fXtM0GTV5NP09ztEgRYixB3EnknajgKoJb260AfSWif8ACW2Vzcf8JLd6HNpsUJZL
m2SSKXcDyXViVC4zyDVPxv8AEXSPBXh631SQrfPeDNlDBIMTjAO4NyNmCPmGfvDrmvl3xZ8Q/Evj
OQjVb8i1zlbOD5IV9Pl/iI9WJPvXVeELOT4leFtS8PyBJNY0nTY/7JMj8lVmdnGScDIeOP0AC+lA
HRaP+0dftq6rrWj2g052ALWpYSRDPX5iQ2PTivoOGaO4hjmhdZIpFDo6nIYEZBB9K+H7bwp4gvNY
GkwaNfNflgpgMDKyk92yPlHucAV9HX/xP0L4daLpnhktJrGs2NpDaSQ2X3BIiKuGY9MkHgAn1AoA
9Vorw61/aPtVv/I1bwtdWcanDmK5Ejqf9xkT+dev6Hr2l+JNLj1LSLyO6tX4Dp1U91YHkH2NAGlR
RRQBxHxfG74U68P+mSH/AMiJXx3X2N8XAT8K9fA/54Kf/H1r45oA9+/Zn/5mj/t0/wDa1Z/7SV5v
8QaHY5/1Nq82P998f+060P2Z/wDmaP8At0/9rVyv7QN2Ln4lCIY/0axiiP4ln/8AZ6APKwCTgDJr
3P4t+CdF8IfCzQIbWxtk1OO6jinukT95MTE5kJbqRuAIB6cAcV5F4XtFv/F2i2bfduL+CI/RpFH9
a9u/aVumWx8O2g+7JJPIfqoQD/0M0AeGeH9JbXvEOnaQkvlNe3CQCTbu2biBnHfGc19C+BfAHxF8
APdQaffeHbywuHDtDcyzrhgMblwnykjAPXoK8h+D1st38V9Bjfoskkn4pE7D9QK+wZZEhieWV1SN
FLMzHAUDqTQB8zfHPXtfkvNP0HWL2wYogu5LWwiYRxsdyrl2JZmxu7KMMODmur+AXhKGXwdrGpah
Bvj1ctZqrjhoFBDYPozMwP8AuUWfwps/iXHN4y1m/wBQtLjVpnmggjCDZbg7Ygcg5OxVOfQiqnjf
4c6l4D8Czaj4e8W6/wCXZOu62+1Mkaxs2CVVMYO5gf8AvqgDw3WtKn0PXL7SrnmazneBjjAbaSMj
2PUexr1K58cNffs4jSpJC93Fexaa+W+byhmVD9MJs/4DXk13eXWoXUl1e3M1zcSHLzTOXduMck8n
gVEJHEbRh2CMQxXPBIzg4/E/maAG19Ofs76T9j8D3mpPHtkvrw7W/vRoAo/8eMlfMdfVGm3H9g/C
Lw14e0iZRrWtWiR2ahvmjaYeZLNxztjDu2R3A9aAPCfil4VHhHx5fWUMeyynP2m0AGAI3J+UeysG
X/gNZ3gfxNJ4R8Y6drKlvKhk23Cr/HE3DjHc4JI9wK9++N/gpNQ8AW99ZrI9xoSjBdi7vBgK+T1J
GFbJ7K3rXzBQB9l/EfxQ/h34c6jrOnSoZ3iVLWVTkZkIUOD0OASw7cV5l+zhZ2Fw+vahKiy6nG8S
iRxlkRg2cH/aIOfoK5+DxYPE/wAB7rw3LHd3Or6WytEsMDyD7MjBt7sBtRVXcvJ/hHrV/wCFnwq1
jUdLTXF8USabp2oRbXTTJD50iBuVLcBCCvbd3Hc0Abv7Qdr4cutMt5/ttoniO2kVUgQ7ppom6qwH
IAzuBbjhgOWqh8DPDXjbRNZkvJ9Pe00O6jKzx3hMbOwHyMifeznuQAQT14r1rw14A8M+E8SaXpkY
uv4rub95Mxxgne3Iz3AwPasT4t+PbnwH4fs59O+zPqF1cbI4p1LAxhSXbAI6EoOv8QoA9BrH8SeI
ofDOnR3s1hqF6ryiLy7C385wSCckZHHy4z6kVsUUAeQeOfHS+JfBOqaRY+FvFIuLqILGZdLYLncD
yQT6V8/DwZ4pPTw1rB/7cZf/AImvuCvOPFfxIvfD3xN0TwrDYW80GoiDfM7kMnmSshwBxwBmgDk/
2fdE1jSofE631headJMtsIXurZkyR5vIDAbsZGfrUviz4F6v4o1u41q58U20l7cBA4+wGJPlQKMY
kbHCivbqKAPnbRPgX4q8OeJLDWEm0jUEsbhJ1g+0yRNIVOQMmMgcgVq/GPwf4z8a63aHTNA32djG
6JILyEeYWIJYBmBHQDHtXulFAHzp8Hfh/wCI9B+IyXetaPcWkMFrKVlcAoWOFwGBIzhj+Rrvfi3r
2uPoN74c8P8Ah/WLq6u1EU13DaM0KxMPmCsM5JHy4xxk85xXp1Zuu6/pnhrS31LV7oW1mjKrSFGb
BJwOFBNAGV4I1sarosNt/YOqaO1lBFE0F9atEo4IxGTwwG3qOxGQM4q14vuLSPw7c2t9Y6jeW18j
WskdhavPIA6MCcKMgY7+pFaGkatY67pUGp6bOJ7O4BaKUKV3AEjoQCOQaukgAknAFAHxI3gTxcGI
HhbW2APB/s6bn/x2geBfF4P/ACKmuH/uHzf/ABNfU2pfFvwJpVy1vceIbd5V6/Z43nX/AL6RSv61
peH/AB54W8UymLRtat7mfnEJzHIcdSEcBiPcCgDzq2+AnhXWtPtdSRta0prmJZXsndcwEgEph03A
g5HJNd54M+HPh7wKsraTBI91MuyS7uWDysuc7cgAAZxwAM4Gc4FdZWNr3izQvDH2f+2tShsvtG7y
vMz8+3G7GB23D86ALesLO+j3UdtYw30rxlBazy+WkoPBDNg4GCexryXwv+z1o9kVuPEl2+oTdfss
DGOFfYtwz9ufl+le0dayNc8U6H4a8j+2dTt7Lz93lea2N+3GcfTcPzoAuadpen6TYrZadZW9parn
EMEYReepwO59a8ybw14p+GurXd74NtE1jw9dyGabRnk2SW7EcmJvTgDoTjAwcbq9K1XWNP0OxN7q
l3Ha2oYKZZDhQT0ye1O0vVrDW7BL7TLuK6tXJCyxNlSQcH9RQB563xQ8R3KJDp/w18QG8k4Au4zD
Ep9S5XGPrj8Kn8LeB9YvfEf/AAl/jmeC41byvLtLCAZgskIOR33NyR1IGScsSCO71PVbDRrJr3U7
yG0tlIUyzOFUEnAGTRpmq2GtWQvNNu4ru2YlRLC25SR1we9AFyiiuQ+J3ia48J+AdR1OyIW8wsMD
EZ2u5C7vqASR2yBQBt33iXQdLuha6hrem2lwQCIri6SNznpwSDXi3xHKv+0P4OZSGUrZkEHg/wCk
PTfhz8G9L8T+GI/EXiW5vZ7rUS8qqsuMAsRvY4JZiQTnPfpmubu/CU3gz45eGtHa+mu7Nbm3lsWm
fLJCZT8h7DDh+mAeuBnFAH1HWZd+I9D0+7Fpe6zp1tcnpDNdIjn/AICTmuT+Mfim88KeAJrjT3eK
7vJltIpkODFuDMWHvtVgD2JB7V4L4ds/hlNogl8T61q51eclpPs0Z2w88clTuPcn349SAfXAIZQy
kEEZBHelrwP4A+JLhdc1bwmL577S4Y3uLKVwVChZAp2qeVDhw23sQe5OffKACvNPjycfC2797mH/
ANCr0uvMvj0cfC65Hrcwj/x6gDY+EY2/CvQAf+eDH/x9q85+JviPWvG/jqP4d+G5TFArbLyQNtWR
sbm3Ec7EHUdzng/LXpHwm4+Fmgf9e5/9DavL/hm6W37Q3iuK6ZUmma9WIOMF289W4/4CGP0zQB3m
h/BDwXpNjHFd2DandBf3lxcyMNx74RSFAz06n3Nc944+BunLYPqvgwTafqtp++jt0lZllKnPykks
j+hBxkAYGcj2ijpQB5t8G/H83jXw7Nb6iwbVdOKpNJ/z2Rs7X+vBB+me+Bxf7TH/ADK//b3/AO0a
h+BpF18TvFV7YgjTGjk246DdMDH/AOOhqm/aY/5lf/t7/wDaNAHvijCKD1ArwD9pf/W+Gf8Aduv/
AGlX0BXz9+0r81z4ZQddtz+pioA9z1jSbPXdHu9Kv4xJa3URjkXjOD3HoQeQexANeD/C7Vbz4c/E
W/8AAetPi2u58QSHhfOIGxxz0kXaO5ztHGDX0NXjf7QHhaK68PQeK7d/JvtMZI3YHBeNnAUA+qu2
R0+83tQBznxK1S9+JnxJsvAuiy/6FZzETygZXzQP3kh5GQi5UdMncATkV71pGlWeh6RaaXYRCK1t
YxHGo9B3PqT1J7kk15b8AfCttYeFG8TSES3+qM6q5HMcSOV2565LKSfXC+lev0AFct8RfDEvi/wN
qOkW5UXTqsluW6eYhDAe2cFc9s5rqaKAPnbwL8Xx4D0U+FvFWjX6T6ezLEYUG/BJba6uRjGeCDyC
OOMnFl8Ral4s+OPhnVtRsJdPimntvsUMowfIDnackDO5txz78cV9Eaz/AMhbS/8Arr/UVt0AcL8X
PCV14x8CTWdgN97bTLdwR5x5jKGBX6lWbHvivJfC/wAS/COieH4tJ8UeCUfVrFfIZ0sISZNvA8zf
hlboD1yQT3xX0pXC+NP+Rh03/dH/AKEaAOc+D13q2u6hqWuT+GNI0vSJdwspobNYpiCV/dqygb4w
F5YjlunQhfXaKKAMXxZ4ktvCXhe+1u6QyJbJlYwcGRyQFXODjJIGcHHXtXgnxD+KMXxK0fT/AA34
e0i/+1T3KySLIFJYgEBFCk5GTnJxjb054+kLn/j1m/3G/lXmfwt/5DOq/wC7/wCzCgDt/CGjP4e8
H6TpEm0y2tqkcpU5BfHzY9t2a8y+Kvw81k6/F458HmQarBte4hh5kYoMB0B+8do2lO4HQ5OfZ6KA
PENH/aLsI7Uw+JNEvYL+I7JPsaqykjr8rspTntk/WsrxL8Wdb+IccnhrwPol4q3S7Jpnx5pQ8EcH
bGvYsW79q0/jf/yE7T/cFegfDH/kSrf/AHz/ACFADPhn4Bh8A+HDatIk+o3LCW8nUcFgOEXvtXJx
nqSTxnAxfjd4JvPFvhaC60yFp9Q0x2kSFfvSRsBvCju3yqQO+CBkkCvTqKAPDfDP7QOmWehw2fiX
T9RGp2qeVI8EasJSoxkhmUqx7jGM9+wwFk1L44/EuyvI9OktvDunMqu0gyBGG3EMenmPwMDOBjrg
k0/j3/yP0X/XOP8AkK978B/8iNpH/XD+poA6KvPPjgcfCbVvd4P/AEcleh1yPxM/5EW9/wCukP8A
6MWgDP8Agt/ySPQvpP8A+j5K76uY+Hn/ACIum/ST/wBGNXT0Af/Z" />
      </div>
      <div class="address-ct">
        <p>Service Culturel - Ville de Jouy-le-moutier</p>
        <p>Téléphone : 01 34 43 38 00</p>
        <p>Email : billetterie@jouylemoutier.fr</p>
      </div>
      <div class="date-place">
        <p>JOUY-LE-MOUTIER, le #{DATE}</p>
      </div>
      <div class="address-hf">
        <p>#{RR_TITLE} #{RR_LNAME}</p>
        <p>#{HF_ADDRESS_ADI}</p>
        <p>#{HF_ADDRESS_AGI}</p>
        <p>#{HF_ADDRESS_SNUM} #{HF_ADDRESS_SNAME}</p>
        <p>#{HF_ADDRESS_PNS}</p>
        <p>#{HF_ADDRESS_ZIP} #{HF_ADDRESS_TOWN}</p>
      </div>
      <div class="administrative-info">
        <p><strong>N/Réf</strong>. : #{RQ_CAT}</p>
        <p><strong>V/Réf</strong>. : dossier n°#{RQ_ID}</p>
        <p><strong>Objet</strong> : Attestation achat de places de spectacles</p>
        <p><strong>Envoi</strong> : #{MOC}</p>
      </div>
      <div class="salutation">
        #{RR_TITLE},
      </div>
      <g:editableZone id="Lab2" class="editable-zone">
        <p>Votre demande de #{RQ_TP_LABEL} du #{RQ_CDATE} a été traitée par nos services.</p>
        <p>Votre ou vos billet(s) est (sont) à retirer à l'accueil du Théâtre de Jouy aux heures d'ouverture, sur présentation de ce courrier imprimé ou, le cas échéant, du numéro de transaction.</p>
        <p>#{RQ_OBSERV}</p>
        <p>Nous restons à votre dispostion pour toute information complémentaire qui vous serait utile.</p>
      </g:editableZone>
      <div class="valediction">
        <p>Veuillez agréer, Madame, Monsieur, l’expression de nos salutations distinguées.</p>
      </div>
      <div class="closing">
        <p>#{RQ_CAT}</p>
      </div>
      <div>
        <g:if test="${type == 'HTML'}">
          <img alt="" class="logo logo-footer" src="${createLink(controller:'localAuthorityResource',action:'resource',id:'footerPdf')}" />
        </g:if>
        <g:if test="${type == 'PDF'}">
          <img alt="" class="logo logo-footer" src="${footerLink}" />
        </g:if>
      </div>
    </div>
  </body>
</html>
