<plugin name='google-chart' version='0.4.2'>
  <author>James Williams</author>
  <authorEmail>jwill@codehaus.org</authorEmail>
  <title>This plugin adds Google Chart API features to Grails applications.</title>
  <documentation>http://grails.codehaus.org/Google+Chart+Plugin</documentation>
  <resources>
    <resource>GoogleChartTagLib</resource>
    <resource>ExtendedChartDataCodec</resource>
    <resource>SimpleChartDataCodec</resource>
    <resource>TextChartDataCodec</resource>
  </resources>
</plugin>