/** Styles des éléements de formulaire **/

form {
	margin : 0;
	padding : 0;
}


fieldset { 
	border: 1px solid rgb(251, 227, 139); 
	padding: .5em;
	margin: 0;
	text-align : left;
}

fieldset p {
	margin: 0.4em 0;
}

* > fieldset p {
	margin: 0.8em 0;
}

legend { 
	/*color: #999;*/
	padding: 0 .25em; 
	font-size: 90%; 
	font-weight: bold;
}

label {
	cursor : pointer;
	font-size : 90%;
	font-weight : bold;
}

.pict-portlet label {
	display : inline;
}

select, input, textarea {
	font: 1em Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

textarea, .portlet-form-input-field {
	background: url(../images/input_bg.gif) #fff no-repeat left top;
	border: rgb(271, 227, 139) 1px solid;
	color: #585858;
	padding: 2px;
}

textarea:focus, .portlet-form-input-field:focus, textarea.focus, input.focus {
	background: url(../images/input_focus_bg.gif) no-repeat left top;
	border: rgb(291, 227, 139) 1px solid;
	color: #3C3C3C;
	padding: 2px;
}

textarea {
	margin: 0;
	overflow: auto;
}

.portlet-form-button {
	height : 20px;
	background : rgb(251, 227, 139);
	border : 1px solid #d7d7d7;
	font-size : 11px;
	font-weight : bold;
	color : #333;
	padding-left : 5px;
	cursor : pointer;
}
