/** Styles spécificique pour www.p-i-c-t.org **/

div.cvqfo-requestlist {
	padding-left: 2%;
	padding-right: 2%;	
}

div.cvqfo-requestlist table {
	border-left: 1px solid  #e5e5e5;
}

div.cvqfo-requestlist th {
	border-right: 1px solid  #e5e5e5;
	border-bottom: 1px solid  #e5e5e5;
	border-top: 1px solid  #e5e5e5;
}

div.cvqfo-requestlist td {
	text-align: center;
	margin: 0px;
	border-right: 1px solid  #e5e5e5;
	border-bottom: 1px solid  #e5e5e5;
}

li.cvqfo-request {
	list-style: none;
	list-style-image : url(../images/showmod.gif);
}

li.cvqfo-request-selected {
	font-weight: bold;
}

a.cvqfo-newrequest {
	background: url(../images/add.gif) no-repeat;
	padding-left: 15px;
}

fieldset.cvqfo-newrequest-drophover {
	background-color: rgb(251, 227, 139);		
}

div.cvqfo-toolbar-menu {
	display: inline;
	padding-left: 20px;
	border: 1px solid  #e5e5e5;	
}

div.cvqfo-toolbar-menu:hover {
	background-color: rgb(251, 227, 139);
	cursor: pointer;	
}

div.cvqfo-toolbar-individual-menu {
	background-image: url(../images/user.gif) ;
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.cvqfo-toolbar-document-menu {
	background-image: url(../images/attach.gif) ;
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.cvqfo-toolbar-menu-entry {
	text-align: center;
	border: 1px solid rgb(251, 227, 139);	
}

div.cvqfo-toolbar-menu-entry:hover {
	background-color: rgb(251, 227, 139);
	cursor: pointer;
}

/*
li.cvqfo-request-inprogress {
	background : url(../images/cog.gif) 0 0 no-repeat;
}

li.cvqfo-request-accepted {
	background : url(../images/signin.gif) 0 0 no-repeat;
}

li.cvqfo-request-failed {
	background : url(../images/stop.gif) 0 0 no-repeat;
}

li.cvqfo-request-archived {
	background : url(../images/briefcase.gif) 0 0 no-repeat;
}
*/