/* COMMON */
/* main */
*
{
  margin: 0;
  padding: 0;
}

a img, a:hover img
{
  border: none;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.clear-both
{
  clear: both;
}

.required
{
  margin-left: 2px;
}

/* mainframe */
#mainframe
{
  font: 0.7em/1em Arial, Helvetica, sans-serif;
}


/* footer */
#footer ul
{
  position: relative;
  list-style-type: none;
}

#footer ul li.logo
{
  display: inline;
  margin-top: 10px;
}

#footer ul li.logo span.logo_img
{
  float: left;
  display: block;
  width: 80px;
  margin-top: 10px;
  text-align: center;
}

#footer ul li.right span.logo_img
{
  float: right;
  display: none;
}

#footer a.info
{
  position: relative;
  text-decoration: none;
  z-index: 24;
}

#footer a.info span.logo_legend
{
  display: none;
}

#footer a.info:hover
{
  background: none;
  z-index: 25;
}

#footer a.info:hover span.logo_legend
{
  display: block;
  position: absolute;
  width: 500px;
  text-align: center;
  font-size: 0.8em;
  left: 105px;
  top: 10px;
  padding-bottom: 20px;
}

#footer ul li.legend
{
  position: absolute;
  left: 160px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
}

#footer ul li p.legend_text
{
  font-size: 0.8em;
}

/* CONTENT */
/* Main navigation */
#main_navigation
{
  float: left;
  clear: both;
  width: 738px;
  list-style-type: none;
  border-top: 1px solid;
  padding-top: 10px;
  padding-left: 30px;
}

#main_navigation .tab
{
  float: left;
  display: block;
  height: 38px;
  width: 94px;
}

#main_navigation .tab a
{
  float: left;
  display: block;
  height: 32px;
  width: 80%;
  background: url(img/navigation_tab.gif) no-repeat left bottom;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: center;
  padding: 6px 13% 0 7%;
}

#main_navigation .first
{
  float: left;
  display: block;
  height: 38px;
  width: 69px;
}

#main_navigation .first a
{
  line-height: 2.5em;
  background-image: url(img/navigation_tab_first.gif);
}

#main_navigation .tab a:hover,
#main_navigation .selected a
{
  background-position: left top;
  padding: 7px 13% 0 7%;
  text-decoration: none;
}

/* Content structure */
#content_top
{
  clear: both;
  float: left;
  width: 765px;
  height: 40px;
  background: url(img/content_top_bg.gif) no-repeat left top;
}

#content_middle
{
  clear: both;
  float: left;
  width: 745px;
  height: auto!important;
  height: 450px; /* IE */
  min-height: 450px;
  padding: 5px 0 0 20px;
  background: url(img/content_middle_bg.gif) repeat-y left top;
}

#content_top_home
{
  clear: both;
  float: left;
  width: 765px;
  height: 33px;
  background: url(img/content_top_bg.gif) no-repeat left top;
}

#content_middle_home
{
  clear: both;
  float: left;
  width: 757px;
  height: auto!important;
  height: 450px; /* IE */
  min-height: 450px;
  padding: 0 0 0 8px;
  background: url(img/content_middle_bg.gif) repeat-y left top;
}

#content_bottom
{
  clear: both;
  float: left;
  width: 765px;
  height: 14px;
  background: url(img/content_bottom_bg.gif) no-repeat left top;
}

/* Top Content */
#breadcrumb_trail
{
  clear: left;
  float: left;
  display: inline;
  padding-top: 7px;
  padding-left: 25px;
}

#breadcrumb_trail .item
{
  float: left;
  display: block;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}

#breadcrumb_trail .item a
{
  padding-right: 13px;
  margin-right: 7px;
  background: url(img/picto_14.gif) no-repeat right center;
}

#top_links
{
  float: right;
  text-align: right;
  height: 35px;
  line-height: 35px;
  list-style-type: none;
  font-weight: bold;
}

#top_links .item
{
  float: left;
  display: block;
  margin-right: 15px;
}

#top_links .item a
{
  float: left;
  text-decoration: underline;
}

#top_links .item a:hover
{
  text-decoration: none;
}

/* Middle Content */
/* Commmon */
.paragraph
{
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 5px 3px;
}

.text
{
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 0 3px;
}

.text_type1,
.text_type2,
.text_type3
{
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}

.text_type4
{
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.7em;
}

.text_type5
{
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 5px 3px;
  font-weight: bold;
}

.text_type6
{
  font-size: 1em;
  line-height: 1.1em;
  text-align: justify;
}

.block_image
{
  float: left;
  margin: 0;
}

/* COLUMNS */
.col_type1
{
  float: left;
  width: 285px;
  margin-left: 10px!important;
  margin-left: 5px; /* IE6 */
}

.col_type2
{
  float: left;
  width: 434px;
  margin-left: 14px;
}

.col_type3
{
  float: left;
  width: 184px;
}

.col_type4
{
  float: left;
  width: 540px;
  margin-left: 10px;
}

.col_type5
{
  float: left;
  width: 745px;
}

.col_type6
{
  float: left;
  width: 753px;
  height: 146px;
  background: url(img/content_home.gif) repeat-x left top;
}

.col_type7
{
  float: left;
  width: 753px;
}

/* BLOCKS */
/* Type 1 */
.block_type1
{
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 285px;
}

.block_type1 .title
{
  clear: both;
  float: left;
  width: 285px;
  height: 19px;
  background: url(img/block_type1_top.gif) no-repeat left top;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: center;
}

.block_type1 .box
{
  clear: both;
  float: left;
  width: 285px;
}

.block_type1 .box .box_top
{
  clear: both;
  float: left;
  width: 285px;
  height: 4px;
  background: url(img/block_type1_box_top.gif) no-repeat left top;
  font-size: 0em;
}

.block_type1 .box .box_middle
{
  clear: both;
  float: left;
  width: 278px;
  padding-left: 1px;
  padding-right: 6px;
  background: url(img/block_type1_box_middle.gif) repeat-y left top;
}

.block_type1 .box .box_bottom
{
  clear: both;
  float: left;
  width: 285px;
  height: 5px;
  background: url(img/block_type1_box_bottom.gif) no-repeat left top;
  font-size: 0em;
}

/* TYPE 2 */
.block_type2
{
  float: left;
  margin-bottom: 20px;
  width: 434px;
}

.block_type2 .title
{
  clear: both;
  float: left;
  width: 434px;
  height: 19px;
  background: url(img/block_type2_top.gif) no-repeat left top;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: center;
}

.block_type2 .box
{
  clear: both;
  float: left;
  width: 434px;
}

.block_type2 .box .box_top
{
  clear: both;
  float: left;
  width: 434px;
  height: 4px;
  background: url(img/block_type2_box_top.gif) no-repeat left top;
  font-size: 0em;
}

.block_type2 .box .box_middle
{
  clear: both;
  float: left;
  width: 428px;
  padding-right: 7px;
  background: url(img/block_type2_box_middle.gif) repeat-y left top;
}

.block_type2 .box .box_bottom
{
  clear: both;
  float: left;
  width: 434px;
  height: 5px;
  background: url(img/block_type2_box_bottom.gif) no-repeat left top;
  font-size: 0em;
}

/* Type 3 */
.block_type3
{
  float: left;
  margin-bottom: 5px;
  padding-bottom: 26px;
  width: 184px;
  background: url(img/block_type3_bg.gif) no-repeat left bottom;
  text-align: center;
  border: 1px solid;
}

/* Type 4 */
.block_type4
{
  float: left;
  width: 184px!important;
  width: 169px; /*IE6 */
  height: 380px;
  overflow-y: auto;
}

.block_type4 .box
{
  clear: both;
  float: left;
  margin: 5px 0;
  width: 100%;
  display: block;
}

/* Type 5 */
.block_type5
{
  float: left;
  width: 535px;
}

.block_type5 .overflow
{
  clear: both;
  overflow-y: scroll;
  height: 250px;
}

.col_type5 .block_type5
{
  margin-left: 5px;
}

.block_type5 .box
{
  clear: both;
  float: left;
  width: 535px;
}

.block_type5 .box .box_top
{
  clear: both;
  float: left;
  width: 535px;
  height: 4px;
  background: url(img/picto_11.gif) no-repeat left top;
  font-size: 0em;
}

.block_type5 .box .box_middle
{
  clear: both;
  float: left;
  width: 530px!important;
  width: 529px; /* IE6 */
  height: 440px;
  padding-left: 15px;
  background: url(img/picto_12.gif) repeat-y left top;
}

.block_type5 .box .box_bottom
{
  clear: both;
  float: left;
  width: 535px;
  height: 6px;
  background: url(img/picto_13.gif) no-repeat left top;
  font-size: 0em;
}

.block_type5 .title
{
  clear: both;
  float: left;
  width: 380px;
  height: 40px;
  padding-left: 40px;
  font-size: 1.3em;
  line-height: 2.5em;
  margin: 2px 0;
}

.block_type5 .adult
{
  background: url(img/title_adult.gif) no-repeat left top;
}

.block_type5 .child
{
  background: url(img/title_child.gif) no-repeat left top;
}

.block_type5 .document
{
  background: url(img/title_document.gif) no-repeat left top;
}

.block_type5 .account
{
  background: url(img/title_account.gif) no-repeat left top;
}

.block_type5 .money
{
  background: url(img/title_money.gif) no-repeat left top;
}

/* Type 6 */
.block_type6_header
{
  width: 735px;
  height: 26px;
}

.block_type6
{
  width: 735px;
  height: 375px;
  overflow-y: auto;
}

/* Type 7 */
.block_type7
{
  clear: both;
  float: left;
  width: 515px;
  margin: 10px 5px;
}

/* Type 8 */
.block_type8
{
  clear: both;
  float: left;
  width: 515px;
  margin: 10px 5px;
  padding: 5px 1px;
  border: 1px dotted;
}

.block_type8 .overflow
{
  overflow-y: scroll;
  height: 130px;
}

/* Type 9 */
.block_type9
{
  float: left;
  margin-left: 14px;
  margin-bottom: 5px;
  padding-bottom: 26px;
  width: 170px;
  background: url(img/block_type3_bg.gif) no-repeat left bottom;
  text-align: center;
  border: 1px solid;
}

/* Type 10 */
.block_type10
{
  float: left;
  width: 745px;
}

.block_type10 .box
{
  clear: both;
  float: left;
  width: 745px;
}

.block_type10 .box .box_top
{
  clear: both;
  float: left;
  width: 745px;
  height: 12px;
  background: url(img/block_type10_box_top.gif) no-repeat left top;
  font-size: 0em;
}

.block_type10 .box .box_middle
{
  clear: both;
  float: left;
  width: 745px;
  background: url(img/block_type10_box_middle.gif) repeat-y left top;
}

.block_type10 .box .box_bottom
{
  clear: both;
  float: left;
  width: 745px;
  height: 14px;
  background: url(img/block_type10_box_bottom.gif) no-repeat left top;
  font-size: 0em;
}

/* Type 11 */
.block_type11
{
  float: left;
  width: 470px;
  margin: 0 10px!important;
  margin: 0; /* IE 6*/
}

.block_type11 .overflow
{
  overflow-y: scroll;
  height: 150px;
}

.block_type11 .subtitle
{
  margin: 5px 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4em;
  height: 20px;
  padding-left: 15px;
  background: url(img/block_type11_subtitle.gif) no-repeat left top;
}

/* Type 12 */
.block_type12
{
  float: left;
  width: 320px;
  padding-left: 40px;
}

/* Type 13 */
.block_type13
{
  float: left;
  margin: 18px 0 10px 0;
  border-bottom: 1px solid;
}

.block_type12 .block_type13
{
  width: 320px;
}

.block_type14 .block_type13
{
  width: 225px;
}

.block_type13 .login,
.block_type13 .signin,
.block_type13 .reset
{
  font-size: 1.1em;
  line-height: 2em;
  padding-bottom: 6px;
}

.block_type12 .block_type13 .login
{
  padding-left: 60px;
  background: url(img/picto_27.gif) no-repeat left top;
}

.block_type14 .block_type13 .signin
{
  padding-left: 45px;
  background: url(img/picto_28.gif) no-repeat left top;
}

/* Type 14 */
.block_type14
{
  float: left;
  width: 225px;
  margin-left: 40px;
}

/* Type 15 */
.block_type15
{
  width: 225px;
}

/* Type 16 */
.block_type16
{
  float: left;
  width: 125px;
}

/* Type 17 */
.block_type17
{
  float: left;
  display: block;
  width: 300px;
  padding: 0 30px 0 40px;
  height: auto !important;
  height: 170px;
  min-height: 170px;
/*   border: 1px solid green; */
}

.error_type1
{
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 285px;
}

.error_type1 .title
{
  clear: both;
  float: left;
  width: 285px;
  height: 19px;
  background: url(img/block_type1_top.gif) no-repeat left top;
  font-size: 1.1em;
  line-height: 1.3em;
  text-indent: 70px;
}

.error_type1 .error_box
{
  clear: both;
  float: left;
  width: 285px;
}

.error_type1 .error_box .error_top
{
  clear: both;
  float: left;
  width: 285px;
  height: 4px;
  background: url(img/block_type1_box_top.gif) no-repeat left top;
  font-size: 0em;
}

.error_type1 .error_box .error_middle
{
  clear: both;
  float: left;
  width: 278px;
  padding-left: 1px;
  padding-right: 6px;
  background: url(img/block_type1_box_middle.gif) repeat-y left top;
}

.error_type1 .error_box .error_bottom
{
  clear: both;
  float: left;
  width: 285px;
  height: 5px;
  background: url(img/block_type1_box_bottom.gif) no-repeat left top;
  font-size: 0em;
}

/* LISTS */
/* Type 1*/
.list_type1
{
  list-style-type: none;
}

.list_type1 .item
{
  float: left;
  display: block;
  clear: both;
  padding: 3px 10px;
  width: 259px;
}

.list_type1 .item .custom_color
{
  float: left;
  display: block;
  width: 33px;
  height: 27px;
  margin-right: 5px;
  background: url(img/picto_1.gif) no-repeat left top;
}

.list_type1 .item a
{
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
}

.list_type1 .contact
{
  margin-top: 10px;
  padding: 3px 0;
  width: 279px;
  background: url(img/picto_3.gif) repeat-x left top;
}

.list_type1 .contact a
{
  padding-left: 48px;
  width: 217px;
  font-size: 1em;
  background: url(img/picto_2.gif) no-repeat 15px top;
}

/* Type 2 */
.list_type2
{
  clear: both;
  float: left;
  list-style-type: none;
  padding: 10px 0;
}

.list_type2 .item
{
  float: left;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
}

.list_type2 .document
{
  padding: 0 0 0 24px;
  width: 115px;
  height: 21px;
  background: url(img/picto_4.gif) no-repeat 4px top;
}

/* Type 3 */
.list_type3
{
  list-style-type: none;
}

.list_type3 .row
{
  clear: both;
  float: left;
  display: block;
  width: 100%;
  line-height: 2em;
  margin: 2px 0;
  background: url(img/picto_3.gif) repeat-x left bottom;
}

.list_type3 .last
{
  background: none;
}

.list_type3 .item
{
  float: left;
  display: block;
  font-size: 1.1em;
  line-height: 2em;
}

.list_type3 .document
{
  padding-left: 24px;
  background: url(img/picto_4.gif) no-repeat 4px 2px;
}

.list_type3 .document_ok
{
  padding-left: 24px;
  background: url(img/picto_5.gif) no-repeat 4px 2px;
}

.list_type3 .document_error
{
  padding-left: 24px;
  background: url(img/picto_6.gif) no-repeat 4px 2px;
}

/* Tye 4 */
.list_type4
{
  list-style-type: none;
}

.block_type5 .list_type4
{
  margin-left: 15px;
}

.list_type4 .row
{
  clear: both;
  float: left;
  margin: 2px 0;
  width: 100%;
}

.list_type4 .row .title
{
  display: block;
  border: 1px solid;
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 8px 10px 10px 40px;
  width: 68%;
  height: 22px;
  margin: 2px 0;
}

.list_type4 .row .title strong
{
  font-size: 1.1em;
}

.list_type4 .row .subtitle
{
  display: block;
  border: 1px solid;
  font-size: 1.1em;
  line-height: 1em;
  padding: 5px;
  width: 90%;
}

.list_type4 .row .short_item
{
  float: left;
  display: block;
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
}

.list_type4 .row .item
{
  float: left;
  display: block;
  padding-left: 22px;
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
}

.block_type5 .list_type4 .row .item
{
  font-size: 1.2em;
}

.list_type4 .row .selected a,
.list_type4 .row .selected
{
  text-decoration: underline;
}

.list_type4 .row .child
{
  background: url(img/picto_8.gif) no-repeat 1px 3px;
}

.list_type4 .row .adult
{
  background: url(img/picto_9.gif) no-repeat 1px top;
}

.list_type4 .row .certificate
{
  background: url(img/picto_15.gif) no-repeat 1px 3px;
}

.list_type4 .row .document
{
  background: url(img/picto_4.gif) no-repeat 3px 2px;
}

.list_type4 .row .document_error
{
  background: url(img/picto_6.gif) no-repeat 3px 2px;
}

.list_type4 .row .document_large
{
  background: url(img/picto_23.gif) no-repeat 5px center;
}

.list_type4 .row .money_large
{
  background: url(img/picto_24.gif) no-repeat 3px center;
}

/* Type 5 */
.list_type5
{
  clear: both;
  float: left;
  width: 510px;
  list-style-type: none;
  padding-left: 5px;
}

.list_type5 .row
{
  clear: both;
  float: left;
  width: 485px;
  border: 1px solid;
  padding-left: 15px;
  margin: 2px 0;
  background: url(img/picto_16.gif) repeat-y left top;
}

.list_type5 .selected
{
  background: url(img/picto_10.gif) repeat-y left top;
}

.list_type5 .error
{
  background: url(img/picto_10.gif) repeat-y left top;
}

.list_type5 .row .text_type1,
.list_type5 .row .text_type2,
.list_type5 .row .text_type3
{
  float: left;
  margin: 0 5px;
}

/* Type 6 */
.list_type6
{
  padding: 10px 0 10px 50px;
  background: url(img/picto_7.gif) no-repeat 5px 10px;
}

.list_type6 .subtitle
{
  font-size: 1.2em;
  line-height: 1.5em;
  list-style-type: none;
}

.list_type6 .item
{
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 15px;
  list-style-type: disc;
}

/* Type 7 */
.list_type7
{
  float: left;
  margin: 0 10px;
  list-style-type: none;
}

.list_type7 .item
{
  float: left;
  display: block;
  clear: both;
  padding: 3px 10px;
  width: 239px;
}

.list_type7 .item .custom_color
{
  float: left;
  display: block;
  width: 33px;
  height: 27px;
  margin-right: 5px;
  background: url(img/picto_17.gif) no-repeat left top;
}

.list_type7 .item a
{
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
}

/* Type 8 */
.list_type8
{
  float: left;
  list-style-type: none;
  width: 302px;
  padding-left: 5px;
}

.list_type8 .row
{
  clear: both;
  float: left;
  width: 402px;
  margin: 5px 0;
}

.list_type8 .row_type2
{
  border: 1px solid;
  padding: 5px;
  width: 390px;
}

/* Type 9 */
.list_type9
{
  clear: both;
  float: left;
  list-style-type: none;
  width: 380px;
  margin: 5px 0;
  padding-left: 110px;
}

.list_type9 .item_type1
{
  float: left;
  display: block;
  width: 160px;
}

.list_type9 .item_type1 a
{
  float: left;
  display: block;
  height: 35px;
  width: 124px;
  padding-right: 36px;
  text-align: right;
  line-height: 2.5em;
  font-weight: bold;
  background: url(img/navigation_left.gif) no-repeat left top;
}

.list_type9 .item_type2
{
  float: left;
  display: block;
  width: 160px;
}

.list_type9 .item_type2 a
{
  float: left;
  display: block;
  height: 35px;
  width: 120px;
  padding-left: 40px;
  text-align: left;
  line-height: 2.5em;
  font-weight: bold;
  background: url(img/navigation_right.gif) no-repeat left top;
}

/* Type 10 */
.list_type10
{
  list-style-type: none;
  position: relative;
  height: 26px;
  width: 739px;
  margin-top: 5px;
  background: url(img/picto_19.gif) repeat-x left bottom;
}

.list_type10 .item
{
  position: absolute;
  line-height: 26px;
  width: 90px;
  height: 26px;
  text-align: center;
}

.list_type10 .item1
{
  left: 6px;
  z-index: 9;
}

.list_type10 .item2
{
  left: 83px;
  z-index: 8;
}

.list_type10 .item3
{
  left: 159px;
  z-index: 7;
}

.list_type10 .item4
{
  left: 234px;
  z-index: 6;
}

.list_type10 .item5
{
  left: 310px;
  z-index: 5;
}

.list_type10 .item6
{
  left: 385px;
  z-index: 4;
}

.list_type10 .item7
{
  left: 461px;
  z-index: 3;
}

.list_type10 .item8
{
  left: 537px;
  z-index: 2;
}

.list_type10 .item9
{
  left: 612px;
  z-index: 1;
}

.list_type10 .item a
{
  display: block;
  width: 85px;
  height: 26px;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 5px;
}

.list_type10 .item a
{
  background: url(img/list_type10_item.gif) no-repeat left top;
}

.list_type10 .item a:hover
{
  background-position: left bottom;
}

.list_type10 .selected
{
  z-index: 10;
  background: url(img/list_type10_item.gif) no-repeat left bottom;
}

/* Type 11 */
.list_type11
{
  float: left;
  list-style-type: none;
  margin-left: 14px;
  width: 240px;
  overflow-y: auto;
  height: 340px;
}

.list_type11 .item
{
  float: left;
  display: block;
  clear: both;
  padding: 3px 0 3px 0;
  width: 225px!important;
  width: 219px; /* IE 6*/
}

.list_type11 .item a
{
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
  width: 100%;
  text-align: right;
}

.list_type11 .selected
{
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
  width: 225px!important;
  width: 219px; /* IE 6*/
  text-align: right;
}

.list_type11 .selected a
{
  text-decoration: underline;
}

.list_type11 .item .custom_color
{
  float: right;
  display: block;
  width: 33px;
  height: 27px;
  margin-left: 5px;
  background: url(img/picto_1.gif) no-repeat left top;
}

/* Type 12 */
.list_type12
{
  list-style-type: none;
}

.list_type12 .item
{
  float: left;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  width: 230px;
  margin: 5px 0;
}

.list_type12 .item strong
{
  font-weight: normal;
}

.list_type12 .clock
{
  width: 205px!important;
  width: 205px; /* IE 6*/
  padding-left: 25px;
  background: url(img/picto_20.gif) no-repeat left top;
}

.list_type12 .document
{
  width: 205px!important;
  width: 205px; /* IE 6*/
  padding-left: 25px;
  background: url(img/picto_21.gif) no-repeat left top;
}

.list_type12 .checkbox
{
  padding-left: 10px;
  width: 220px;
}

.list_type12 .submit
{
  padding-left: 10px;
  width: 220px;
  line-height: 2em;
}

.list_type12 .submit a
{
  line-height: 2em;
}

.list_type12 .submit .custom_color
{
  float: left;
  display: block;
  width: 33px;
  height: 27px;
  background: url(img/picto_1.gif) no-repeat left top;
}

/* Type 13 */
.list_type13
{
  list-style-type: none;
  margin: 0 0 0 5px;
}

.list_type13 .status
{
  float: left;
  width: 21px;
  height: 20px;
  margin: 4px 2px 0 2px;
  background: url(img/picto_22.gif) no-repeat left top;
}

/* Type 14 */
.list_type14
{
  list-style-type: none;
  margin: 20px 0;
  padding-left: 240px!important;
  padding-left: 225px;
}

.list_type14 .item
{
  float: left;
  display: block;
  width: 110px;
  height: 20px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 5px;
  border: 1px solid;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5em;
}

.list_type14 .cancel
{
  background: url(img/picto_26.gif) no-repeat 8px center;
}

.list_type14 .ok
{
  background: url(img/picto_18.gif) no-repeat 8px center;
}

.list_type14 .item a
{
  display: block;
  width: 110px;
  height: 20px;
}

/* Type 15 */
.list_type15
{
  list-style-type: none;
  clear: both;
/*   float: left; */
  width: 320px;
}

.list_type15 .row
{
  float: left;
  clear: both;
  margin: 3px 0;
  width: 320px;
}

.list_type15 .row input
{
	width: 200px;
}

.list_type15 .long input
{
	width: 300px;
}

/* Type 16 */
.list_type16
{
  clear: both;
  float: left;
  list-style-type: none;
  padding-left: 95px;
  padding-top: 5px;
}

.list_type16 .row
{
  display: inline;
}

.list_type16 .row .forgot_password
{
  float: left;
  display: block;
  height: 21px;
  width: 85px;
  font-size: 0.8em;
  line-height: 2em;
  margin-right: 10px;
  text-decoration: underline;
  font-style: italic;
}

/* Type 17 */
.list_type17
{
  list-style-type: none;
  clear: both;
}

.list_type17 .row
{
  clear: both;
  float: right;
  margin: 5px 0;
}

.list_type17 .row a
{
  float: left;
  display: block;
  height: 22px;
  width: 125px;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4em;
  background: url(img/picto_29.gif) no-repeat left top;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* Type 18 */
.list_type18
{
  list-style-type: none;
  clear: both;
  width: 100px;
}

.list_type18 .row
{
  clear: both;
  float: left;
  margin-top: 55px;
}

.list_type18 .row a
{
  float: left;
  display: block;
  height: 36px;
  font-size: 1.2em;
  line-height: 2.2em;
  padding-left: 25px;
  text-decoration: underline;
}

.list_type18 .row a .custom_color
{
  float: left;
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  background: url(img/picto_30.gif) no-repeat left top;
}

/* Type 19 */
.list_type19
{
  list-style-type: none;
  clear: both;
  padding-left: 80px;
}

.list_type19 .row
{
  display: block;
  clear: both;
  margin-top: 5px;
}

.list_type19 .title
{
  padding-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.5em;
  border-bottom: 1px solid;
}

.list_type19 .row a
{
  font-size: 1.2em;
  line-height: 1.8em;
}

.list_type19 .custom_color
{
  float: left;
  display: block;
  background: transparent url(img/picto_1.gif) no-repeat scroll left top;
  height: 27px;
  margin-right: 5px;
  width: 33px;
}

ul.children
{
  background: url(img/picto_32.gif) no-repeat 20px 5px;
}

ul.urban
{
  background: url(img/picto_33.gif) no-repeat 20px 5px;
}

ul.civil
{
  background: url(img/picto_34.gif) no-repeat 10px 5px;
}

ul.culture
{
  background: url(img/picto_35.gif) no-repeat 5px 5px;
}

ul.election
{
  background: url(img/picto_36.gif) no-repeat 5px 5px;
}

ul.leisure
{
  background: url(img/picto_37.gif) no-repeat 20px 0px;
}

ul.environment
{
  background: url(img/picto-environnement.gif) no-repeat 20px 0px;
}

ul.social
{
  background: url(img/picto-social.png) no-repeat 20px 0px;
}

ul.localpolice
{
  background: url(img/picto-police-municipale.gif) no-repeat 20px 0px;
}

ul.technical
{
  background: url(img/picto-services-techniques.gif) no-repeat 20px 0px;
}


/* Type Status */
.list_status
{
  list-style-type: none;
  margin: 0 0 0 5px;
}

.list_status .status
{
  list-style-type: none;
}

.list_status .status
{
  float: left;
  width: 14px;
  height: 14px;
  margin: 4px 2px 0 2px;
  background: url(img/status_empty.gif) no-repeat left top;
}

.list_status .error
{
  background-image: url(img/status_error.gif);
}

.list_status .caution
{
  background-image: url(img/status_caution.gif);
}

.list_status .ok
{
  background-image: url(img/status_ok.gif);
}

.list_type13 .status
{
  float: left;
  width: 21px;
  height: 20px;
  margin: 4px 2px 0 2px;
  background: url(img/picto_22.gif) no-repeat left top;
}

/* TABLES */
/* Type 1 */
.table_type1
{
  clear: both;
  margin: 5px 2px;
  border-collapse: collapse;
}

.table_type1 .th
{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.table_type1 .th .title
{
  display: block;
  height: 26px;
  font-size: 1.1em;
  line-height: 1.7em;
  background:  no-repeat center top;
}

.table_type1 .th1 .title
{
  width: 76px;
  background-image: url(img/table_type1_th1.gif);
}

.table_type1 .th2 .title
{
  width: 214px;
  background-image: url(img/table_type1_th2.gif);
}

.table_type1 .th3 .title
{
  width: 191px;
  background-image: url(img/table_type1_th3.gif);
}

.table_type1 .th4 .title
{
  width: 151px;
  background-image: url(img/table_type1_th4.gif);
}

.table_type1 .th5 .title
{
  width: 81px;
  background-image: url(img/table_type1_th5.gif);
}

.table_type1 .td
{
  border: 1px solid;
}

.table_type1 .td1
{
  width: 76px;
}

.table_type1 .td2
{
  width: 214px;
}

.table_type1 .td3
{
  width: 191px;
}

.table_type1 .td4
{
  width: 151px;
}

.table_type1 .td5
{
  width: 81px;
}

.table_type1 .td .paragraph
{
  line-height: 2em;
  padding: 5px 10px;
}

.table_type1 .td .document_ok
{
  padding-left: 24px;
  background: url(img/picto_5.gif) no-repeat 4px;
}

.table_type1 .td .document_error
{
  padding-left: 24px;
  background: url(img/picto_6.gif) no-repeat 4px;
}

/* Type 2 */
.table_type2
{
  clear: both;
  margin: 0 2px;
  border-collapse: collapse;
}

.table_type2 .th
{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  width: 48px;
  height: 26px;
  background: url(img/table_type2_th.gif) no-repeat center top;
}

.table_type2 .th1
{
  width: 148px;
  background-image: url(img/table_type2_th1.gif);
}

.table_type2 .th2
{
  width: 345px;
  background-image: url(img/table_type2_th2.gif);
}

.table_type2 .th .title
{
  float: left;
  display: block;
  font-size: 1.0em;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  width: auto;
  padding-left: 3px;
  height: 26px;
}

.table_type2 .th1 .title
{
  font-size: 1.1em;
  text-align: center;
  width: 145px;
}

/* Type 3 */
.table_type3
{
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type3 .td
{
  border-width: 1px;
  border-style: dotted solid;
  width: 48px;
}

.table_type3 .td1
{
  width: 145px;
}

.table_type3 .td2
{
  width: 345px;
}

.table_type3 .tr_first .td
{
  border-top-style: solid;
}

.table_type3 .tr_last .td
{
  border-bottom-style: solid;
}

.table_type3 .td .paragraph
{
  line-height: 1.1em;
  padding: 2px 5px;
}

.table_type3 .td .custom_color
{
  float: left;
  display: block;
  width: 21px;
  height: 20px;
  margin-right: 3px;
  margin-left: 5px;
  background: url(img/checked.gif) no-repeat center top;
}

/* Type 4*/
.table_type4
{
  clear: both;
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type4 .th
{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.table_type4 .th .title
{
  display: block;
  height: 24px;
  font-size: 1.1em;
  line-height: 1.7em;
  background:  no-repeat center top;
  padding: 0;
}

.table_type4 .th1 .title
{
  width: 80px;
  background-image: url(img/table_type4_th1.gif);
}

.table_type4 .th2 .title
{
  width: 97px;
  background-image: url(img/table_type4_th2.gif);
}

.table_type4 .th3 .title
{
  width: 238px;
  background-image: url(img/table_type4_th3.gif);
}

.table_type4 .th4 .title
{
  width: 91px;
  background-image: url(img/table_type4_th4.gif);
}

/* Type 5 */
.table_type5
{
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type5 .td
{
  border-width: 1px;
  border-style: dotted solid;
}

.table_type5 .td1
{
  width: 80px;
}

.table_type5 .td2
{
  width: 97px;
}

.table_type5 .td3
{
  width: 238px;
}

.table_type5 .td4
{
  width: 91px;
}

.table_type5 .tr_first .td
{
  border-top-style: solid;
}

.table_type5 .tr_last .td
{
  height: 30px;
  border-bottom-style: solid;
}

.table_type5 .td .paragraph
{
  line-height: 1.6em;
  padding: 2px 5px;
  text-align: center;
}

.table_type5 .td2 .paragraph,
.table_type5 .td3 .paragraph
{
  text-align: left;
}

.table_type5 .selected_notice .td .paragraph
{
  margin-left: 85px;
  text-align: left;
}

.table_type5 .selected_notice .td .paragraph tr td
{
  padding-right: 10px;
}

.table_type5 .td2 .document
{
  padding-left: 25px;
  background: url(img/picto_4.gif) no-repeat 5px 2px;
}

/* Type 6 */
.table_type6
{
  clear: both;
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type6 .th
{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.table_type6 .th .title
{
  display: block;
  height: 24px;
  font-size: 1.1em;
  line-height: 1.7em;
  background:  no-repeat center top;
  padding: 0;
}

.table_type6 .th1 .title
{
  width: 125px;
  background-image: url(img/table_type6_th1.gif);
}

.table_type6 .th2 .title
{
  width: 80px;
  background-image: url(img/table_type6_th2.gif);
}

.table_type6 .th3 .title
{
  width: 76px;
  background-image: url(img/table_type6_th3.gif);
}

.table_type6 .th4 .title
{
  width: 131px;
  background-image: url(img/table_type6_th4.gif);
}

.table_type6 .th5 .title
{
  width: 90px;
  background-image: url(img/table_type6_th5.gif);
}

/* Type 7 */
.table_type7
{
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type7 .td
{
  padding: 2px 0;
  border-width: 1px;
  border-style: dotted solid;
}

.table_type7 .td1
{
  width: 125px;
}

.table_type7 .td2
{
  width: 80px;
}

.table_type7 .td3
{
  width: 76px;
}

.table_type7 .td4
{
  width: 131px;
}

.table_type7 .td5
{
  width: 90px;
}

.table_type7 .tr_first .td
{
  border-top-style: solid;
}

.table_type7 .tr_last .td
{
  height: 30px;
  border-bottom-style: solid;
}

.table_type7 .td .paragraph
{
  line-height: 1.6em;
  padding: 2px 3px;
  text-align: center;
}

.table_type7 .td1 .paragraph
{
  text-align: left;
}

.table_type7 .td4 .paragraph
{
  font-size: 1em;
}

.table_type7 .selected_notice .td1
{
  width: 412px;
}

.table_type7 .selected_notice .td .paragraph
{
  padding-right: 5px;
  text-align: right;
}

.table_type7 .td1 .document
{
  padding-left: 25px;
  background: url(img/picto_4.gif) no-repeat 5px 2px;
}

/* Type 8h */
.table_type8h
{
  clear: both;
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type8h .th
{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.table_type8h .th .title
{
  display: block;
  height: 24px;
  font-size: 1.1em;
  line-height: 1.7em;
  background:  no-repeat center top;
  padding: 0;
}

.table_type8h .th1 .title
{
  width: 210px;
  background-image: url(img/table_type8_th1.gif);
}

.table_type8h .th2 .title
{
  width: 168px;
  background-image: url(img/table_type8_th2.gif);
}

.table_type8h .th3 .title
{
  width: 60px;
  background-image: url(img/table_type8_th3.gif);
}

.table_type8h .th4 .title
{
  width: 60px;
}

/* Type 8 */
.table_type8
{
  display: block;
  margin: 0 2px;
  border-collapse: collapse;
  width: auto;
  padding: 1px;
}

.table_type8 .td
{
  padding: 2px 0;
  border-width: 1px;
  border-style: dotted solid;
}

.table_type8 .td1
{
  width: 210px;
}

.table_type8 .td2
{
  width: 168px;
}

.table_type8 .td3
{
  width: 60px;
  font-weight: bold;
}

.table_type8 .td4
{
  width: 60px;
}


.table_type8 .td .paragraph
{
  line-height: 1.6em;
  padding: 2px 3px;
  text-align: center;
}

.table_type8 .td1 .paragraph,
.table_type8 .td2 .paragraph
{
  text-align: left;
}

.table_type8 .selected_notice .td .paragraph
{
  padding-right: 5px;
  text-align: right;
}

.table_type8 .td1 .document
{
  padding-left: 25px;
  background: url(img/picto_4.gif) no-repeat 5px 2px;
}

.table_type8 .tr_first .td
{
  border-top-style: solid;
}

.table_type8 .tr_last .td
{
  height: 30px;
  border-bottom-style: solid;
}

.table_type8 .tr_last .td .paragraph
{
  font-size: 1.2em;
  font-weight: bold;
}

.table_type8 .tr_last .td2 .paragraph
{
  text-align: right;
  padding-right: 20px;
}

.table_type8 .tr_none .td
{
  height: 20px;
}

.table_type8 .td4 a
{
  text-decoration: underline;
}


.list_type_welcome
{
  float: left;
  list-style-type: none;
  width: 700px;
  padding-left: 5px;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.list_type_welcome .row
{
  clear: both;
  float: left;
  width: 402px;
  padding-left: 300px;
  margin: 5px 0;
}

.div_imagearea{
	position: relative;
	left: 24px;
	top: 10px;
	width: 98%;
	height: 400px;
}

.div_image{
	position: absolute;
	width: 140px;
	height: 195px;
	cursor: pointer;
}

