

<% import org.apache.commons.lang.StringUtils %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${i18n.translate('bdr.label')}</title>
  <link href="certificate.css" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <img src="mairie2424.png" alt="mairie2424" />
  <h1>${i18n.translate('bdr.label')}</h1>

  
  <h2>${i18n.translate('bdr.step.requester.label')}</h2>
  
    
      
          <p class="label">
            ${i18n.translate('homeFolder.adult.property.title')}
            ${i18n.translate('homeFolder.individual.property.firstName')}
            ${i18n.translate('homeFolder.individual.property.lastName')}
          </p>
          <div class="response">
            <% if(requester?.title) { %>
              ${i18n.translate('homeFolder.adult.title.' + StringUtils.uncapitalize(requester?.title.toString()))}
            <% } %>
            ${requester?.firstName}
            ${requester?.lastName}
          </div>
          <p class="label">${i18n.translate('homeFolder.individual.property.address')}</p>
          <div class="response">
            <% if (requester?.adress) { %>
              <p><%"${requester?.adress?.additionalDeliveryInformation}"%></p>
              <p><%"${requester?.adress?.additionalGeographicalInformation}"%></p>
              <p>${requester?.adress?.streetNumber} ${requester?.adress?.streetName}</p>
              <p>${requester?.adress?.placeNameOrService}</p>
              <p>${requester?.adress?.postalCode} ${requester?.adress?.city}</p>
              <p>${requester?.adress?.countryName}</p>
            <% } %>
          </div>
          <p class="label">${i18n.translate('homeFolder.adult.property.email')}</p>
          <div class="response">${requester?.email}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.homePhone')}</p>
          <div class="response">${requester?.homePhone}</div>
          

    
  

  
  <h2>${i18n.translate('bdr.step.nature.label')}</h2>
  
    
      <p class="label">${i18n.translate('bdr.property.requesterQuality.label')}</p>
          <div class="response pick">
            <% if(rqt.requesterQuality) { %>
              ${i18n.translate('bdr.property.requesterQuality.' + StringUtils.uncapitalize(rqt.requesterQuality.toString()))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('bdr.property.requesterQualityPrecision.label')}</p><div class="response">${rqt.requesterQualityPrecision?.toString()}</div>

    
  
    
      <p class="label">${i18n.translate('bdr.property.birthLastName.label')}</p><div class="response">${rqt.birthLastName?.toString()}</div>

    
  
    
      <p class="label">${i18n.translate('bdr.property.birthMarriageName.label')}</p><div class="response">${rqt.birthMarriageName?.toString()}</div>

    
  
    
      <p class="label">${i18n.translate('bdr.property.birthFirstNames.label')}</p><div class="response">${rqt.birthFirstNames?.toString()}</div>

    
  
    
      <p class="label">${i18n.translate('bdr.property.birthDate.label')}</p>
          <div class="response">${rqt.birthDate}</div>
          

    
  
    
      <p class="label">${i18n.translate('bdr.property.birthCity.label')}</p><div class="response">${rqt.birthCity?.toString()}</div>

    
  
    
      <p class="label">${i18n.translate('bdr.property.birthPostalCode.label')}</p><div class="response">${rqt.birthPostalCode?.toString()}</div>

    
  

  
  <h2>${i18n.translate('bdr.step.type.label')}</h2>
  
    
      <p class="label">${i18n.translate('bdr.property.format.label')}</p>
          <div class="response choice">
            <% ['FullCopy','ExtractWithRelationship','ExtractWithoutRelationship','MultilingualExtract'].each { %>
              <span ${it == rqt.format.toString() ? 'class="checked"': ''}>
                ${i18n.translate('bdr.property.format.' + StringUtils.uncapitalize(it))}
              </span> / 
            <% } %>
          </div>
          

    
  
    
      <h3>${i18n.translate('bdr.property.fatherInformation.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('bdr.property.fatherLastName.label')}</p><div class="response">${rqt.fatherLastName?.toString()}</div>

        
          <p class="label">${i18n.translate('bdr.property.fatherFirstNames.label')}</p><div class="response">${rqt.fatherFirstNames?.toString()}</div>

        
      </div>
    
  
    
      <h3>${i18n.translate('bdr.property.motherInformation.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('bdr.property.motherMaidenName.label')}</p><div class="response">${rqt.motherMaidenName?.toString()}</div>

        
          <p class="label">${i18n.translate('bdr.property.motherFirstNames.label')}</p><div class="response">${rqt.motherFirstNames?.toString()}</div>

        
      </div>
    
  
    
      <p class="label">${i18n.translate('bdr.property.copies.label')}</p><div class="response">${rqt.copies?.toString()}</div>

    
  
    
      <p class="label">${i18n.translate('bdr.property.motive.label')}</p>
          <div class="response choice">
            <% ['NotaryAct','NationalIdentityCard','FrenchNationalityCertificate','Marriage','Pacs','Passport','Pension','LegalProceedings','Other'].each { %>
              <span ${it == rqt.motive.toString() ? 'class="checked"': ''}>
                ${i18n.translate('bdr.property.motive.' + StringUtils.uncapitalize(it))}
              </span> / 
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('bdr.property.comment.label')}</p><div class="response">${rqt.comment?.toString()}</div>

    
  

  
  
</body>
</html>

