

<%

  import org.apache.commons.lang.StringUtils
  def esc(s) { return org.apache.commons.lang3.StringEscapeUtils.escapeXml(s) }
  def localReferentialWidget(rqt, javaName, lrEntries, depth) {
    def lrHtml = ''
    def currentLrDatas = rqt[javaName].collect{it.name}
    if (lrTypes[javaName].entriesSupportMultiple) { 
      lrHtml += "<ul ${depth==0 ? 'class="dataTree"' : ''}>"
      lrEntries.eachWithIndex { entry, i -> 
      if (entry.entries) { 
        lrHtml += "<li>"
        lrHtml += "<em>${esc(entry.labelsMap.fr)} :</em>"
        lrHtml += localReferentialWidget(rqt, javaName, entry.entries,++depth)
        lrHtml += "</li>"
      } else {
         lrHtml += "<li><span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${esc(entry.labelsMap.fr)}</span>${i + 1 < lrEntries.size() ? ',' : ''}</li>"
      } 
    } 
    lrHtml += "</ul>"
    } else { 
      lrEntries.each { entry -> 
        lrHtml += "${currentLrDatas?.contains(entry.key) ? entry.labelsMap.fr: ''}"
      } 
    }
    println lrHtml
  }

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${esc(i18n.translate('cwcr.label'))}</title>
  <link href="file://${cssPath}" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <div id="hd">
    <p>${esc(localAuthority.displayTitle)}</p>
    <img src="file://${logoPath}" alt="mairie2424" />
  </div>
  <h1>${esc(i18n.translate('cwcr.label'))}</h1>
  <div class="localAuthority">
    <h2>${i18n.translate('pdf.localAutorityReservedSection')}</h2>
    <ul>
      <li>${i18n.translate('property.creationDate')} : <strong>${String.format('%td/%<tm/%<tY',rqt.creationDate)}</strong></li>
      <li>${i18n.translate('property.requester')} : <strong>${esc(rqt.requesterFirstName +' '+ rqt.requesterLastName)}</strong></li>
      <li>${i18n.translate('pdf.requestId')} : <strong>${rqt.id}</strong></li>
      <li>${i18n.translate('pdf.agentId')} : <strong>${rqt.lastInterveningUserId != null ? rqt.lastInterveningUserId : ''}</strong></li>
    </ul>
  </div>

  
  <h2>${i18n.translate('cwcr.step.waste.label')}</h2>
  
    
      <p class="label">${esc(i18n.translate('cwcr.property.compostableWasteType.label'))}</p>
          <div class="response choice">
            <% localReferentialWidget(rqt, 'compostableWasteType', lrTypes.compostableWasteType.entries, 0) %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('cwcr.property.otherWaste.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.otherWaste?.toString()))}</div>

    
  
    
      <p class="label">${esc(i18n.translate('cwcr.property.collectionAddress.label'))}</p>
          <div class="response">
            <% if(rqt.collectionAddress) { %>
              <p>${esc(StringUtils.defaultString(rqt.collectionAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.collectionAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.collectionAddress?.streetNumber))} ${esc(StringUtils.defaultString(rqt.collectionAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(rqt.collectionAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(rqt.collectionAddress?.postalCode))} ${esc(StringUtils.defaultString(rqt.collectionAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(rqt.collectionAddress?.countryName))}</p>
            <% } %>
          </div>
          

    
  

  <h2>${i18n.translate('contact.property.meansOfContact')}</h2>
  <div class="response choice">
    <% if (rqt.meansOfContact) { %>
      <% rqt.meansOfContact.type.allMeansOfContactEnums.eachWithIndex {it, i -> %>
        <span ${it == rqt.meansOfContact.type ? 'class="checked"': ''}>
          ${i18n.translate('meansOfContact.' + StringUtils.uncapitalize(it.toString()))}
        </span>${i + 1 < rqt.meansOfContact.type.allMeansOfContactEnums.length ? ', ' : ''}
      <% } %>
    <% } else { %>
      <span class="checked">${i18n.translate('meansOfContact.none')}</span>
    <% } %>
  </div>
</body>
</html>

