

<%

  import org.apache.commons.lang.StringUtils
  
  def localReferentialWidget(rqt, javaName, lrEntries, depth) {
    def lrHtml = ''
    def currentLrDatas = rqt[javaName].collect{it.name}
    if (lrTypes[javaName].entriesSupportMultiple) { 
      lrHtml += "<ul ${depth==0 ? 'class="dataTree"' : ''}>"
      lrEntries.eachWithIndex { entry, i -> 
      if (entry.entries) { 
        lrHtml += "<li>"
        lrHtml += "<em>${entry.labelsMap.fr} :</em>"
        lrHtml += localReferentialWidget(rqt, javaName, entry.entries,++depth)
        lrHtml += "</li>"
      } else {
         lrHtml += "<li><span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${entry.labelsMap.fr}</span>${i + 1 < lrEntries.size() ? ',' : ''}</li>"
      } 
    } 
    lrHtml += "</ul>"
    } else { 
      lrEntries.each { entry -> 
        lrHtml += "${currentLrDatas?.contains(entry.key) ? entry.labelsMap.fr: ''}"
      } 
    }
    println lrHtml
  }

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${i18n.translate('dccrr.label')}</title>
  <link href="file://${cssPath}" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <div id="hd">
    <p>${localAuthority.displayTitle}</p>
    <img src="file://${logoPath}" alt="mairie2424" />
  </div>
  <h1>${i18n.translate('dccrr.label')}</h1>
  <div class="localAuthority">
    <h2>${i18n.translate('pdf.localAutorityReservedSection')}</h2>
    <ul>
      <li>${i18n.translate('property.creationDate')} : <strong>${String.format('%td/%<tm/%<tY',rqt.creationDate)}</strong></li>
      <li>${i18n.translate('property.requester')} : <strong>${rqt.requesterFirstName +' '+ rqt.requesterLastName}</strong></li>
      <li>${i18n.translate('pdf.requestId')} : <strong>${rqt.id}</strong></li>
      <li>${i18n.translate('pdf.agentId')} : <strong>${rqt.lastInterveningUserId != null ? rqt.lastInterveningUserId : ''}</strong></li>
    </ul>
  </div>

  
  <h2>${i18n.translate('dccrr.step.subject.label')}</h2>
  
    
      <p class="label">${i18n.translate('request.property.subject.label')}</p>
           <div class="response">${subject?.fullName}</div>
          

    
  
    
      <h3>${i18n.translate('dccrr.property.informationMere.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.situationActuelleMere.label')}</p>
          <div class="response">
            <% if(rqt.situationActuelleMere) { %>
              ${i18n.translate('dccrr.property.situationActuelleMere.' + StringUtils.uncapitalize(rqt.situationActuelleMere.toString()))}
            <% } %>
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.precisionAutreSituationActuelleMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.precisionAutreSituationActuelleMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.professionMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.professionMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.estHorairesReguliersMere.label')}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.estHorairesReguliersMere ? 'class="checked"': ''}>
                ${i18n.translate('message.' + (it ? 'yes' : 'no'))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairesReguliersMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesReguliersMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailLundiMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailLundiMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailMardiMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailMardiMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailMercrediMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailMercrediMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailJeudiMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailJeudiMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailVendrediMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailVendrediMere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.communeLieuTravailMere.label')}</p><div class="response">${StringUtils.defaultString(rqt.communeLieuTravailMere?.toString())}</div>

        
      </div>
    
  
    
      <h3>${i18n.translate('dccrr.property.informationPere.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.situationActuellePere.label')}</p>
          <div class="response">
            <% if(rqt.situationActuellePere) { %>
              ${i18n.translate('dccrr.property.situationActuellePere.' + StringUtils.uncapitalize(rqt.situationActuellePere.toString()))}
            <% } %>
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.precisionAutreSituationActuellePere.label')}</p><div class="response">${StringUtils.defaultString(rqt.precisionAutreSituationActuellePere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.professionPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.professionPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.estHorairesReguliersPere.label')}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.estHorairesReguliersPere ? 'class="checked"': ''}>
                ${i18n.translate('message.' + (it ? 'yes' : 'no'))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairesReguliersPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesReguliersPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailLundiPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailLundiPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailMardiPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailMardiPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailMercrediPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailMercrediPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailJeudiPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailJeudiPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.horairesTravailVendrediPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.horairesTravailVendrediPere?.toString())}</div>

        
          <p class="label">${i18n.translate('dccrr.property.communeLieuTravailPere.label')}</p><div class="response">${StringUtils.defaultString(rqt.communeLieuTravailPere?.toString())}</div>

        
      </div>
    
  

  
  <h2>${i18n.translate('dccrr.step.accueil.label')}</h2>
  
    
      <p class="label">${i18n.translate('dccrr.property.modeAccueil.label')}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.modeAccueil ? 'class="checked"': ''}>
                ${i18n.translate('message.' + (it ? 'yes' : 'no'))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('dccrr.property.modeAccueilChoixUn.label')}</p>
          <div class="response">
            <% if(rqt.modeAccueilChoixUn) { %>
              ${i18n.translate('dccrr.property.modeAccueilChoixUn.' + StringUtils.uncapitalize(rqt.modeAccueilChoixUn.toString()))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('dccrr.property.modeAccueilChoixDeux.label')}</p>
          <div class="response">
            <% if(rqt.modeAccueilChoixDeux) { %>
              ${i18n.translate('dccrr.property.modeAccueilChoixDeux.' + StringUtils.uncapitalize(rqt.modeAccueilChoixDeux.toString()))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('dccrr.property.accueilAnterieur.label')}</p><div class="response">${StringUtils.defaultString(rqt.accueilAnterieur?.toString())}</div>

    
  
    
      <h3>${i18n.translate('dccrr.property.datePlacementAccueilRegulier.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.choixTypeDatePlacementAccueilRegulier.label')}</p>
          <div class="response">
            <% if(rqt.choixTypeDatePlacementAccueilRegulier) { %>
              ${i18n.translate('dccrr.property.choixTypeDatePlacementAccueilRegulier.' + StringUtils.uncapitalize(rqt.choixTypeDatePlacementAccueilRegulier.toString()))}
            <% } %>
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.datePlacementDebut.label')}</p>
          <div class="response">${rqt.datePlacementDebut ? String.format('%td/%<tm/%<tY',rqt.datePlacementDebut) : ''}</div>
          

        
          <p class="label">${i18n.translate('dccrr.property.datePlacementFin.label')}</p>
          <div class="response">${rqt.datePlacementFin ? String.format('%td/%<tm/%<tY',rqt.datePlacementFin) : ''}</div>
          

        
      </div>
    
  
    
      <p class="label">${i18n.translate('dccrr.property.choixHorairesAccueil.label')}</p>
          <div class="response">
            <% if(rqt.choixHorairesAccueil) { %>
              ${i18n.translate('dccrr.property.choixHorairesAccueil.' + StringUtils.uncapitalize(rqt.choixHorairesAccueil.toString()))}
            <% } %>
          </div>
          

    
  
    
      <h3>${i18n.translate('dccrr.property.plageHoraireAccueilReguliere.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinDebut.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinDebut ? rqt.horairePlacementMatinDebut.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinDebut && rqt.horairePlacementMatinDebut.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinDebut ? rqt.horairePlacementMatinDebut.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinFin.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinFin ? rqt.horairePlacementMatinFin.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinFin && rqt.horairePlacementMatinFin.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinFin ? rqt.horairePlacementMatinFin.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiDebut.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiDebut ? rqt.horairePlacementApresMidiDebut.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiDebut && rqt.horairePlacementApresMidiDebut.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiDebut ? rqt.horairePlacementApresMidiDebut.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiFin.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiFin ? rqt.horairePlacementApresMidiFin.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiFin && rqt.horairePlacementApresMidiFin.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiFin ? rqt.horairePlacementApresMidiFin.getMinuteOfHour() : ''}
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dccrr.property.lundi.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinDebutLundi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinDebutLundi ? rqt.horairePlacementMatinDebutLundi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinDebutLundi && rqt.horairePlacementMatinDebutLundi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinDebutLundi ? rqt.horairePlacementMatinDebutLundi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinFinLundi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinFinLundi ? rqt.horairePlacementMatinFinLundi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinFinLundi && rqt.horairePlacementMatinFinLundi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinFinLundi ? rqt.horairePlacementMatinFinLundi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiDebutLundi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiDebutLundi ? rqt.horairePlacementApresMidiDebutLundi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiDebutLundi && rqt.horairePlacementApresMidiDebutLundi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiDebutLundi ? rqt.horairePlacementApresMidiDebutLundi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiFinLundi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiFinLundi ? rqt.horairePlacementApresMidiFinLundi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiFinLundi && rqt.horairePlacementApresMidiFinLundi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiFinLundi ? rqt.horairePlacementApresMidiFinLundi.getMinuteOfHour() : ''}
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dccrr.property.mardi.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinDebutMardi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinDebutMardi ? rqt.horairePlacementMatinDebutMardi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinDebutMardi && rqt.horairePlacementMatinDebutMardi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinDebutMardi ? rqt.horairePlacementMatinDebutMardi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinFinMardi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinFinMardi ? rqt.horairePlacementMatinFinMardi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinFinMardi && rqt.horairePlacementMatinFinMardi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinFinMardi ? rqt.horairePlacementMatinFinMardi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiDebutMardi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiDebutMardi ? rqt.horairePlacementApresMidiDebutMardi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiDebutMardi && rqt.horairePlacementApresMidiDebutMardi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiDebutMardi ? rqt.horairePlacementApresMidiDebutMardi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiFinMardi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiFinMardi ? rqt.horairePlacementApresMidiFinMardi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiFinMardi && rqt.horairePlacementApresMidiFinMardi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiFinMardi ? rqt.horairePlacementApresMidiFinMardi.getMinuteOfHour() : ''}
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dccrr.property.mercredi.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinDebutMercredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinDebutMercredi ? rqt.horairePlacementMatinDebutMercredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinDebutMercredi && rqt.horairePlacementMatinDebutMercredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinDebutMercredi ? rqt.horairePlacementMatinDebutMercredi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinFinMercredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinFinMercredi ? rqt.horairePlacementMatinFinMercredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinFinMercredi && rqt.horairePlacementMatinFinMercredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinFinMercredi ? rqt.horairePlacementMatinFinMercredi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiDebutMercredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiDebutMercredi ? rqt.horairePlacementApresMidiDebutMercredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiDebutMercredi && rqt.horairePlacementApresMidiDebutMercredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiDebutMercredi ? rqt.horairePlacementApresMidiDebutMercredi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiFinMercredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiFinMercredi ? rqt.horairePlacementApresMidiFinMercredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiFinMercredi && rqt.horairePlacementApresMidiFinMercredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiFinMercredi ? rqt.horairePlacementApresMidiFinMercredi.getMinuteOfHour() : ''}
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dccrr.property.jeudi.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinDebutJeudi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinDebutJeudi ? rqt.horairePlacementMatinDebutJeudi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinDebutJeudi && rqt.horairePlacementMatinDebutJeudi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinDebutJeudi ? rqt.horairePlacementMatinDebutJeudi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinFinJeudi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinFinJeudi ? rqt.horairePlacementMatinFinJeudi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinFinJeudi && rqt.horairePlacementMatinFinJeudi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinFinJeudi ? rqt.horairePlacementMatinFinJeudi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiDebutJeudi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiDebutJeudi ? rqt.horairePlacementApresMidiDebutJeudi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiDebutJeudi && rqt.horairePlacementApresMidiDebutJeudi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiDebutJeudi ? rqt.horairePlacementApresMidiDebutJeudi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiFinJeudi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiFinJeudi ? rqt.horairePlacementApresMidiFinJeudi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiFinJeudi && rqt.horairePlacementApresMidiFinJeudi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiFinJeudi ? rqt.horairePlacementApresMidiFinJeudi.getMinuteOfHour() : ''}
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dccrr.property.vendredi.label')}</h3>
      <div class="complex">
        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinDebutVendredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinDebutVendredi ? rqt.horairePlacementMatinDebutVendredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinDebutVendredi && rqt.horairePlacementMatinDebutVendredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinDebutVendredi ? rqt.horairePlacementMatinDebutVendredi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementMatinFinVendredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementMatinFinVendredi ? rqt.horairePlacementMatinFinVendredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementMatinFinVendredi && rqt.horairePlacementMatinFinVendredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementMatinFinVendredi ? rqt.horairePlacementMatinFinVendredi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiDebutVendredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiDebutVendredi ? rqt.horairePlacementApresMidiDebutVendredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiDebutVendredi && rqt.horairePlacementApresMidiDebutVendredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiDebutVendredi ? rqt.horairePlacementApresMidiDebutVendredi.getMinuteOfHour() : ''}
          </div>
          

        
          <p class="label">${i18n.translate('dccrr.property.horairePlacementApresMidiFinVendredi.label')}</p>
          <div class="response">
            ${rqt.horairePlacementApresMidiFinVendredi ? rqt.horairePlacementApresMidiFinVendredi.getHourOfDay() : ''} :
            ${rqt.horairePlacementApresMidiFinVendredi && rqt.horairePlacementApresMidiFinVendredi.getMinuteOfHour() < 10 ? '0' : ''}${rqt.horairePlacementApresMidiFinVendredi ? rqt.horairePlacementApresMidiFinVendredi.getMinuteOfHour() : ''}
          </div>
          

        
      </div>
    
  

  
  <h2>${i18n.translate('dccrr.step.rendezVous.label')}</h2>
  
    
      <p class="label">${i18n.translate('dccrr.property.choixTypeRendezVous.label')}</p>
          <div class="response">
            <% if(rqt.choixTypeRendezVous) { %>
              ${i18n.translate('dccrr.property.choixTypeRendezVous.' + StringUtils.uncapitalize(rqt.choixTypeRendezVous.toString()))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('dccrr.property.telephoneContact.label')}</p><div class="response">${StringUtils.defaultString(rqt.telephoneContact?.toString())}</div>

    
  
    
      <p class="label">${i18n.translate('dccrr.property.plageHoraireContact.label')}</p>
          <div class="response">
            <% if(rqt.plageHoraireContact) { %>
              ${i18n.translate('dccrr.property.plageHoraireContact.' + StringUtils.uncapitalize(rqt.plageHoraireContact.toString()))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${i18n.translate('dccrr.property.commentaireCitoyen.label')}</p><div class="response">${StringUtils.defaultString(rqt.commentaireCitoyen?.toString())}</div>

    
  

  <h2>${i18n.translate('contact.property.meansOfContact')}</h2>
  <div class="response choice">
    <% if (rqt.meansOfContact) { %>
      <% rqt.meansOfContact.type.allMeansOfContactEnums.eachWithIndex {it, i -> %>
        <span ${it == rqt.meansOfContact.type ? 'class="checked"': ''}>
          ${i18n.translate('request.meansOfContact.' + StringUtils.uncapitalize(it.toString()))}
        </span>${i + 1 < rqt.meansOfContact.type.allMeansOfContactEnums.length ? ', ' : ''}
      <% } %>
    <% } else { %>
      <span class="checked">${i18n.translate('request.meansOfContact.none')}</span>
    <% } %>
  </div>
</body>
</html>

