

<%

  import org.apache.commons.lang.StringUtils
  import fr.cg95.cvq.util.EnumTool
  import java.text.NumberFormat
  def esc(s) { return org.apache.commons.lang3.StringEscapeUtils.escapeXml(s) }
  def localReferentialWidget(rqt, javaName, lrEntries, depth) {
    def currentLrDatas = rqt[javaName].collect{it.name}
    if (lrEntries.any{it.entries}) {
      println "<ul ${depth==0 ? 'class="dataTree"' : ''}>"
      
      lrEntries.each { entry ->
        println "<li>"
        if (entry.entries) {
          println "<em ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${entry.label} :</em>"
          localReferentialWidget(rqt, javaName, entry.entries, depth + 1)
        } else {
          println "<span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${entry.label}</span>"
        }
        println "</li>"
      }

      println "</ul>"
    } else {
      lrEntries.eachWithIndex { entry, i ->
        println "<span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${entry.label}</span>${i + 1 < lrEntries.size() ? ', ' : ''}"
      }
    }
  }

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${esc(i18n.translate('dhr.label'))}</title>
  <link href="file://${cssPath}" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <div id="hd">
    <p>${esc(localAuthority.displayTitle)}</p>
    <img src="file://${logoPath}" alt="mairie2424" />
  </div>
  <h1>${esc(i18n.translate('dhr.label'))}</h1>
  <div class="localAuthority">
    <h2>${i18n.translate('pdf.localAutorityReservedSection')}</h2>
    <ul>
      <li>${i18n.translate('property.creationDate')} : <strong>${String.format('%td/%<tm/%<tY',rqt.creationDate)}</strong></li>
      <li>${i18n.translate('property.requester')} : <strong>${esc(rqt.requesterFirstName +' '+ rqt.requesterLastName)}</strong></li>
      <li>${i18n.translate('pdf.requestId')} : <strong>${rqt.id}</strong></li>
      <li>${i18n.translate('pdf.agentId')} : <strong>${rqt.lastInterveningUserId != null ? rqt.lastInterveningUserId : ''}</strong></li>
    </ul>
  </div>
  <h2>${i18n.translate('request.property.requester')}</h2>
  
          <p class="label">
            ${i18n.translate('homeFolder.adult.property.title')}
            ${i18n.translate('homeFolder.individual.property.firstName')}
            ${i18n.translate('homeFolder.individual.property.lastName')}
          </p>
          <div class="response">
            <% if(requester?.title) { %>
              ${i18n.translate('homeFolder.adult.title.' + StringUtils.lowerCase(requester?.title.toString()))}
            <% } %>
            ${esc(requester?.firstName)}
            ${esc(requester?.lastName)}
          </div>
          <p class="label">${i18n.translate('homeFolder.individual.property.address')}</p>
          <div class="response">
            <% if (requester?.address) { %>
              <p>${esc(StringUtils.defaultString(requester?.address?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.streetNumber))} ${esc(StringUtils.defaultString(requester?.address?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.postalCode))} ${esc(StringUtils.defaultString(requester?.address?.city))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.countryName))}</p>
            <% } %>
          </div>
          <p class="label">${i18n.translate('homeFolder.adult.property.email')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.email))}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.homePhone')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.homePhone))}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.mobilePhone')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.mobilePhone))}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.officePhone')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.officePhone))}</div>
          


  
  <h2>${i18n.translate('dhr.step.subject.label')}</h2>
  
    
      <h3>${i18n.translate('dhr.property.dhrRequester.label')}</h3>
      <div class="complex">
        
          
          <p class="label">${esc(i18n.translate('dhr.property.subject.label'))}</p>
          <div class="response">${esc(subjectIsChild && !subject?.born ? i18n.translate('request.subject.childNoBorn', subject?.fullName) : subject?.fullName)}</div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequesterBirthDate.label'))}</p>
          <div class="response">${rqt.dhrRequesterBirthDate ? String.format('%td/%<tm/%<tY',rqt.dhrRequesterBirthDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequesterBirthPlace.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrRequesterBirthPlace?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequesterNationality.label'))}</p>
          <div class="response">
            <% if(rqt.dhrRequesterNationality) { %>
              ${esc(i18n.translate('dhr.property.dhrRequesterNationality.' + EnumTool.toLowerCamelCase(rqt.dhrRequesterNationality.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequesterFranceArrivalDate.label'))}</p>
          <div class="response">${rqt.dhrRequesterFranceArrivalDate ? String.format('%td/%<tm/%<tY',rqt.dhrRequesterFranceArrivalDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequesterIsFrenchResident.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.dhrRequesterIsFrenchResident ? 'class="checked"': ''}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dhr.property.dhrRequesterPensionPlan.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrPrincipalPensionPlan.label'))}</p>
          <div class="response">
            <% if(rqt.dhrPrincipalPensionPlan) { %>
              ${esc(i18n.translate('dhr.property.dhrPrincipalPensionPlan.' + EnumTool.toLowerCamelCase(rqt.dhrPrincipalPensionPlan.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrPensionPlanDetail.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrPensionPlanDetail?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrComplementaryPensionPlan.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrComplementaryPensionPlan?.toString()))}</div>

        
      </div>
    
  
    
      <h3>${i18n.translate('dhr.property.dhrRequesterGuardian.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequesterHaveGuardian.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.dhrRequesterHaveGuardian ? 'class="checked"': ''}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrGuardianMeasure.label'))}</p>
          <div class="response">
            <% if(rqt.dhrGuardianMeasure) { %>
              ${esc(i18n.translate('dhr.property.dhrGuardianMeasure.' + EnumTool.toLowerCamelCase(rqt.dhrGuardianMeasure.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrGuardianName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrGuardianName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrGuardianAddress.label'))}</p>
          <div class="response">
            <% if(rqt.dhrGuardianAddress) { %>
              <p>${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.streetNumber))} ${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.postalCode))} ${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrGuardianAddress?.countryName))}</p>
            <% } %>
          </div>
          

        
      </div>
    
  

  
  <h2>${i18n.translate('dhr.step.familyReferent.label')}</h2>
  
    
      <h3>${i18n.translate('dhr.property.dhrFamilyReferent.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrHaveFamilyReferent.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.dhrHaveFamilyReferent ? 'class="checked"': ''}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrReferentName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrReferentName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrReferentFirstName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrReferentFirstName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrReferentAddress.label'))}</p>
          <div class="response">
            <% if(rqt.dhrReferentAddress) { %>
              <p>${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.streetNumber))} ${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.postalCode))} ${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrReferentAddress?.countryName))}</p>
            <% } %>
          </div>
          

        
      </div>
    
  

  
  <h2>${i18n.translate('dhr.step.spouse.label')}</h2>
  
    
      <h3>${i18n.translate('dhr.property.dhrSpouse.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRequestKind.label'))}</p>
          <div class="response">
            <% if(rqt.dhrRequestKind) { %>
              ${esc(i18n.translate('dhr.property.dhrRequestKind.' + EnumTool.toLowerCamelCase(rqt.dhrRequestKind.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseTitle.label'))}</p>
          <div class="response">
            <% if(rqt.dhrSpouseTitle) { %>
              ${esc(i18n.translate('dhr.property.dhrSpouseTitle.' + EnumTool.toLowerCamelCase(rqt.dhrSpouseTitle.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseFamilyStatus.label'))}</p>
          <div class="response">
            <% if(rqt.dhrSpouseFamilyStatus) { %>
              ${esc(i18n.translate('dhr.property.dhrSpouseFamilyStatus.' + EnumTool.toLowerCamelCase(rqt.dhrSpouseFamilyStatus.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseFirstName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseFirstName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseMaidenName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseMaidenName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseBirthDate.label'))}</p>
          <div class="response">${rqt.dhrSpouseBirthDate ? String.format('%td/%<tm/%<tY',rqt.dhrSpouseBirthDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseBirthPlace.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseBirthPlace?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseNationality.label'))}</p>
          <div class="response">
            <% if(rqt.dhrSpouseNationality) { %>
              ${esc(i18n.translate('dhr.property.dhrSpouseNationality.' + EnumTool.toLowerCamelCase(rqt.dhrSpouseNationality.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseFranceArrivalDate.label'))}</p>
          <div class="response">${rqt.dhrSpouseFranceArrivalDate ? String.format('%td/%<tm/%<tY',rqt.dhrSpouseFranceArrivalDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseIsFrenchResident.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.dhrSpouseIsFrenchResident ? 'class="checked"': ''}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dhr.property.dhrSpouseStatus.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrIsSpouseRetired.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.dhrIsSpouseRetired ? 'class="checked"': ''}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpousePrincipalPensionPlan.label'))}</p>
          <div class="response">
            <% if(rqt.dhrSpousePrincipalPensionPlan) { %>
              ${esc(i18n.translate('dhr.property.dhrSpousePrincipalPensionPlan.' + EnumTool.toLowerCamelCase(rqt.dhrSpousePrincipalPensionPlan.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpousePensionPlanDetail.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpousePensionPlanDetail?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseComplementaryPensionPlan.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseComplementaryPensionPlan?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseProfession.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseProfession?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseEmployer.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrSpouseEmployer?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrSpouseAddress.label'))}</p>
          <div class="response">
            <% if(rqt.dhrSpouseAddress) { %>
              <p>${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.streetNumber))} ${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.postalCode))} ${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrSpouseAddress?.countryName))}</p>
            <% } %>
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('dhr.property.dhrSpouseIncomes.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.pensions.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.pensions?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrAllowances.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrAllowances?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrFurnitureInvestmentIncome.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrFurnitureInvestmentIncome?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRealEstateInvestmentIncome.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrRealEstateInvestmentIncome?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrNetIncome.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrNetIncome?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrIncomesAnnualTotal.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrIncomesAnnualTotal?.toString()))}</div>

        
      </div>
    
  

  
  <h2>${i18n.translate('dhr.step.dwelling.label')}</h2>
  
    
      <h3>${i18n.translate('dhr.property.dhrCurrentDwelling.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingAddress.label'))}</p>
          <div class="response">
            <% if(rqt.dhrCurrentDwellingAddress) { %>
              <p>${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.streetNumber))} ${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.postalCode))} ${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingAddress?.countryName))}</p>
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingPhone.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingPhone?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingKind.label'))}</p>
          <div class="response">
            <% if(rqt.dhrCurrentDwellingKind) { %>
              ${esc(i18n.translate('dhr.property.dhrCurrentDwellingKind.' + EnumTool.toLowerCamelCase(rqt.dhrCurrentDwellingKind.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingArrivalDate.label'))}</p>
          <div class="response">${rqt.dhrCurrentDwellingArrivalDate ? String.format('%td/%<tm/%<tY',rqt.dhrCurrentDwellingArrivalDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingStatus.label'))}</p>
          <div class="response">
            <% if(rqt.dhrCurrentDwellingStatus) { %>
              ${esc(i18n.translate('dhr.property.dhrCurrentDwellingStatus.' + EnumTool.toLowerCamelCase(rqt.dhrCurrentDwellingStatus.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingNumberOfRoom.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingNumberOfRoom?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrCurrentDwellingNetArea.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrCurrentDwellingNetArea?.toString()))}</div>

        
      </div>
    
  
    
      <h3>${i18n.translate('dhr.property.dhrPreviousDwelling.label')}</h3>
      <div class="complex">
      <% rqt.dhrPreviousDwelling.each { collectionIt -> %>
      
        <p class="label">${esc(i18n.translate('dhr.property.dhrPreviousDwellingAddress.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrPreviousDwellingAddress) { %>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.streetNumber))} ${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.postalCode))} ${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingAddress?.countryName))}</p>
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrPreviousDwellingKind.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrPreviousDwellingKind) { %>
              ${esc(i18n.translate('dhr.property.dhrPreviousDwellingKind.' + EnumTool.toLowerCamelCase(collectionIt.dhrPreviousDwellingKind.toString())))}
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrPreviousDwellingStatus.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrPreviousDwellingStatus) { %>
              ${esc(i18n.translate('dhr.property.dhrPreviousDwellingStatus.' + EnumTool.toLowerCamelCase(collectionIt.dhrPreviousDwellingStatus.toString())))}
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrPreviousDwellingArrivalDate.label'))}</p>
          <div class="response">${collectionIt.dhrPreviousDwellingArrivalDate ? String.format('%td/%<tm/%<tY',collectionIt.dhrPreviousDwellingArrivalDate) : ''}</div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrPreviousDwellingDepartureDate.label'))}</p>
          <div class="response">${collectionIt.dhrPreviousDwellingDepartureDate ? String.format('%td/%<tm/%<tY',collectionIt.dhrPreviousDwellingDepartureDate) : ''}</div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrPreviousDwellingComment.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.dhrPreviousDwellingComment?.toString()))}</div>

      
      <% } %>
      </div>    
    
  

  
  <h2>${i18n.translate('dhr.step.resources.label')}</h2>
  
    
      <h3>${i18n.translate('dhr.property.dhrRequesterIncomes.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.pensions.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.pensions?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrAllowances.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrAllowances?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrFurnitureInvestmentIncome.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrFurnitureInvestmentIncome?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrRealEstateInvestmentIncome.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrRealEstateInvestmentIncome?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrNetIncome.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrNetIncome?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.dhrIncomesAnnualTotal.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrIncomesAnnualTotal?.toString()))}</div>

        
      </div>
    
  
    
      <h3>${i18n.translate('dhr.property.dhrRealAsset.label')}</h3>
      <div class="complex">
      <% rqt.dhrRealAsset.each { collectionIt -> %>
      
        <p class="label">${esc(i18n.translate('dhr.property.dhrRealAssetAddress.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrRealAssetAddress) { %>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.streetNumber))} ${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.postalCode))} ${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrRealAssetAddress?.countryName))}</p>
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrRealAssetValue.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.dhrRealAssetValue?.toString()))}</div>

      
        <p class="label">${esc(i18n.translate('dhr.property.realAssetNetFloorArea.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.realAssetNetFloorArea?.toString()))}</div>

      
      <% } %>
      </div>    
    
  
    
      <h3>${i18n.translate('dhr.property.dhrNotRealAsset.label')}</h3>
      <div class="complex">
      <% rqt.dhrNotRealAsset.each { collectionIt -> %>
      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetType.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrNotRealAssetType) { %>
              ${esc(i18n.translate('dhr.property.dhrNotRealAssetType.' + EnumTool.toLowerCamelCase(collectionIt.dhrNotRealAssetType.toString())))}
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetKind.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrNotRealAssetKind) { %>
              ${esc(i18n.translate('dhr.property.dhrNotRealAssetKind.' + EnumTool.toLowerCamelCase(collectionIt.dhrNotRealAssetKind.toString())))}
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetAddress.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrNotRealAssetAddress) { %>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.streetNumber))} ${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.postalCode))} ${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetAddress?.countryName))}</p>
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetBeneficiaryName.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryName?.toString()))}</div>

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetBeneficiaryFirstName.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryFirstName?.toString()))}</div>

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetBeneficiaryAddress.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrNotRealAssetBeneficiaryAddress) { %>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.streetNumber))} ${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.postalCode))} ${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetBeneficiaryAddress?.countryName))}</p>
            <% } %>
          </div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetValue.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetValue?.toString()))}</div>

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetDate.label'))}</p>
          <div class="response">${collectionIt.dhrNotRealAssetDate ? String.format('%td/%<tm/%<tY',collectionIt.dhrNotRealAssetDate) : ''}</div>
          

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetNotaryName.label'))}</p><div class="response">${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryName?.toString()))}</div>

      
        <p class="label">${esc(i18n.translate('dhr.property.dhrNotRealAssetNotaryAddress.label'))}</p>
          <div class="response">
            <% if(collectionIt.dhrNotRealAssetNotaryAddress) { %>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.streetNumber))} ${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.postalCode))} ${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.city))}</p>
              <p>${esc(StringUtils.defaultString(collectionIt.dhrNotRealAssetNotaryAddress?.countryName))}</p>
            <% } %>
          </div>
          

      
      <% } %>
      </div>    
    
  

  
  <h2>${i18n.translate('dhr.step.taxes.label')}</h2>
  
    
      <h3>${i18n.translate('dhr.property.dhrTaxesAmount.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('dhr.property.dhrIncomeTax.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.dhrIncomeTax?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.localRate.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.localRate?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.propertyTaxes.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.propertyTaxes?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('dhr.property.professionalTaxes.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.professionalTaxes?.toString()))}</div>

        
      </div>
    
  

  <h2>${i18n.translate('contact.property.meansOfContact')}</h2>
  <div class="response choice">
    <% if (rqt.meansOfContact) { %>
      <% rqt.meansOfContact.type.allMeansOfContactEnums.eachWithIndex {it, i -> %>
        <span ${it == rqt.meansOfContact.type ? 'class="checked"': ''}>
          ${i18n.translate('meansOfContact.' + StringUtils.uncapitalize(it.legacyLabel))}
        </span>${i + 1 < rqt.meansOfContact.type.allMeansOfContactEnums.length ? ', ' : ''}
      <% } %>
    <% } else { %>
      <span class="checked">${i18n.translate('meansOfContact.none')}</span>
    <% } %>
  </div>
</body>
</html>

