

<%

  import org.apache.commons.lang.StringUtils
  import fr.cg95.cvq.util.EnumTool
  import java.text.NumberFormat
  import fr.cg95.cvq.business.users.RoleType
  import fr.cg95.cvq.business.users.IndividualRole

  def esc(s) { return org.apache.commons.lang3.StringEscapeUtils.escapeXml(s) }
  def localReferentialWidget(rqt, javaName, lrEntries, depth) {
    def currentLrDatas = rqt[javaName].collect{it.name}
    if (lrEntries.any{it.entries}) {
      println "<ul ${depth==0 ? 'class="dataTree"' : ''}>"
      
      lrEntries.each { entry ->
        println "<li>"
        if (entry.entries) {
          println "<em ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : 'class="unchecked"'}>${entry.label} :</em>"
          localReferentialWidget(rqt, javaName, entry.entries, depth + 1)
        } else {
          println "<span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : 'class="unchecked"'}>${entry.label}</span>"
        }
        println "</li>"
      }

      println "</ul>"
    } else {
      lrEntries.eachWithIndex { entry, i ->
        println "<span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : 'class="unchecked"'}>${entry.label}</span>"
      }
    }
  }

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${esc(i18n.translate('mcr.label'))}</title>
  <link href="file://${cssPath}" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <div id="hd">
    <p>${esc(localAuthority.displayTitle)}</p>
    <img src="file://${logoPath}" alt="mairie2424" />
  </div>
  <h1>${esc(i18n.translate('mcr.label'))}</h1>
  <div class="localAuthority">
    <h2>${i18n.translate('pdf.localAutorityReservedSection')}</h2>
    <ul>
      <li>${i18n.translate('property.creationDate')} : <strong>${String.format('%td/%<tm/%<tY',rqt.creationDate)}</strong></li>
      <li>${i18n.translate('property.requester')} : <strong>${esc(rqt.requesterFirstName +' '+ rqt.requesterLastName)}</strong></li>
      <li>${i18n.translate('pdf.requestId')} : <strong>${rqt.id}</strong></li>
      <li>${i18n.translate('pdf.agentId')} : <strong>${rqt.lastInterveningUserId != null ? rqt.lastInterveningUserId : ''}</strong></li>
    </ul>
  </div>
  <h2>${i18n.translate('request.property.requester')}</h2>
  
          <p class="label">
            ${i18n.translate('homeFolder.adult.property.title')}
            ${i18n.translate('homeFolder.individual.property.firstName')}
            ${i18n.translate('homeFolder.individual.property.lastName')}
          </p>
          <div class="response">
            <% if(requester?.title) { %>
              ${i18n.translate('homeFolder.adult.title.' + StringUtils.lowerCase(requester?.title.toString()))}
            <% } %>
            ${esc(requester?.firstName)}
            ${esc(requester?.lastName)}
          </div>
          <p class="label">${i18n.translate('homeFolder.individual.property.address')}</p>
          <div class="response">
            <% if (requester?.address) { %>
              <p>${esc(StringUtils.defaultString(requester?.address?.additionalDeliveryInformation))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.additionalGeographicalInformation))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.streetNumber))} ${esc(StringUtils.defaultString(requester?.address?.streetName))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.placeNameOrService))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.postalCode))} ${esc(StringUtils.defaultString(requester?.address?.city))}</p>
              <p>${esc(StringUtils.defaultString(requester?.address?.countryName))}</p>
            <% } %>
          </div>
          <p class="label">${i18n.translate('homeFolder.adult.property.email')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.email))}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.homePhone')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.homePhone))}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.mobilePhone')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.mobilePhone))}</div>
          <p class="label">${i18n.translate('homeFolder.adult.property.officePhone')}</p>
          <div class="response">${esc(StringUtils.defaultString(requester?.officePhone))}</div>
          


  
  <h2>${i18n.translate('mcr.step.census.label')}</h2>
  
    
      
          <p class="label">${esc(i18n.translate('mcr.property.subject.label'))}</p>
          <div class="response">${esc(subjectIsChild && !subject?.born ? i18n.translate('request.subject.childNoBorn', subject?.fullName) : subject?.fullName)}</div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childTitle.label'))}</p>
          <div class="response">
            <% if(rqt.childTitle) { %>
              ${esc(i18n.translate('mcr.property.childTitle.' + EnumTool.toLowerCamelCase(rqt.childTitle.toString())))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.maidenName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.maidenName?.toString()))}</div>

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childBirthCountry.label'))}</p>
          <div class="response">
            <% if(rqt.childBirthCountry) { %>
              ${esc(i18n.translate('mcr.property.childBirthCountry.' + EnumTool.toLowerCamelCase(rqt.childBirthCountry.toString())))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childResidenceCountry.label'))}</p>
          <div class="response">
            <% if(rqt.childResidenceCountry) { %>
              ${esc(i18n.translate('mcr.property.childResidenceCountry.' + EnumTool.toLowerCamelCase(rqt.childResidenceCountry.toString())))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childPhone.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.childPhone?.toString()))}</div>

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childMail.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.childMail?.toString()))}</div>

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childCountry.label'))}</p>
          <div class="response">
            <% if(rqt.childCountry) { %>
              ${esc(i18n.translate('mcr.property.childCountry.' + EnumTool.toLowerCamelCase(rqt.childCountry.toString())))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childOtherCountry.label'))}</p>
          <div class="response">
            <% if(rqt.childOtherCountry) { %>
              ${esc(i18n.translate('mcr.property.childOtherCountry.' + EnumTool.toLowerCamelCase(rqt.childOtherCountry.toString())))}
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.childConvention.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.childConvention?.toString()))}</div>

    
  

  
  <h2>${i18n.translate('mcr.step.parentage.label')}</h2>
  
    
      <h3>${i18n.translate('mcr.property.fatherInformation.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('mcr.property.fatherLastName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.fatherLastName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.fatherFirstName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.fatherFirstName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.fatherBirthDate.label'))}</p>
          <div class="response">${rqt.fatherBirthDate ? String.format('%td/%<tm/%<tY',rqt.fatherBirthDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.fatherBirthCity.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.fatherBirthCity?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.fatherBirthDepartment.label'))}</p>
          <div class="response">
            <% if(rqt.fatherBirthDepartment) { %>
              ${esc(i18n.translate('mcr.property.fatherBirthDepartment.' + EnumTool.toLowerCamelCase(rqt.fatherBirthDepartment.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.fatherBirthCountry.label'))}</p>
          <div class="response">
            <% if(rqt.fatherBirthCountry) { %>
              ${esc(i18n.translate('mcr.property.fatherBirthCountry.' + EnumTool.toLowerCamelCase(rqt.fatherBirthCountry.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.fatherNationality.label'))}</p>
          <div class="response">
            <% if(rqt.fatherNationality) { %>
              ${esc(i18n.translate('mcr.property.fatherNationality.' + EnumTool.toLowerCamelCase(rqt.fatherNationality.toString())))}
            <% } %>
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('mcr.property.motherInformation.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('mcr.property.motherLastName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.motherLastName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.motherFirstName.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.motherFirstName?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.motherBirthDate.label'))}</p>
          <div class="response">${rqt.motherBirthDate ? String.format('%td/%<tm/%<tY',rqt.motherBirthDate) : ''}</div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.motherBirthCity.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.motherBirthCity?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.motherBirthDepartment.label'))}</p>
          <div class="response">
            <% if(rqt.motherBirthDepartment) { %>
              ${esc(i18n.translate('mcr.property.motherBirthDepartment.' + EnumTool.toLowerCamelCase(rqt.motherBirthDepartment.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.motherBirthCountry.label'))}</p>
          <div class="response">
            <% if(rqt.motherBirthCountry) { %>
              ${esc(i18n.translate('mcr.property.motherBirthCountry.' + EnumTool.toLowerCamelCase(rqt.motherBirthCountry.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.motherNationality.label'))}</p>
          <div class="response">
            <% if(rqt.motherNationality) { %>
              ${esc(i18n.translate('mcr.property.motherNationality.' + EnumTool.toLowerCamelCase(rqt.motherNationality.toString())))}
            <% } %>
          </div>
          

        
      </div>
    
  

  
  <h2>${i18n.translate('mcr.step.situation.label')}</h2>
  
    
      <h3>${i18n.translate('mcr.property.familySituationInformation.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('mcr.property.aliveChildren.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.aliveChildren?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.childStatus.label'))}</p>
          <div class="response">
            <% if(rqt.childStatus) { %>
              ${esc(i18n.translate('mcr.property.childStatus.' + EnumTool.toLowerCamelCase(rqt.childStatus.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.childrenInCharge.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.childrenInCharge?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.otherSituation.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.otherSituation?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.statePupil.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.statePupil ? 'class="checked"': 'class="unchecked"'}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.prefectPupil.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.prefectPupil ? 'class="checked"': 'class="unchecked"'}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.prefectPupilDepartment.label'))}</p>
          <div class="response">
            <% if(rqt.prefectPupilDepartment) { %>
              ${esc(i18n.translate('mcr.property.prefectPupilDepartment.' + EnumTool.toLowerCamelCase(rqt.prefectPupilDepartment.toString())))}
            <% } %>
          </div>
          

        
      </div>
    
  
    
      <h3>${i18n.translate('mcr.property.professionalSituationInformation.label')}</h3>
      <div class="complex">
        
          <p class="label">${esc(i18n.translate('mcr.property.childSituation.label'))}</p>
          <div class="response">
            <% if(rqt.childSituation) { %>
              ${esc(i18n.translate('mcr.property.childSituation.' + EnumTool.toLowerCamelCase(rqt.childSituation.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.childDiploma.label'))}</p>
          <div class="response">
            <% if(rqt.childDiploma) { %>
              ${esc(i18n.translate('mcr.property.childDiploma.' + EnumTool.toLowerCamelCase(rqt.childDiploma.toString())))}
            <% } %>
          </div>
          

        
          <p class="label">${esc(i18n.translate('mcr.property.childSpeciality.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.childSpeciality?.toString()))}</div>

        
          <p class="label">${esc(i18n.translate('mcr.property.childProfession.label'))}</p><div class="response">${esc(StringUtils.defaultString(rqt.childProfession?.toString()))}</div>

        
      </div>
    
  

  
  <h2>${i18n.translate('mcr.step.exemption.label')}</h2>
  
    
      <p class="label">${esc(i18n.translate('mcr.property.japdExemption.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.japdExemption ? 'class="checked"': 'class="unchecked"'}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.highlyInfirm.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.highlyInfirm ? 'class="checked"': 'class="unchecked"'}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
            <% } %>
          </div>
          

    
  
    
      <p class="label">${esc(i18n.translate('mcr.property.affectionOrDisease.label'))}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.affectionOrDisease ? 'class="checked"': 'class="unchecked"'}>
                ${esc(i18n.translate('message.' + (it ? 'yes' : 'no')))}
              </span>
            <% } %>
          </div>
          

    
  

  <h2>${i18n.translate('contact.property.meansOfContact')}</h2>
  <div class="response choice">
    <% if (rqt.meansOfContact) { %>
      <% rqt.meansOfContact.type.allMeansOfContactEnums.eachWithIndex {it, i -> %>
        <span ${it == rqt.meansOfContact.type ? 'class="checked"': 'class="unchecked"'}>
          ${i18n.translate('meansOfContact.' + StringUtils.uncapitalize(it.legacyLabel))}
        </span>
      <% } %>
    <% } else { %>
      <span class="checked">${i18n.translate('meansOfContact.none')}</span>
    <% } %>
  </div>

  
          <% if (rqt.requestType.getStepAccountCompletion()){ %>
              <h2>${i18n.translate('pdf.homeFolder.label')}</h2>

            <% firstChild = true %>

            <% responsibleId = requester.getHomeFolder().getIndividuals().findAll{ it.getHomeFolderRoles(requester.getHomeFolder().getId()).findAll{ it.getRole() == fr.cg95.cvq.business.users.RoleType.HOME_FOLDER_RESPONSIBLE }.size() > 0 }.get(0).getId()  %>

            <% list = requester.getHomeFolder().getIndividuals().findAll{ !(it.getState().name.equals("Archived") || it.getState().name.equals("Invalid"))}.sort{a,b -> a.getClass() == fr.cg95.cvq.business.users.Adult.class ? (a.getId() == responsibleId ? -1 : 0) : 1 }  %>

            <% list.each { individual -> %>

              <% if (individual.getClass() == fr.cg95.cvq.business.users.Adult.class) { %>

                <% if (individual.getId() == responsibleId) { %>
                  <h3>${i18n.translate('homeFolder.property.responsible')}</h3>
                <% } %>

                <% if (list.indexOf(individual) == 1) { %>
                  <h3>${i18n.translate('homeFolder.property.adults')}</h3>
                <% } %>

                <p class="label">
                  ${i18n.translate('homeFolder.adult.property.title')}
                  ${i18n.translate('homeFolder.individual.property.firstName')}
                  ${i18n.translate('homeFolder.individual.property.lastName')}
                </p>
                <div class="response">
                  <% if(individual?.title) { %>
                    ${i18n.translate('homeFolder.adult.title.' + StringUtils.lowerCase(individual?.title.toString()))}
                  <% } %>
                  ${esc(individual?.firstName)}
                  ${esc(individual?.lastName)}
                </div>
                <p class="label">${i18n.translate('homeFolder.individual.property.address')}</p>
                <div class="response">
                  <% if (individual?.address) { %>
                    <p>${esc(StringUtils.defaultString(individual?.address?.additionalDeliveryInformation))}</p>
                    <p>${esc(StringUtils.defaultString(individual?.address?.additionalGeographicalInformation))}</p>
                    <p>${esc(StringUtils.defaultString(individual?.address?.streetNumber))} ${esc(StringUtils.defaultString(individual?.address?.streetName))}</p>
                    <p>${esc(StringUtils.defaultString(individual?.address?.placeNameOrService))}</p>
                    <p>${esc(StringUtils.defaultString(individual?.address?.postalCode))} ${esc(StringUtils.defaultString(individual?.address?.city))}</p>
                    <p>${esc(StringUtils.defaultString(individual?.address?.countryName))}</p>
                  <% } %>
                </div>

                <% if (individual?.email) { %>
                  <p class="label">${i18n.translate('homeFolder.adult.property.email')}</p>
                  <div class="response">${esc(StringUtils.defaultString(individual?.email))}</div>
                <% } %>
                <% if (individual?.homePhone) { %>
                  <p class="label">${i18n.translate('homeFolder.adult.property.homePhone')}</p>
                  <div class="response">${esc(StringUtils.defaultString(individual?.homePhone))}</div>
                <% } %>
                <% if (individual?.mobilePhone) { %>
                  <p class="label">${i18n.translate('homeFolder.adult.property.mobilePhone')}</p>
                  <div class="response">${esc(StringUtils.defaultString(individual?.mobilePhone))}</div>
                <% } %>
                <% if (individual?.officePhone) { %>
                  <p class="label">${i18n.translate('homeFolder.adult.property.officePhone')}</p>
                  <div class="response">${esc(StringUtils.defaultString(individual?.officePhone))}</div>
                <% } %>
                <hr />
              <% } %>


              <% if (individual.getClass() == fr.cg95.cvq.business.users.Child.class) { %>

                <% if (firstChild){ %>
                  <h3>${i18n.translate('homeFolder.property.children')}</h3>
                <% firstChild=false } %>

                <p class="label">
                  ${i18n.translate('homeFolder.individual.property.firstName')}
                  ${i18n.translate('homeFolder.individual.property.lastName')}
                </p>
                <div class="response">
                  ${esc(individual?.firstName)}
                  ${esc(individual?.lastName)}
                </div>

                <% if (individual?.isBorn()) { %>
                  <p class="label">${i18n.translate('homeFolder.individual.property.birthDate')}</p>
                <% } else { %>
                  <p class="label">${i18n.translate('homeFolder.individual.property.expectedBirthDate')}</p>
                <% } %>
                <div class="response">
                  ${String.format('%td/%<tm/%<tY',individual?.getBirthDate())}
                </div>

                <p class="label">${i18n.translate('homeFolder.child.property.sex')}</p>
                <div class="response">
                  ${i18n.translate('homeFolder.child.property.sex.'+StringUtils.lowerCase(individual?.getSex().getLegacyLabel()))}
                </div>

                <p class="label">${i18n.translate('homeFolder.child.property.legalResponsibles')}</p>

                <div class="response">

                <% requester.getHomeFolder().getIndividuals().each { indiv_2 ->  %>
                  <% if (indiv_2.getClass() == fr.cg95.cvq.business.users.Adult.class) { %>
                    <% indiv_2.getIndividualRoles().each{ indRole -> %>
                      <% if((indRole.getRole().getLegacyLabel().equals("ClrMother") || indRole.getRole().getLegacyLabel().equals("ClrFather") || indRole.getRole().getLegacyLabel().equals("ClrTutor") || indRole.getRole().getLegacyLabel().equals("Tutor")) && indRole.getIndividualId() == individual.getId()){ %>

                          ${esc(indiv_2?.firstName)}
                          ${esc(indiv_2?.lastName)}

                      <% } %>
                    <% } %>
                  <% } %>
                <% } %>
                </div>
                <hr />

              <% } %>
            <% } %>
          <% } %>
          


</body>
</html>

