

<%

  import org.apache.commons.lang.StringUtils
  
  def localReferentialWidget(rqt, javaName, lrEntries, depth) {
    def lrHtml = ''
    def currentLrDatas = rqt[javaName].collect{it.name}
    if (lrTypes[javaName].entriesSupportMultiple) { 
      lrHtml += "<ul ${depth==0 ? 'class="dataTree"' : ''}>"
      lrEntries.eachWithIndex { entry, i -> 
      if (entry.entries) { 
        lrHtml += "<li>"
        lrHtml += "<em>${entry.labelsMap.fr} :</em>"
        lrHtml += localReferentialWidget(rqt, javaName, entry.entries,++depth)
        lrHtml += "</li>"
      } else {
         lrHtml += "<li><span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${entry.labelsMap.fr}</span>${i + 1 < lrEntries.size() ? ',' : ''}</li>"
      } 
    } 
    lrHtml += "</ul>"
    } else { 
      lrEntries.each { entry -> 
        lrHtml += "${currentLrDatas?.contains(entry.key) ? entry.labelsMap.fr: ''}"
      } 
    }
    println lrHtml
  }

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${i18n.translate('msrr.label')}</title>
  <link href="file://${cssPath}" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <div id="hd">
    <p>${localAuthority.displayTitle}</p>
    <img src="file://${logoPath}" alt="mairie2424" />
  </div>
  <h1>${i18n.translate('msrr.label')}</h1>

  
  <h2>${i18n.translate('msrr.step.registration.label')}</h2>
  
    
      <p class="label">${i18n.translate('request.property.subject.label')}</p>
           <div class="response">${subject?.fullName}</div>
          

    
  
    
      <p class="label">${i18n.translate('msrr.property.activity.label')}</p>
          <div class="response choice">
            <% localReferentialWidget(rqt, 'activity', lrTypes.activity.entries, 0) %>
          </div>
          

    
  

  
  <h2>${i18n.translate('msrr.step.rules.label')}</h2>
  
    
      <p class="label">${i18n.translate('msrr.property.rulesAndRegulationsAcceptance.label')}</p>
          <div class="response choice">
            <% [true,false].each { %>
              <span ${it == rqt.rulesAndRegulationsAcceptance ? 'class="checked"': ''}>
                ${i18n.translate('message.' + (it ? 'yes' : 'no'))}
              </span>
              ${it ? ' / ' : ''}
            <% } %>
          </div>
          

    
  

  
  
  <h2>${i18n.translate('contact.property.meansOfContact')}</h2>
  <div class="response choice">
  <% rqt.meansOfContact.type.allMeansOfContactEnums.eachWithIndex {it, i -> %>
    <span ${it == rqt.meansOfContact.type ? 'class="checked"': ''}>
      ${i18n.translate('request.meansOfContact.' + StringUtils.uncapitalize(it.toString()))}
    </span>${i + 1 < rqt.meansOfContact.type.allMeansOfContactEnums.length ? ', ' : ''}
  <% } %>
  </div>
</body>
</html>

