

<%

  import org.apache.commons.lang.StringUtils
  
  def localReferentialWidget(rqt, javaName, lrEntries, depth) {
    def lrHtml = ''
    def currentLrDatas = rqt[javaName].collect{it.name}
    if (lrTypes[javaName].entriesSupportMultiple) { 
      lrHtml += "<ul ${depth==0 ? 'class="dataTree"' : ''}>"
      lrEntries.eachWithIndex { entry, i -> 
      if (entry.entries) { 
        lrHtml += "<li>"
        lrHtml += "<em>${entry.labelsMap.fr} :</em>"
        lrHtml += localReferentialWidget(rqt, javaName, entry.entries,++depth)
        lrHtml += "</li>"
      } else {
         lrHtml += "<li><span ${currentLrDatas?.contains(entry.key) ? 'class="checked"' : ''}>${entry.labelsMap.fr}</span>${i + 1 < lrEntries.size() ? ',' : ''}</li>"
      } 
    } 
    lrHtml += "</ul>"
    } else { 
      lrEntries.each { entry -> 
        lrHtml += "${currentLrDatas?.contains(entry.key) ? entry.labelsMap.fr: ''}"
      } 
    }
    println lrHtml
  }

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>${i18n.translate((rqt.requestType.label =='VO Card' ? 'vcr' : 'hfmr') + '.label')}</title>
  <link href="file://${cssPath}" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <div id="hd">
    <p>${localAuthority.displayTitle}</p>
    <img src="file://${logoPath}" alt="mairie2424" />
  </div>
  <h1>${i18n.translate((rqt.requestType.label =='VO Card' ? 'vcr' : 'hfmr') + '.label')}</h1>
  
  <div class="localAuthority">
    <h2>${i18n.translate('pdf.localAutorityReservedSection')}</h2>
    <p>
      ${i18n.translate('property.creationDate')} : <strong>${String.format('%td/%<tm/%<tY',rqt.creationDate)}</strong>,
      ${i18n.translate('property.requester')} : <strong>${rqt.requesterFirstName +' '+ rqt.requesterLastName}</strong>,
      ${i18n.translate('pdf.requestId')} : <strong>${rqt.id}</strong>,
      ${i18n.translate('pdf.agentId')} : <strong>${rqt.lastInterveningUserId}</strong>
    </p>
    <p class="note">
      ${i18n.translate('pdf.note')} :
    </p>
  </div>
  
  <h2>${i18n.translate('homeFolder.property.adults')}</h2>
  
  <div class="complex">
  <% adults.each { collectionIt -> %>
      <h3>
        <% if(collectionIt?.title) { %>
          ${i18n.translate('homeFolder.adult.title.' + StringUtils.uncapitalize(collectionIt?.title.toString()))}
        <% } %>
        ${collectionIt?.firstName}
        ${collectionIt?.lastName}
      </h3>
      <p class="label">${i18n.translate('homeFolder.individual.property.address')}</p>
      <div class="response">
        <% if (collectionIt?.adress) { %>
          <p>${StringUtils.defaultString(collectionIt?.adress?.additionalDeliveryInformation)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.additionalGeographicalInformation)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.streetNumber)} ${StringUtils.defaultString(collectionIt?.adress?.streetName)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.placeNameOrService)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.postalCode)} ${StringUtils.defaultString(collectionIt?.adress?.city)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.countryName)}</p>
        <% } %>
      </div>
      <p class="label">${i18n.translate('homeFolder.adult.property.email')}</p>
      <div class="response">${collectionIt?.email}</div>
      <p class="label">${i18n.translate('homeFolder.adult.property.homePhone')}</p>
      <div class="response">${collectionIt?.homePhone}</div>
  <% } %>
  </div>
      
  <h2>${i18n.translate('homeFolder.property.children')}</h2>
  
    <div class="complex">
    <% children.each { collectionIt -> %>
      <h3>
        ${collectionIt?.firstName}
        ${collectionIt?.lastName}
      </h3>
      <p class="label">${i18n.translate('homeFolder.individual.property.address')}</p>
      <div class="response">
        <% if (collectionIt?.adress) { %>
          <p>${StringUtils.defaultString(collectionIt?.adress?.additionalDeliveryInformation)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.additionalGeographicalInformation)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.streetNumber)} ${StringUtils.defaultString(collectionIt?.adress?.streetName)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.placeNameOrService)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.postalCode)} ${StringUtils.defaultString(collectionIt?.adress?.city)}</p>
          <p>${StringUtils.defaultString(collectionIt?.adress?.countryName)}</p>
        <% } %>
      </div>
      
      <p class="label">${i18n.translate('homeFolder.child.property.sex')}</p>
      <div class="response">
        <% if(collectionIt?.sex) { %>
          ${i18n.translate('homeFolder.child.property.sex.' + StringUtils.uncapitalize(collectionIt?.sex.toString()))}
        <% } %>
      </div>
    
      <p class="label">${i18n.translate('homeFolder.individual.property.birthDate')}</p>
      <div class="response">${collectionIt.birthDate ? String.format('%td/%<tm/%<tY',collectionIt.birthDate) : ''}</div>
      
      <p class="label">${i18n.translate('homeFolder.individual.property.birthPostalCode')}</p>
      <div class="response">${collectionIt.birthPostalCode}</div>
      
      <p class="label">${i18n.translate('homeFolder.individual.property.birthCity')}</p>
      <div class="response">${collectionIt.birthCity}</div>
      
      <p class="label">${i18n.translate('homeFolder.individual.property.birthCountry')}</p>
      <div class="response">${collectionIt.birthCountry}</div>
     
  <% } %>
  </div>

  <h2>${i18n.translate('contact.property.meansOfContact')}</h2>
  <div class="response choice">
    <% if (rqt.meansOfContact) { %>
      <% rqt.meansOfContact.type.allMeansOfContactEnums.eachWithIndex {it, i -> %>
        <span ${it == rqt.meansOfContact.type ? 'class="checked"': ''}>
          ${i18n.translate('request.meansOfContact.' + StringUtils.uncapitalize(it.toString()))}
        </span>${i + 1 < rqt.meansOfContact.type.allMeansOfContactEnums.length ? ', ' : ''}
      <% } %>
    <% } else { %>
      <span class="checked">${i18n.translate('request.meansOfContact.none')}</span>
    <% } %>
  </div>
</body>
</html>

