##***********************************************************************************
#macro (writeLabelField $baseName $fieldName $fieldLabel)
       <div class="form_cell form_cell1">
         <label for="${baseName}${fieldName}" class="label">${fieldLabel} :</label>
         <span class="input">
		<cvq:toggleInput name="record" property="${baseName}${fieldName}" id="id" profile="profile" />
         </span>
       </div>
#end
#macro (writeAddressTypeLabelField $field)
#if ($field.SchemaType == "AddressType")
#set ($baseName = $field.javaName(""))
#writeLabelField($baseName "AdditionalDeliveryInformation" "Etg. - Esc. - App.")
#writeLabelField($baseName "AdditionalGeographicalInformation" "Imm. - Bât. - Rés.")
#writeLabelField($baseName "StreetNumber" "Numéro")
#writeLabelField($baseName "StreetName" "Libellé de la voie")
#writeLabelField($baseName "PlaceNameOrService" "Lieu-dit, boite postale")
#writeLabelField($baseName "PostalCode" "Code postal")
#writeLabelField($baseName "City" "Localité")
#end
#end
#macro (writeAddressTypeOptions $field)
#if ($field.SchemaType == "AddressType")
#set ($baseName = $field.javaName(""))
<${baseName}AdditionalDeliveryInformation,Etg. - Esc. - App.>
		<${baseName}AdditionalGeographicalInformation,Imm. - Bât. - Rés.>
		<${baseName}StreetNumber,Numéro>
		<${baseName}StreetName,Libellé de la voie>
		<${baseName}PlaceNameOrService,Lieu-dit, boite postale>
		<${baseName}PostalCode,Code postal>
		<${baseName}City,Localité>
#end
#end
##**************************************************************************************************
##**************************************************************************************************
<%@ page contentType="text/html; charset=UTF-8" %>
<%@ taglib uri="/WEB-INF/struts-bean.tld" prefix="bean"%>
<%@ taglib uri="/WEB-INF/tlds/cartevaloise.tld" prefix="cvq" %>

<bean:define id="record" name="${bean}" property="${prefix}" scope="session"/>
 
 <div class="grid_cell">
 #if ($page.name.contains("display"))
   <div class="block009">
     <p class="text005 pictoTable">Formulaire</p>
   </div>
   <div class="block010">
     <fieldset class="fieldset005">
 #else
     <fieldset class="fieldset004">
 #end

#foreach ($field in $fields)
  #if ($field.Mode == "stagetitle")
       <div class="form_cell">
         <label for"" class="label temp_title_class">${field.Label}</label>
         <span class="input"></span>
       </div>
  #elseif ($field.SchemaType == "AddressType")
    #writeAddressTypeLabelField($field)
  #else
#set($formCell = "form_cell")
#if($page.DisplayPage)#set($formCell = "form_cell form_cell1")#end
#if ($field.GuiControl == "ticket")#set($formCell = "form_cell form_cell1 form_cell2")#end
#if ($field.GuiControl == "referential")#set($formCell = "form_cell form_cell1 form_cell2")#end
       <div class="${formCell}">
         <label for="${field.javaName("")}" class="label">${field.Label} :</label>
         <span class="input">
   
    #* Obsolete instruction
        #if ($field.GuiControl == "ticket")
         #elseif ($field.GuiControl == "referential")
    *#

    #if ($field.GuiControl == "list")
	 <cvq:toggleInput name="record" property="${field.javaName("")}">
      #foreach($child in $field.Children)
        #if ($child.SchemaType == "AddressType")
          #writeAddressTypeOptions($child)
        #else
      <${child.javaName("")},${child.Label}>
        #end
	  #end
	</cvq:toggleInput>
    #elseif ($field.Mode == "static")
	 <cvq:toggleInput name="record" property="${field.javaName("")}"/>
    
    #elseif ($field.Mode == "input")
      #if ($field.GuiControl == "select")
         <cvq:referenceSelect name="record" property="list(${field.Type})" value="${field.javaName("")}"
             scope="page" id="${field.javaName("")}" styleClass="saisie2" profile="profile">
        #foreach ($value in ${field.Values})
           <option value="${field.translate($value)}">${field.translate($value)}</option>
        #end
         </cvq:referenceSelect>
      #elseif ($field.type != "")
         <cvq:referenceSelect name="record" property="list(${field.Type})" value="${field.javaName("")}" 
             scope="page" id="${field.javaName("")}" styleClass="saisie2" profile="profile"/>
      #elseif ($field.GuiControl == "text")
	 <cvq:input name="record" property="${field.javaName("")}" scope="page" type="text"
	     styleClass="saisie" profile="profile"/>
      #end
    
    #else
	 <cvq:toggleInput name="record" property="${field.javaName("")}" id="id" profile="profile"/>
    #end
	</span>
       </div>
  #end
#end
     </fieldset>
#if ($page.name.contains("display"))
   </div>
#end
 </div>

<script type="text/javascript">
	function selectionData() {
#foreach ($field in $fields)
  #if ($field.Mode != "static")
  #if ($field.Mode != "stagetitle")
    #if ($field.Mode != "input")
      #if ($field.GuiControl == "select")
		this.${field.javaName("")} = new Function("key","this.values=new Array(#foreach ($value in ${field.Values})#if ($velocityCount != 1),#end'${field.escTranslate($value)}'#end); return this[key];");
      #elseif ($field.type == "yesno")
		this.${field.javaName("")} = new Function("key","this.values=new Array('Oui','Non'); return this[key];");
      #elseif ($field.type == "list")
		this.${field.javaName("")} = new Function("key","this.multiple=true;this.values=new Array(#foreach ($child in ${field.Children})#if ($velocityCount != 1),#end'${child.EscLabel}'#end); return this[key];");
      #elseif ($field.isRepository())
		this.${field.javaName("")} = new Function("key","this.multiple=true;this.values=new Array(#foreach ($child in ${field.Children})#if ($velocityCount != 1),#end'${child.EscLabel}'#end); return this[key];");
	  #end
    #end
  #end
  #end
#end
		}
</script>
#if ($page.DisplayPage)
 <div class="clear-both"></div>
#end

