#macro (writeValidationData $field)
	#set($validationType = "null")
	#set($fieldRequired = $field.Required) 
	#if ($field.GuiControl == "ticket")
	  #set($validationType = "'ticket'")
	#elseif ($field.GuiControl == "referential")
	  #set($validationType = "'referential'")
	#elseif($field.isMultipleSelect()) 
	  #set($validationType = "'list'")
	#elseif($field.Mode == "blockrequired") 
	  #set($validationType = "'block:$field.Block'")
	  #set($fieldRequired = true) 
	#end
	  this.${field.javaName("")} = new Function("key","this.label='${field.EscLabel}';#if($field.EscMessage) this.msg='${field.EscMessage}';#else this.msg=null;#end this.required=$fieldRequired;#if($field.Mask) this.mask=/${field.Mask}/;#end #if($field.Mode == "password") this.minlength=8;#else this.minlength=0;#end this.maxlength=${field.MaxLength};#if($field.Format) this.transform='${field.Format}';#end this.type=$validationType; return this[key];");
#end
<%@ page contentType="text/html; charset=UTF-8" %>
<%@ taglib uri="/cvq-forms" prefix="cvqf" %>

	<cvqf:form name="${stage.javaName()}" action="#">
	
#if (${page.pageno})
		<div class="page-number">Page ${page.pageno}</div>
#end
#if ($page.infoRequired)
		<div class="info-required">Les * indiquent les zones de saisie obligatoires.</div>
#end

#set($itemlist = "")
#foreach ($field in $fields)
  #if ($page.endBlock($field))
		</div>
  #end
  #if ($page.newBlock($field))
  		<div id="$field.Block">
  #end
		<div class="${field.LabelFieldClass}" #if ($field.Seperator != "")style="margin-top: ${field.Seperator}px;"#end>
  #if ($field.DisplayLabel)
			<label for="${field.javaName("")}" class="${field.LabelClass}">
				${field.Label}#if(${field.displayRequired()})*#end
				
			</label>
	#if ($field.Info != "")
			<div class="info">
				${field.Info}
			</div>
	#end
  #end
  #if ($field.Mode == "title")
		</div>
		<div class="${field.LabelFieldClass}">
			<label class="label">
				
			</label>
  #end

  #if ($field.Mode == "labelonly")
  #elseif ($field.GuiControl == "hidden")
			<cvqf:hidden name="${field.javaName("")}" property="${field.Block}"/>
  #elseif ($field.GuiControl == "select")			
			<cvqf:select name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if($field.isRepository()) repository="${field.Repository}"#end>
	#if ($field.Help != "")
				<option value="">${field.Help}</option>
	#else
				<option value="">Choisissez un ${field.LowercaseLabel}</option>
	#end
    #foreach ($value in ${field.Values})
				<option value="${value}">${field.translate($value)}</option>
    #end
			</cvqf:select>
  #elseif ($field.GuiControl == "objectlist")
   			<div class="objectlist">
		    	<cvqf:list name="${bean}" property="${field.Type}">
    #foreach($child in $field.Children)
			    	<${child.javaName("")},${child.Label}#foreach ($value in ${child.Values}),${value}=${child.translate($value)}#end>
	#end
		    	</cvqf:list>
       		</div>
  #elseif ($field.GuiControl == "checklist")
	  	</div>
		<div class="${field.GuiControl}">
    		<div class="label-field">
				<cvqf:check name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if($field.isRepository()) repository="${field.Repository}"#end>
    #foreach ($value in ${field.Values})
				<option value="${value}">${field.translate($value)}</option>
    #end
				</cvqf:check>
	  		</div>
  #elseif ($field.GuiControl == "radiolist")
    #if ($field.Mode != "static")
		<div class="${field.GuiControl}">
	#end
				<cvqf:radio name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if($field.isRepository()) repository="${field.Repository}"#end>
    #foreach ($value in ${field.Values})
				<option value="${value}">${field.translate($value)}</option>
    #end
				</cvqf:radio>
    #if ($field.Mode != "static")
	  		</div>
	#end
  #elseif ($field.GuiControl == "text")
			<div class="field">
				<cvqf:text name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if(${field.MaxLength} > 0) maxlength="${field.MaxLength}"#end#if(${field.Rows} > 1) rows="${field.Rows}"#end/>
			</div>
  #elseif ($field.GuiControl == "yesno")
			<cvqf:radio name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end label="[Oui,Non]" />

  #elseif ($field.GuiControl == "ticket")			
			<cvqf:ticket name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if($field.isRepository()) repository="${field.Repository}"#end />

  #elseif ($field.GuiControl == "referential")			
			<cvqf:referential name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if($field.isRepository()) repository="${field.Repository}"#end />

  #elseif ($field.GuiControl == "columns")
    #foreach($child in $field.Children)
			<div class="field">
				<cvqf:text name="${child.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end#if(${child.MaxLength} > 0) maxlength="${child.MaxLength}"#end#if(${child.Rows} > 1) rows="${child.Rows}"#end/>
			</div>
	#end

  #elseif ($field.isRepository())
  	</div>
		<div class="${field.GuiControl}">
    #if ($field.GuiControl == "yesnolist")
   				<cvqf:radio name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end repository="${field.Repository}" label="[Oui,Non]"/>
    #elseif ($field.Length != 1)
    		<div class="label-field">
   				<cvqf:check name="${field.javaName("")}"#if(${field.Mode}) mode="${field.Mode}"#end repository="${field.Repository}" />
	  		</div>
    #end
  #end
	#if ($field.GuiControl != "select")			
	  #if ($field.Help != "")
			<div class="example">
				${field.Help}
			</div>
	  #end
	#end
		</div>
#end
#if ($page.CurrentBlock != "")
		</div>
#end
	</cvqf:form>
	<script type="text/javascript">
		function validationData() {
#foreach ($field in $fields)
#if ($field.Mode != "labelonly")
#if ($field.Mode != "static")
#if ($field.GuiControl == "columns")
#foreach($child in $field.Children)
  #writeValidationData($child)
#end
#else
 #writeValidationData($field)
#end
#end
#end
#end
		}
#foreach ($field in $fields)
#if ($field.Mode != "labelonly")
#if ($field.Mode != "static")
#if ($field.GuiControl != "text")
#if ($field.GuiControl != "columns")
		updateDisplay("${field.javaName("")}");
#end
#end
#end
#end
#end
  		setFocus("${stage.javaName()}");
	</script>
