/**
	#header="#3c4faa"
	#background-color="#d2e1ff"
	#button="#4d61c1"
*/
div.static-button {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.disabled-button {
	background-color: #c9d1e0;
	color: #4d61c1;
}

div.enabled-button {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.enabled-button:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.name-button {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.name-button:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field select {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.radio {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.radio:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.check {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.check:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.mediumbox {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.mediumbox:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.radiolist div.mediumbox {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.radiolist div.mediumbox:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.longbox {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.longbox:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.xxlbox {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.xxlbox:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.xxxlbox {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.xxxlbox:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

div.label-field div.check_long {
	background-color: #d2e1ff;
	color: #4d61c1;
}

div.label-field div.check_long:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}
