<% 
   import org.apache.commons.lang.StringUtils
   
   namespaceAlias = foObject.namespaceAlias
   i18nPrefix = foObject.namespaceAlias + '.property'
   requestName = foObject.requestName
   steps = foObject.stepMap
   conditionsName = foObject.conditionsNames
   
  def displayWidget(element, widget, wrapper) {
    if (wrapper.length() > 0)
      wrapper += '.';
      
    def widgets = [
      'YesnoElement' : 
          """
          <ul class="${element.condition}">
            <g:each in="\${[true,false]}">
            <li>
              <input type="radio" class="${element.condition} ${element.validation}" title="" value="\${it}" name="${wrapper}${element.javaName}" \${it == ${namespaceAlias}.${wrapper}${element.javaName} ? 'checked="checked"': ''} />
	            <g:message code="widget.yesno.\${it ? 'yes' : 'no'}" />
            </li>
            </g:each>
          </ul>
          """
      ,'RadioElement' :
          """
          <ul class="${element.condition}">
            <g:each in="\${${element.enumValuesAsString}}">
            <li>
              <input type="radio" class="${element.condition} ${element.validation}" title="" value="${element.modelNamespace}.${element.javaType}_\${it}" name="${wrapper}${element.javaName}" \${it == ${namespaceAlias}.${wrapper}${element.javaName}.toString() ? 'checked="checked"': ''} />
	            <g:message code="${i18nPrefix}.${element.javaName}.\${it}" />  
            </li>
            </g:each>
          </ul>
          """
      ,'SelectElement' :
          """
          <select name="${wrapper}${element.javaName}" class="${element.condition} ${element.validation}" title="">
            <option value=""><g:message code="message.select.defaultOption" /></option>
            <g:each in="\${${element.enumValuesAsString}}">
              <option value="${element.modelNamespace}.${element.javaType}_\${it}" \${it == ${namespaceAlias}.${wrapper}${element.javaName} ? 'selected="selected"': ''}><g:message code="${i18nPrefix}.${element.javaName}.\${it}" /></option>
            </g:each>
          </select>
          """
      ,'AddressType' :
          """
          <div class="address-fieldset ${element.condition}">
          <label><g:message code="address.property.additionalDeliveryInformation" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.additionalDeliveryInformation}" maxlength="38" name="${wrapper}${element.javaName}.additionalDeliveryInformation"/>  
          <label><g:message code="address.property.additionalGeographicalInformation" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.additionalGeographicalInformation}" maxlength="38" name="${wrapper}${element.javaName}.additionalGeographicalInformation"/>
          <label><g:message code="address.property.streetNumber" /> - <g:message code="address.property.streetName" /></label>
          <input type="text" class="line1" value="\${${namespaceAlias}.${wrapper}${element.javaName}.streetNumber}" maxlength="5" name="${wrapper}${element.javaName}.streetNumber"/>
          <input type="text" title="" class="line2 required" value="\${${namespaceAlias}.${wrapper}${element.javaName}.streetName}" maxlength="32" name="${wrapper}${element.javaName}.streetName" title="<g:message code="request.error.required" />" />
          <label><g:message code="address.property.placeNameOrService" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.placeNameOrService}" maxlength="38" name="${wrapper}${element.javaName}.placeNameOrService"/>
          <label><g:message code="address.property.postalCode" /> - <g:message code="address.property.city" /></label>
          <input type="text" class="line1" value="\${${namespaceAlias}.${wrapper}${element.javaName}.postalCode}" maxlength="5" name="${wrapper}${element.javaName}.postalCode"/>
          <input type="text" title="" class="line2 required" value="\${${namespaceAlias}.${wrapper}${element.javaName}.city}" maxlength="32" name="${wrapper}${element.javaName}.city" title="<g:message code="request.error.required" />" />
          <label><g:message code="address.property.countryName" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.countryName}" maxlength="38" name="${wrapper}${element.javaName}.countryName"/>
          </div>
          """
    ]
    
    if (widgets[widget] != null)
      print widgets[widget]
    else
      print """<input name="${wrapper}${element.javaName}" value="\${${namespaceAlias}.${wrapper}${element.javaName}}" class="${element.condition} ${element.validation}" title="<g:message code="${i18nPrefix}.${element.javaName}.validationError" />" />"""
  }
   
%>
<html>
  <head>
    <meta name="layout" content="fong_main" />
    <script type="text/javascript" src="\${createLinkTo(dir:'js/frontoffice',file:'condition.js')}"></script>
  </head>  
  <body>
      <h2 class="request-creation">
      <g:message code="${namespaceAlias}.label" />
      <span><g:message code="${namespaceAlias}.description" /></span> 
      <span><g:message code="${namespaceAlias}.duration.label" /><strong><g:message code="${namespaceAlias}.duration.value" /></strong></span>
      <span>
        Documents à fournir :
        <g:each in="\${documentTypes}" var="documentType" status="index">
          <strong>
            <g:message code="\${documentType.value}"/>
            <g:if test="\${index < documentTypes.size() - 1}">,</g:if>
          </strong>
        </g:each>
      </span>
    </h2>
    
    <div id="requestTabView" class="yui-navset">
      <ul class="yui-nav">
      <% steps.each { step = it.value %> 
       <li class="\${currentTab == 'tab${step.index + 1}' ? 'selected' : ''}">
        <a href="#tab${step.index + 1}"><em>
         <span class="tag-no_right">${step.index + 1}</span>
         <span class="tag-state tag-uncomplete"><g:message code="request.step.state.uncomplete" /></span>
<%
  if (step.name == 'documentRef') {
%>
         <g:message code="request.step.document.label" />
<%
  } else if (step.name == 'validationRef') {
%>
         <g:message code="request.step.validation.label" />
<%
  } else {
%>
         <g:message code="${namespaceAlias}.step.${step.name}.label" />
<%
  }
%>
       </em></a>
       </li>    
		 <% } %>
		 </ul>
		 
     <div class="yui-content">
     <% steps.each { step = it.value %>
       <div id="tab${step.index + 1}">
<%
  if (step.name == 'documentRef') {
%>
         <g:render template="/frontofficeRequestType/documentStep"/>
<%
  } else {
%>
         <form method="POST" id="${StringUtils.uncapitalize(step.name)}Form" action="<g:createLink action="valid${StringUtils.capitalize(step.name)}" />">
           <h3>
             <span class="tag-state tag-uncomplete"><g:message code="request.step.state.uncomplete"/></span>
<%
    if (step.name == 'validationRef') {
%>
             <g:message code="request.step.validation.label" />
             <span><g:message code="request.step.validation.desc" /></span>
<%
    } else {
%>
             <g:message code="${namespaceAlias}.step.${step.name}.label" />
             <span><g:message code="${namespaceAlias}.step.${step.name}.desc" /></span>
<%
    }
%>
           </h3>
<%
    if (step.name == 'validationRef') {
%>
           <!-- render template of final summary -->
             
           <!-- render means of contact selection list -->
           <select name="meansOfContact">
             <g:each in="\${meansOfContact}" var="moc">
               <option value="\${moc.key}">\${moc.label}</option>
             </g:each>
           </select>
<%
    } else {
%>
            <% step.elementList.each { element -> %>
              <% if (element.xmlSchemaType == "AddressType") { %>
                <label class="${element.condition}"><g:message code="${i18nPrefix}.${element.javaName}.label" /> <span><g:message code="${i18nPrefix}.${element.javaName}.help" /></span></label>
                <% displayWidget(element, "AddressType", "") %>
              <% } else if (element.class.simpleName == 'OneToManyElement') { %>
                <label class="${element.condition}"><g:message code="${i18nPrefix}.${element.javaName}.label" /> <span><g:message code="${i18nPrefix}.${element.javaName}.help" /></span></label>
                <!-- TODO = ON TO MANY -->
              <% } else if(element.class.simpleName == 'FieldsetElement') { %>
                <fieldset class="${element.condition}">
                <legend><g:message code="${i18nPrefix}.${element.javaName}.label" /></legend>
                <% element.elementList.each { subElement -> %>
                  <label class="${subElement.condition}"><g:message code="${i18nPrefix}.${subElement.javaName}.label" /> <span><g:message code="${i18nPrefix}.${subElement.javaName}.help" /></span></label>
                  <% if (subElement.xmlSchemaType == "AddressType") { %>
                    <% displayWidget(subElement, "AddressType", "") %>
                  <% } else { %>
                    <% displayWidget(subElement, subElement.class.simpleName, "") %>
                  <% } %>
                <% } %>
                </fieldset>
              <% } else { %>
                <label class="${element.condition}"><g:message code="${i18nPrefix}.${element.javaName}.label" /> <span><g:message code="${i18nPrefix}.${element.javaName}.help" /></span></label>
                <% displayWidget(element, element.class.simpleName, "") %>
              <% } %>
              
            <% } %>
           
<%
    }
%>
           <div class="error" id="${StringUtils.uncapitalize(step.name)}FormErrors"> </div>
           
           <!-- Input submit-->
           <input type="button" 
              id="submit${StringUtils.capitalize(step.name)}" 
              name="submit${StringUtils.capitalize(step.name)}" 
              value="\${message(code:'action.save')}" />
         </form>
<%
  } 
%>         
         <!-- navigation link -->
         <div class="navTab">
           <%  
           	if (step.index != 0) { 
           %>
           <a href="#tab${step.index}" class="prevTab"><g:message code="request.step.navigation.previous"/></a><% }%>
           <% 
             if (step.index != steps.size() - 1) {
           %>
           <a href="#tab${step.index + 2}" class="nextTab"><g:message code="request.step.navigation.next"/></a><% }%>
         </div>
         
         <g:if test="\${help.${step.name}}">
           <div class="requestHelp">
             <h3>Aide</h3>
             \${help.${step.name}}
           </div>
         </g:if>
       </div>  
     <% } %>        
 	 </div><!-- end yui-content -->
 </div><!-- end requestTabView -->
 	  
    <script type="text/javascript">
      // next Links
      var activeNextTabByLink = function(e) {
	      YAHOO.util.Event.preventDefault(e);
        var requestFormTabView = new YAHOO.widget.TabView('requestTabView');
	      var activeTabIndex = requestFormTabView.get('activeIndex');
	      requestFormTabView.set('activeIndex' , activeTabIndex + 1);
      }
      
      YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("nextTab", "a" ),
          "click", 
          activeNextTabByLink
      );
      
      // prev Links
      var activePrevTabByLink = function(e) {
	      YAHOO.util.Event.preventDefault(e);
        var requestFormTabView = new YAHOO.widget.TabView('requestTabView');
	      var activeTabIndex = requestFormTabView.get('activeIndex');
	      requestFormTabView.set('activeIndex' , activeTabIndex - 1);
      }
      
      YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("prevTab", "a" ),
          "click", 
          activePrevTabByLink
      );

 	  function checkAllConditions() {
      	<%
      		def conditionsParam = ""
      		conditionsName.each {	
      			conditionsParam += '"' + it + '", '  
      		}
      	%>
      	var conditionsName = [${conditionsParam.substring(0, conditionsParam.length() - 2)}];
        Condition.checkConditions(conditionsName, "${StringUtils.uncapitalize(requestName)}");
      }
      
      function conditionChange(e) {
      	Condition.change(this.className, "${StringUtils.uncapitalize(requestName)}");
      }
      
      // CONDITION TRIGGER
	    YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("*trigger", "select" ),
          "change", 
          conditionChange
        );
          
      // CONDITION TRIGGER
	    YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("*trigger", "input" ),
          "change", 
          conditionChange
        );
         
	  YAHOO.util.Event.onDOMReady(checkAllConditions);
	  
	  // VALIDATION
	  <% steps.each { step = it.value %>
	  var submitRsrSubjectButton = new YAHOO.widget.Button("submit${StringUtils.capitalize(step.name)}");
      submitRsrSubjectButton.on("click", FIC_checkForm, document.getElementById('${StringUtils.uncapitalize(step.name)}FormErrors'));
      submitRsrSubjectButton.on("click", onSubmitClick, "${StringUtils.uncapitalize(step.name)}Form");
	  <% } %>
	  
	  function onSubmitClick(ev, formId) {
		zenexity.capdemat.common.doAjaxFormSubmitCall(formId ,null,  
		function(o) {
		     if (o.status == "200")
		     	resetFormErrors(formId + "Errors");
		});
	  }
	  
	  function resetFormErrors(formErrors) { 
		YAHOO.util.Dom.get(formErrors).innerHTML = '';
		
	  }
	  
    // Request TabView Initialization
    function initRequest() {
      var requestFormTabView = new YAHOO.widget.TabView('requestTabView');
    }

    YAHOO.util.Event.onDOMReady(initRequest);
   </script>

  </body>
</html>
