<% 
   import org.apache.commons.lang.StringUtils
   
   namespaceAlias = foObject.namespaceAlias
   i18nPrefix = foObject.namespaceAlias + '.property'
   requestName = foObject.requestName
   steps = foObject.stepMap
   conditionsName = foObject.conditionsNames
%>

<html>
  <head>
    <meta name="layout" content="fo_main" />
    <link rel="stylesheet" type="text/css" href="\${createLinkTo(dir:'css/frontoffice', file:'request.css')}" />
    <script type="text/javascript" src="\${createLinkTo(dir:'js/frontoffice',file:'condition.js')}"></script>
  </head>  
  <body>
      <h2 class="request-creation"> <g:message code="${namespaceAlias}.label" /></h2>
      <p><g:message code="${namespaceAlias}.description" /></p> 
      <p><g:message code="request.duration.label" /><strong> : <g:message code="${namespaceAlias}.duration.value" /></strong></p>
      <p>
        <g:message code="request.requiredDocuments.header" /> :
        <g:each in="\${documentTypes}" var="documentType" status="index">
          <strong>
            <g:message code="\${documentType.value}"/><g:if test="\${index < documentTypes.size() - 1}">,</g:if>
          </strong>
        </g:each>
      </p>
    
    <div id="requestTabView" class="yui-navset">
      <ul class="yui-nav">
      <% steps.each { step = it.value %> 
       <li class="\${currentTab == '${step.name}' ? 'selected' : ''}">
        <a href="#${step.name}"><em>
         <span class="tag-no_right">${step.index + 1}</span>
         <span class="tag-state \${stepStates.${step.name}.cssClass}"><g:message code="\${stepStates.${step.name}.i18nKey}" /></span>

<%
  if (step.name == 'documentRef') {
%>
         <g:message code="request.step.document.label" />
<%
  } else if (step.name == 'validationRef') {
%>
         <g:message code="request.step.validation.label" />
<%
  } else {
%>
         <g:message code="${namespaceAlias}.step.${step.name}.label" />
<%
  }
%>
       </em></a>
       </li>    
		 <% } %>
		 </ul>
		 
     <div class="yui-content">
     <% steps.each { step = it.value %>
       <div id="${step.name}">
<%
  if (step.name == 'documentRef') {
%>
         <g:render template="/frontofficeRequestType/documentStep"/>
<%
  } else {
%>
         <form method="POST" id="${StringUtils.uncapitalize(step.name)}Form" action="<g:createLink action="valid${StringUtils.capitalize(step.name)}" />">
           <h3>
             <span class="tag-state \${stepStates.${step.name}.cssClass}"><g:message code="\${stepStates.${step.name}.i18nKey}" /></span>

<%
    if (step.name == 'validationRef') {
%>
             <g:message code="request.step.validation.label" />
             <span><g:message code="request.step.validation.desc" /></span>
<%
    } else {
%>
             <g:message code="${namespaceAlias}.step.${step.name}.label" />
             <span><g:message code="${namespaceAlias}.step.${step.name}.desc" /></span>
<%
    }
%>
           </h3>
<%
    if (step.name == 'validationRef') {
%>
           <!-- render template of final summary -->
             
           <!-- render means of contact selection list -->
           <select name="meansOfContact">
             <g:each in="\${meansOfContact}" var="moc">
               <option value="\${moc.key}">\${moc.label}</option>
             </g:each>
           </select>
           
           <g:render template="/frontofficeRequestType/${StringUtils.uncapitalize(requestName)}/summary" />
<%
    } else {
%>
            <g:render template="/frontofficeRequestType/${StringUtils.uncapitalize(requestName)}/${step.name}" />         
<%
    }
%>
           <div class="error" id="${StringUtils.uncapitalize(step.name)}FormErrors"> </div>
           
           <!-- Input submit-->
           <input type="button" 
              id="submit${StringUtils.capitalize(step.name)}" 
              name="submit${StringUtils.capitalize(step.name)}" 
              value="\${message(code:'action.save')}" />
         </form>
<%
  } 
%>         
         <!-- navigation link -->
         <div class="navTab">
           <%  
           	if (step.index != 0) { 
           %>
           <a href="#${steps.get(step.index -1).name}" class="prevTab"><g:message code="request.step.navigation.previous"/></a><% }%>
           <% 
             if (step.index != steps.size() - 1) {
           %>
           <a href="#${steps.get(step.index + 1).name}" class="nextTab"><g:message code="request.step.navigation.next"/></a><% }%>
         </div>
         
         <g:if test="\${help.${step.name}}">
           <div class="requestHelp">
             <h3>Aide</h3>
             \${help.${step.name}}
           </div>
         </g:if>
       </div>  
     <% } %>        
 	 </div><!-- end yui-content -->
 </div><!-- end requestTabView -->
 	  
    <script type="text/javascript">
      // next Links
      var activeNextTabByLink = function(e) {
	      YAHOO.util.Event.preventDefault(e);
        var requestFormTabView = new YAHOO.widget.TabView('requestTabView');
	      var activeTabIndex = requestFormTabView.get('activeIndex');
	      requestFormTabView.set('activeIndex' , activeTabIndex + 1);
      }
      
      YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("nextTab", "a" ),
          "click", 
          activeNextTabByLink
      );
      
      // prev Links
      var activePrevTabByLink = function(e) {
	      YAHOO.util.Event.preventDefault(e);
        var requestFormTabView = new YAHOO.widget.TabView('requestTabView');
	      var activeTabIndex = requestFormTabView.get('activeIndex');
	      requestFormTabView.set('activeIndex' , activeTabIndex - 1);
      }
      
      YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("prevTab", "a" ),
          "click", 
          activePrevTabByLink
      );

 	  function checkAllConditions() {
      	<%
      		def conditionsParam = ""
      		conditionsName.each {	
      			conditionsParam += '"' + it + '", '  
      		}
      	%>
      	var conditionsName = [${conditionsParam.substring(0, conditionsParam.length() - 2)}];
        Condition.checkConditions(conditionsName, "${StringUtils.uncapitalize(requestName)}");
      }
      
      function conditionChange(e) {
      	Condition.change(this.className, "${StringUtils.uncapitalize(requestName)}");
      }
      
      // CONDITION TRIGGER
	    YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("*trigger", "select" ),
          "change", 
          conditionChange
        );
          
      // CONDITION TRIGGER
	    YAHOO.util.Event.addListener(
          YAHOO.util.Dom.getElementsByClassName("*trigger", "input" ),
          "change", 
          conditionChange
        );
         
	  YAHOO.util.Event.onDOMReady(checkAllConditions);
	  
	  // VALIDATION
	  <% steps.each { step = it.value %>
	  var submit${StringUtils.capitalize(step.name)}Button = new YAHOO.widget.Button("submit${StringUtils.capitalize(step.name)}");
      submit${StringUtils.capitalize(step.name)}Button.on("click", FIC_checkForm, document.getElementById('${StringUtils.uncapitalize(step.name)}FormErrors'));
      submit${StringUtils.capitalize(step.name)}Button.on("click", onSubmitClick, "${StringUtils.uncapitalize(step.name)}Form");
	  <% } %>
	  
	  function onSubmitClick(ev, formId) {
        document.getElementById(formId).submit();
	  }
	  
	  function resetFormErrors(formErrors) { 
		YAHOO.util.Dom.get(formErrors).innerHTML = '';
	  }
	  
    // Request TabView Initialization
    function initRequest() {
      var requestFormTabView = new YAHOO.widget.TabView('requestTabView');
    }

    YAHOO.util.Event.onDOMReady(initRequest);
   </script>

  </body>
</html>
