<h3>
  Contact
  <span>Comment souhaitez-vous être contacté pour cette demande</span>
</h3>

<label>Moyen de contact</label>
<select name="requestMeansOfContactSelect">
  <option>Courriel</option>
  <option>Téléphone</option>
  <option>Courrier</option>
  <option>SMS</option>
  <option>Mobile</option>
</select>
