<%
  namespaceAlias = foObject.namespaceAlias
  i18nPrefix = foObject.namespaceAlias + '.property'
   
  def displayWidget(element, widget, wrapper) {
    if (wrapper.length() > 0)
      wrapper += '.';
      
    def widgets = [
      'YesnoElement' : 
          """
          <ul class="${element.condition}">
            <g:each in="\${[true,false]}">
            <li>
              <input type="radio" class="${element.condition} ${element.validation}" title="" value="\${it}" name="${wrapper}${element.javaName}" \${it == ${namespaceAlias}.${wrapper}${element.javaName} ? 'checked="checked"': ''} />
	            <g:message code="widget.yesno.\${it ? 'yes' : 'no'}" />
            </li>
            </g:each>
          </ul>
          """
      ,'RadioElement' :
          """
          <ul class="${element.condition}">
            <g:each in="\${${element.enumValuesAsString}}">
            <li>
              <input type="radio" class="${element.condition} ${element.validation}" title="" value="${element.modelNamespace}.${element.javaType}_\${it}" name="${wrapper}${element.javaName}" \${it == ${namespaceAlias}.${wrapper}${element.javaName}.toString() ? 'checked="checked"': ''} />
	            <g:message code="${i18nPrefix}.${element.javaName}.\${it}" />  
            </li>
            </g:each>
          </ul>
          """
      ,'SelectElement' :
          """
          <select name="${wrapper}${element.javaName}" class="${element.condition} ${element.validation}" title="">
            <option value=""><g:message code="message.select.defaultOption" /></option>
            <g:each in="\${${element.enumValuesAsString}}">
              <option value="${element.modelNamespace}.${element.javaType}_\${it}" \${it == ${namespaceAlias}.${wrapper}${element.javaName}?.toString() ? 'selected="selected"': ''}><g:message code="${i18nPrefix}.${element.javaName}.\${it}" /></option>
            </g:each>
          </select>
          """
      ,'AddressType' :
          """
          <div class="address-fieldset ${element.condition}">
          <label><g:message code="address.property.additionalDeliveryInformation" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.additionalDeliveryInformation}" maxlength="38" name="${wrapper}${element.javaName}.additionalDeliveryInformation"/>  
          <label><g:message code="address.property.additionalGeographicalInformation" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.additionalGeographicalInformation}" maxlength="38" name="${wrapper}${element.javaName}.additionalGeographicalInformation"/>
          <label><g:message code="address.property.streetNumber" /> - <g:message code="address.property.streetName" /></label>
          <input type="text" class="line1" value="\${${namespaceAlias}.${wrapper}${element.javaName}.streetNumber}" maxlength="5" name="${wrapper}${element.javaName}.streetNumber"/>
          <input type="text" title="" class="line2 required" value="\${${namespaceAlias}.${wrapper}${element.javaName}.streetName}" maxlength="32" name="${wrapper}${element.javaName}.streetName" title="<g:message code="request.error.required" />" />
          <label><g:message code="address.property.placeNameOrService" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.placeNameOrService}" maxlength="38" name="${wrapper}${element.javaName}.placeNameOrService"/>
          <label><g:message code="address.property.postalCode" /> - <g:message code="address.property.city" /></label>
          <input type="text" class="line1" value="\${${namespaceAlias}.${wrapper}${element.javaName}.postalCode}" maxlength="5" name="${wrapper}${element.javaName}.postalCode"/>
          <input type="text" title="" class="line2 required" value="\${${namespaceAlias}.${wrapper}${element.javaName}.city}" maxlength="32" name="${wrapper}${element.javaName}.city" title="<g:message code="request.error.required" />" />
          <label><g:message code="address.property.countryName" /></label>
          <input type="text" value="\${${namespaceAlias}.${wrapper}${element.javaName}.countryName}" maxlength="38" name="${wrapper}${element.javaName}.countryName"/>
          </div>
          """
    ]
    
    if (widgets[widget] != null)
      print widgets[widget]
    else if (element.javaType == 'date')
      print """<input name="${wrapper}${element.javaName}" value="\${formatDate(formatName:'format.date',date:${namespaceAlias}.${wrapper}${element.javaName})}" class="${element.condition} ${element.validation}" title="<g:message code="${i18nPrefix}.${element.javaName}.validationError" />">"""
    else
      print """<input name="${wrapper}${element.javaName}" value="\${${namespaceAlias}.${wrapper}${element.javaName}}" class="${element.condition} ${element.validation}" title="<g:message code="${i18nPrefix}.${element.javaName}.validationError" />">"""
  }
%>

<% step.elementList.each { element -> %>
  <% if (element.xmlSchemaType == "AddressType") { %>
    <label class="${element.condition}"><g:message code="${i18nPrefix}.${element.javaName}.label" /> <span><g:message code="${i18nPrefix}.${element.javaName}.help" /></span></label>
    <% displayWidget(element, "AddressType", "") %>
  <% } else if (element.class.simpleName == 'OneToManyElement') { %>
    <label class="${element.condition}"><g:message code="${i18nPrefix}.${element.javaName}.label" /> <span><g:message code="${i18nPrefix}.${element.javaName}.help" /></span></label>
    <!-- TODO = ON TO MANY -->
  <% } else if(element.class.simpleName == 'FieldsetElement') { %>
    <fieldset class="${element.condition}">
    <legend><g:message code="${i18nPrefix}.${element.javaName}.label" /></legend>
    <% element.elementList.each { subElement -> %>
      <label class="${subElement.condition}"><g:message code="${i18nPrefix}.${subElement.javaName}.label" /> <span><g:message code="${i18nPrefix}.${subElement.javaName}.help" /></span></label>
      <% if (subElement.xmlSchemaType == "AddressType") { %>
        <% displayWidget(subElement, "AddressType", "") %>
      <% } else { %>
        <% displayWidget(subElement, subElement.class.simpleName, "") %>
      <% } %>
    <% } %>
    </fieldset>
  <% } else { %>
    <label class="${element.condition}"><g:message code="${i18nPrefix}.${element.javaName}.label" /> <span><g:message code="${i18nPrefix}.${element.javaName}.help" /></span></label>
    <% displayWidget(element, element.class.simpleName, "") %>
  <% } %>
<% } %>
           
