<% 
   namespaceAlias = foObject.namespaceAlias
   i18nPrefix = foObject.namespaceAlias + '.property'
   steps = foObject.stepMap
   
  def displayWidget(element, widget, wrapper) {
    if (wrapper.length() > 0)
      wrapper += '.';
      
    def widgets = [
      'YesnoElement' : 
          """
          <dd><g:message code="message.\${${namespaceAlias}.${wrapper}${element.javaName} ? 'yes' : 'no'}" /></dd>
          """
      ,'RadioElement' :
          """
          <dd>
            <g:if test="\${${namespaceAlias}.${wrapper}${element.javaName}}">
              <g:capdematEnumToField var="\${${namespaceAlias}.${wrapper}${element.javaName}}" i18nKeyPrefix="${i18nPrefix}.${element.javaName}" />
            </g:if>
          </dd>
          """
      ,'SelectElement' :
          """
          <dd>
            <g:if test="\${${namespaceAlias}.${wrapper}${element.javaName}}">
              <g:capdematEnumToField var="\${${namespaceAlias}.${wrapper}${element.javaName}}" i18nKeyPrefix="${i18nPrefix}.${element.javaName}" />
            </g:if>
          </dd>
          """
      ,'AddressType' :
          """
          <g:if test="\${${namespaceAlias}.${wrapper}${element.javaName}}">
            <dd>
              <p>\${${namespaceAlias}.${wrapper}${element.javaName}?.additionalDeliveryInformation}</p>
              <p>\${${namespaceAlias}.${wrapper}${element.javaName}?.additionalGeographicalInformation}</p>
              <p>\${${namespaceAlias}.${wrapper}${element.javaName}?.streetNumber} \${${namespaceAlias}.${wrapper}${element.javaName}?.streetName}</p>
              <p>\${${namespaceAlias}.${wrapper}${element.javaName}?.placeNameOrService}</p>
              <p>\${${namespaceAlias}.${wrapper}${element.javaName}?.postalCode} \${${namespaceAlias}.${wrapper}${element.javaName}?.city}</p>
              <p>\${${namespaceAlias}.${wrapper}${element.javaName}?.countryName}</p>
            </dd>
          </g:if>
          """
    ]
    
    if (widgets[widget] != null)
      print widgets[widget]
    else if (element.javaType == 'date')
      print """<dd><g:formatDate formatName="format.date" date="\${${namespaceAlias}.${wrapper}${element.javaName}}"/></dd>"""
    else
      print """<dd>\${${namespaceAlias}.${wrapper}${element.javaName}}</dd>"""
  }
%>
<% def displayedSubject = false %>
<%
  steps.each { 
      step = it.value
      if (step.name == 'documentRef') {
%>
  <h3><g:message code="request.step.document.label" /></h3>
  <!-- TODO : Render document summary template -->
<%
      } else if (step.name != 'validationRef') {
%>
  <h3><g:message code="${foObject.namespaceAlias}.step.${step.name}.label" /></h3>
<% 
          step.elementList.each { element -> 
              if (element.xmlSchemaType == "AddressType") { 
%>
          <h4><g:message code="${i18nPrefix}.${element.javaName}.label" /></h4>
<% 
                  displayWidget(element, "AddressType", "")
              } else if (element.class.simpleName == 'OneToManyElement') { 
%>
          <!-- <h4><g:message code="${i18nPrefix}.${element.javaName}.label" /></h4> -->
          <!-- TODO : Render one to many elements -->
<% 
              } else if (element.class.simpleName == 'FieldsetElement') { 
%>
          <h4><g:message code="${i18nPrefix}.${element.javaName}.label" /></h4>
          <dl>
<%
                  if (step.name == 'subject' && !displayedSubject) {
%>
              <dt><g:message code="request.property.subjectName" /></dt>
              <dd>\${subjects.get(dhr.subjectId)}</dd>
<%
                      displayedSubject = true
                  }
                  element.elementList.each { subElement -> 
%>
             <dt><g:message code="${i18nPrefix}.${subElement.javaName}.label" /></dt>
<%
                      if (subElement.xmlSchemaType == "AddressType") { 
                          displayWidget(subElement, "AddressType", "")
                      } else {
                          displayWidget(subElement, subElement.class.simpleName, "")
                      }
                  }
%>
          </dl>
<%
              } else { 
%>
          <dt><g:message code="${i18nPrefix}.${element.javaName}.label" /></dt>
<%
                  displayWidget(element, element.class.simpleName, "")
              }
          }
      }
  }
%>
