body { 
	color: #3c4faa;
}

#information #title h1 {
	background-color: #3c4faa;
}

#information #explanation p.help {
	background-color: #3c4faa;
}

#navigation div.previous {
	background-color: #d2e1ff;
}

#navigation div.previous:hover {
	background-color: #3c4faa;
	color: #d2e1ff;
}

#navigation div.next {
	background-color: #d2e1ff;
}

#navigation div.next:hover {
	background-color: #3c4faa;
	color: #d2e1ff;
}

#navigation #steps div {
	background-color: #d2e1ff;
}

#navigation #steps div.xsu {
	background-color: #3c4faa;
}

#navigation #steps div.xss {
	background-color: #3c4faa;
}

#navigation #steps div.uuu {
	background-color: #d2e1ff;
}

#navigation #steps div.suu {
	background-color: #d2e1ff;
}

#navigation #steps div.ssu {
	background-color: #3c4faa;
}

#navigation #steps div.sss {
	background-color: #3c4faa;
}

#navigation #steps div.uux {
	background-color: #d2e1ff;
}

#navigation #steps div.sux {
	background-color: #d2e1ff;
}

#navigation #steps div.ssx {
	background-color: #3c4faa;
}

#contents #action #body { 
	color: #4d61c1;
}

#contents #action #body div.select {
	background-color: #d2e1ff;
}

#contents #action #body div.select:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

#contents #action #body div.action {
	background-color: #d2e1ff;
}

#contents #action #body div.action:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}

#contents #form #body { 
	background-color: #d2e1ff;
}

#contents #form #button-area div { 
	color: #4d61c1;
}

#contents #form #button-area div:hover {
	background-color: #4d61c1;
	color: #d2e1ff;
}
