/* basic elements */
html {
	height: 100%;
	width: 100%;
}

body { 
	behavior:url("css/csshover.htc");
	font: 8pt/16pt Verdana, sans-serif; 
	color: #175495;
	background: #fff; 
	margin: 0px;
	height: 100%;
	width: 95%;
}

p { 
	font: 8pt/16pt Verdana, sans-serif; 
	margin-top: 0px; 
	text-align: justify;
}

/* page layout */
#container { 
	margin: 20px 0px 20px 20px;
	width: 800px;
	height: 100%;
}

/***** navigation block *****/
#navigation { 
	width: 100%;
	margin-bottom: 25px;
	filter:alpha(opacity=40);
	-moz-opacity:.60;
}
	
#navigation div.previous {
	background: #fbe38b url(process/previous.gif) no-repeat;
	cursor:pointer;
	font: bold 12px Verdana;
	text-indent: 32px;
	padding-top: 8px;
	margin: 0px;
	width: 160px;
	height: 22px;
	float: left;
	clear: right;
}

#navigation div.previous:hover {
	background-color: #175495;
	color: #fbe38b;
}

#navigation div.next {
	background: #fbe38b url(process/next.gif) no-repeat;
	cursor:pointer;
	font: bold 12px Verdana;
	text-indent: 24px;
	padding-top: 8px;
	margin: 0px;
	width: 160px;
	height: 22px;
	float: right;
}

#navigation div.next:hover {
	background-color: #175495;
	color: #fbe38b;
}

#navigation #stages {
	position: absolute;
	font: 12px Arial;
	padding: 0px;
	margin: 0px;
	left: 190px;
	filter:alpha(opacity=40);
}

#navigation #stages ul {
	list-style: none outside;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#navigation #stages div {
	background: #fbe38b;
	padding-top: 30px;
	margin: 0px;
	float: left;
	clear: right;
}

#navigation #stages.s4 {
	margin-left: 20px;
}

#navigation #stages.s4 div {
	width: 105px;
	margin: 0px;
}

#navigation #stages.s5 div {
	width: 92px;
}

#navigation #stages.s6 div {
	width: 75px;
}

#navigation #stages li {
	background: #fff;
}

/** Navigation stage classes reflect the state of three stages: 
 *   x - no neighbour
 *   s - selected stage
 *   u - unselected stage
 *
 *  Posibilities:
 *    xsu - first stage with unselected second stage (first stage is always selected)
 *    xss - first stage with selected second stage (first stage is always selected)
 *    uuu - three stages unselected
 *    suu - previous stage selected
 *    ssu - next stage unselected
 *    sss - all three stages selected
 *    uux - last stage unselected, with previous stage unselected
 *    sux - last stage unselected, with previous stage selected
 *    ssx - last stage selected, with previous stage selected
 *
 *  For this style sheets purposes the uuu and suu, and the uux and sux posibilities are treated the same way.
 */
#navigation #stages div.xsu {
	background: #175495 url(process/stage_xsu.gif) no-repeat center top;
	font-weight: bold;
}

#navigation #stages div.xss {
	background: #175495 url(process/stage_xss.gif) no-repeat center top;
}

#navigation #stages div.uuu {
	background: #fbe38b url(process/stage_uuu.gif) no-repeat center top;
}

#navigation #stages div.suu {
	background: #fbe38b url(process/stage_uuu.gif) no-repeat center top;
}

#navigation #stages div.ssu {
	background: #175495 url(process/stage_ssu.gif) no-repeat center top;
	font-weight: bold;
}

#navigation #stages div.sss {
	background: #175495 url(process/stage_sss.gif) no-repeat center top;
}

#navigation #stages div.uux {
	background: #fbe38b url(process/stage_uux.gif) no-repeat center top;
}

#navigation #stages div.sux {
	background: #fbe38b url(process/stage_uux.gif) no-repeat center top;
}

#navigation #stages div.ssx {
	background: #175495 url(process/stage_ssx.gif) no-repeat center top;
	font-weight: bold;
}

/***** information block *****/
#information { 
	background: #fff;
	border-bottom: 2px solid #959BA5;
	left: 0px;
}
	
#information #title h1 {
	background: url(process/card.gif) no-repeat #175495;
	color: #354f6d;
	font: bold 16px Arial;
	text-align: center;
	margin-top: 0px;
	margin-right: 10px;
	padding: 10px 2px 10px 2px;
	position: relative;
	width: 155px;
	height: 61px;
	float: left; 
	filter:alpha(opacity=40);
}

#information #title h2 {
	font: bold 15px Arial;
	padding-top: 20px;
	margin: 0px;
}

#information #explanation p {
	font: 8pt Verdana, sans-serif; 
	width: 550px;
	height: 42px;
}

#information #explanation p.help {
	background: url(process/help.gif) no-repeat #175495;
	cursor:pointer;
	position: absolute;
	margin: 0px;
	top: 80px;
	left: 710px;
	width: 79px;
	height: 30px;
	float: right;
}

#information #explanation p.help span {
	display: none;
}

#contents {
	width: 100%;
	margin-top: 20px;
	height: 520px;
}

/***** action block *****/
#contents #action { 
	text-align: center;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	width: 208px;
	height: 100%;
	clear: both;
	float: left; 
	filter:alpha(opacity=40);
}

#contents #action #title h1 {
	background: url(process/action_top.gif) no-repeat;
	margin: 0px;
	padding: 0px;
	font: 18px Arial;
}

#contents #action #body #title h1 {
	background: none;
	margin: 20px 0px 0px 0px;
	border-top: 1px solid #959BA5;
	border-bottom: 1px solid #959BA5;
	color: #175495;
}

#contents #action #body { 
	border: 1px solid #959BA5;
	margin 0px;
	color: #7593b9;
	height: 100%;
}

#contents #action #body ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

#contents #action #body div.none {
	font: bold 14px Verdana;
	color: #000;
}

#contents #action #body div.select {
	background: #fbe38b url(process/right_long.gif) no-repeat;
	color: #000;
	cursor:pointer;
	font: 12px Verdana;
	padding-top: 8px;
	margin-top: 16px;
	width: 178px;
	height: 22px;
}

#contents #action #body div.select:hover {
	background-color: #7593b9;
	color: #fbe38b;
}

#contents #action #body div.action {
	background: #fbe38b url(process/right_long.gif) no-repeat;
	cursor:pointer;
	font: bold 12px Verdana;
	padding-top: 8px;
	margin-top: 16px;
	width: 178px;
	height: 22px;
}

#contents #action #body div.action:hover {
	background-color: #7593b9;
	color: #fbe38b;
}

/***** contents block *****/
#contents #form { 
	margin: 0px; 
	height: 100%;
}

#contents #form.part { 
	width: 578px;
}		

#contents #form.full { 
	left: 0px;
	width: 764px;
}		

#contents #form #title h1 {
	background: #fff url(process/contents_tab.gif) no-repeat;
	margin: 0px;
	padding-left: 20px;
	font: 18px Arial;
}

#contents #form #body { 
	background: #fbe38b;
	font: 14px Verdana, sans-serif;
	border:1px solid #959BA5;
	height: 100%;
}

#contents #form #button-area { 
	position: relative;
	top: -80px;
	height: 80px;
	width: 578px;
	float: right;
}

#contents #form #button-area div { 
	text-align: center;
	background-image: url(process/right.gif);
	font: bold 12px Verdana, sans-serif;
	color: #7593b9;
	cursor: pointer;
	padding: 8px 0px 0px 22px;
	margin: 0px;
	width: 117px;
	height: 22px;
}

#contents #form #button-area div:hover {
	background-color: #7593b9;
	color: #fbe38b;
}

#contents #form #button-area div.right-left {
	position: absolute;
	left: 32px;
	top: 40px;
}

#contents #form #button-area div.left-left {
	background-image: url(process/left.gif);
	position: absolute;
	left: 32px;
	top: 40px;
}

#contents #form #button-area div.right-center {
	position: absolute;
	left: 223px;
	top: 40px;
}

#contents #form #button-area div.right-center-left {
	position: absolute;
	left: 133px;
	top: 40px;
}

#contents #form #button-area div.right-center-right {
	position: absolute;
	left: 313px;
	top: 40px;
}

#contents #form #button-area div.right-right {
	position: absolute;
	left: 404px;
	top: 40px;
}

#contents #form #button-area div.right-right-top {
	position: absolute;
	left: 404px;
}
