/* --------------------------------------------------------
 * 
 *        Valdoise - Style Sheet
 *
 *        orange: #ff812b
 *        green:  #7FA646
 *        gray:   #b6aca5
 *
 * ----------------------------------------------------- */

/* global layout
 * ----------------------------------------------------- */
 
html { background: #fff; }
#hd  { margin : 0 0 .5em; }
#bd  { background-color: #b6aca5; }
h2   { color: #fff; }


/* menus
 * ----------------------------------------------------- */
 
#main-menu a, #main-menu a span                 { background-color: #ff812b; }
#main-menu a:hover, #main-menu a:hover span     { color: #fff; background-color: #b6aca5; }
#main-menu a.current, #main-menu a.current span { color: #fff; background-color: #b6aca5; }
#main-menu a.disable ,#main-menu a.disable span { background-color: #b6aca5 !important; }

#hd-menu a.menu       { color: #fff; background-color: #b6aca5; }
#hd-menu a.menu:hover { background-color: #ff812b; }

/* boxes
 * ----------------------------------------------------- */

/* list-box */
.list-box h2            { color: #fff; border-bottom: 3px solid #ff812b; background: #b6aca5; }
.list-box p.paginator a, 
.list-box p.see-all a   { color: #095ba6; }

.list-box p.see-all a:hover, 
.list-box p.paginator a:hover,
.list-box p.paginator span.currentStep { color: #ffffff; background: #ff812b; }

/* login-box */
.login-box         { color: #fff; border-color: #fff; }
.login-box a       { color: #fff; }
.login-box a:hover { color: #fff; background: #ff812b; }
.login-box form input[type="submit"] { border-color: #ff812b; }

/* group-box */
.group-box h3      { color: #fff; border-bottom: 3px solid #ff812b; background: #b6aca5; }
.group-box a:hover { color: #fff; background: #ff812b; }

/* main-box and summary-box */
.summary-box h2,
.main-box h2      { color: #fff; border-bottom: 3px solid #ff812b; background: #b6aca5; margin:0;}
.summary-box p,
.main-box p       { padding: .1em 1em; }

/* request-box */
.narrow-box h3           { margin: 0; color: #fff; background: #ff812b; }
.narrow-box .body        { background: #FFFFFF; }
.narrow-box .body select { border-top-color: #ff812b; }


/* forms
 * ----------------------------------------------------- */

form input[type="text"],
form input[type="password"],
form select,
form textarea { border-top-color: #ff812b !important; }


/* home folder screen
 * ----------------------------------------------------- */

.individual dl { margin: 0 0 1em; border-top: 3px solid #ff812b !important; }

.data-detail h3     { color: #ff812b !important; }
.data-detail .yui-g { border-color: #ff812b !important; }
.data-detail dl     { border-bottom-color: #ff812b !important; }
.data-detail dl dt  { border-top-color: #ff812b !important; }
.data-detail dl dd  { border-top-color: #ff812b !important; }


/* request creation
 * ----------------------------------------------------- */

h2.request-creation { margin: 0 !important; }

.yui-skin-fong .yui-navset .yui-nav a,
.yui-skin-fong .yui-navset .yui-navset-top .yui-nav a {
  font-weight: bold !important;
  color: #fff  !important; 
  background: #ff812b !important;
  border: 0 !important;
}

.yui-skin-fong .yui-navset .yui-nav a:hover,
.yui-skin-fong .yui-navset .yui-nav .selected a,
.yui-skin-fong .yui-navset .yui-nav .selected a:focus {
  color: #000  !important;
  background: #fff !important; 
  border-color: #fff !important;
}

#requestTabView                 { margin: 1em 0 0 !important }
#requestTabView .requestHelp h3 { border-bottom-color: #b21811 !important; }

.summary-box h3,
#requestTabView h3                    { border-bottom-color:  #ff812b !important; }
#requestTabView legend                { color: #ff812b !important; }
#requestTabView fieldset              { border-left-color: #ff812b !important; }
#requestTabView .address-fieldset     { border-color: #ff812b !important; }
#requestTabView form ul.dataTree      { border-color: #ff812b !important; }
#requestTabView form div .captcha img { border-color: #ff812b !important; }

#requestTabView form div input[type="text"], #requestTabView form div input[type="password"],
#requestTabView form div select, 
#requestTabView form div textarea {
  border-top-color: #ff812b !important;
}

#requestTabView .nextTab, #requestTabView .prevTab { color: #ff812b !important; }
#requestTabView .nextTab:hover, #requestTabView .prevTab:hover { 
  color: #fff !important; background: #ff812b !important; 
}

.summary-box dl    { border-bottom-color: #ff812b !important; }
.summary-box dl dt,
.summary-box dl dd { border-top-color: #ff812b !important; }

#requestTabView div.collection-fieldset    { background: #ffd; }
#requestTabView div.collection-fieldset h4 { color: #ff812b !important; }
#requestTabView fieldset.collection-fieldset-add         { border-color: #ff812b !important; }
#requestTabView fieldset.collection-fieldset-edit        { border-bottom-color: #ff812b !important; }
#requestTabView fieldset.collection-fieldset-add legend,
#requestTabView fieldset.collection-fieldset-edit legend { border-color: #ff812b !important; }


/* activities
 * ----------------------------------------------------- */
 
table.activity-calendar,
table.activity-calendar th,
table.activity-calendar td { border-color: #ff812b !important; }

