html { 
  background-color: #FFFFFF !important; 
}

#hd #hd-menu a,
#main-menu a:hover, #main-menu a:hover span,
#main-menu a.disable ,#main-menu a.disable span,
#main-menu a.current, #main-menu a.current span, 
#bd,
.list-box h2,
.main-box h2,
.confirm-box h2,
.group-box h3 { 
  background-color: #b6aca5 !important;
}

#hd h1,
.list-box p.paginator a {
  color: #b6aca5 !important;
}

#main-menu a:hover,
#main-menu a.current,
#main-menu a.disable { 
  border-color: #b6aca5 !important;
}

.list-box p.see-all a {
  color: #FF812B !important;
}

.list-box p.see-all a:hover, 
.list-box p.paginator a:hover {
  color: #FFFFFF !important;
}

.list-box h2,
.nobox h3, .nobox li {
  border-bottom-color: #FF812B !important;
}

#hd #hd-menu a:hover,
#main-menu a, #main-menu a span,
.requestBox h3,
.list-box p.see-all a:hover, 
.list-box p.paginator a:hover,
.list-box p.paginator span.currentStep,
.login-box a:hover,
.group-box a:hover,
.mandatory {
  background-color: #FF812B !important;
  color: #FFFFFF !important;
}

h2,
.main-box h2,
.confirm-box h2,
.list-box h2,
.group-box h3,
.login-box a{ 
  color: #FFFFFF !important;
}

.requestBox .body {
  background-color: #FFFFFF !important;
}

.group-box h3,
.main-box h2,
.confirm-box h2,
#requestTabView .requestHelp h3,
.data-detail dl {
  border-bottom-color: #FF812B !important;
}
.login-box {
  border-color: #FFF !important;
}

.individual dl,
.login-box form input,
.data-detail dl dt, .data-detail dl dd  {
  border-top-color: #FF812B !important;
}

.login-box form input[type="submit"] {
  border-color: #FF812B !important;
}

.data-detail h2     { color: #fff !important; border: 0 !important; }
.data-detail h3     { color: #FF812B !important; }
.data-detail .yui-g { border-color: #FF812B !important; }


h2.request-creation { margin: 0 !important; font-size: 2em !important; }

.yui-skin-fong .yui-navset .yui-nav a,
.yui-skin-fong .yui-navset .yui-navset-top .yui-nav a {
  color: #FFFFFF ;
  background-color: #FF812B;
  border-color: #FF812B;
}

.yui-skin-fong .yui-navset .yui-nav .selected a,
.yui-skin-fong .yui-navset .yui-nav .selected a:focus,
.yui-skin-fong .yui-navset .yui-nav a:hover {
  color: #000000 !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

#requestTabView { margin: 1em 0 0 0 !important; }

#requestTabView h3 {
  border-bottom-color: #FF812B !important;
}

#requestTabView legend {
  color: #FF812B !important;
}

#requestTabView fieldset {
  border-left-color: #FF812B !important;
}

#requestTabView .address-fieldset {
  border-color: #FF812B !important;
}

#requestTabView form div input[type="text"], 
#requestTabView form div select, 
#requestTabView form div textarea {
  border-top-color: #FF812B !important;
}

/*#requestTabView button[type="button"] {*/
/*  border-color: #804016 !important;*/
/*  border-left-color: #FF812B !important;*/
/*  border-top-color: #FF812B !important;*/
/*  background-color: #FF812B !important;*/
/*  color: #FFFFFF !important;*/
/*}*/


/*#requestTabView button[type="button"]:hover{*/
/*  border-color: #FF812B !important;*/
/*  border-left-color: #804016 !important;*/
/*  border-top-color: #804016 !important;*/
/*  color: #333 !important;*/
/*}*/

#requestTabView .nextTab, #requestTabView .prevTab { 
  color: #FF812B !important; 
}

#requestTabView .nextTab:hover, #requestTabView .prevTab:hover { 
  background: #FF812B !important; 
  color:#ffffff !important; 
}

#requestTabView dl {
  border-bottom-color: #FF812B !important;
}

#requestTabView dl dt,
#requestTabView dl dd {
  border-top-color: #FF812B !important;
}

