/* --------------------------------------------------------------

    tag and flag description
    TODO : Name tag by state / action ...
    TODO : choice colors ...
    
    NOTE : bor's color : 
      green=#64992C
      orange=#ec7000
      red=#EC7000

-------------------------------------------------------------- */
/*
request state: pending, complete, uncomplete, validated, notified, active, expired, closed, rejected, cancelled, archived
document state: pending, validated, checked, refused, outdated
data state: pending, valid, unvalid
*/

/* request, document and data state */
.tag-pending, .tag-complete, .tag-uncomplete, .tag-validated, .tag-notified, .tag-active,
.tag-expired, .tag-closed, .tag-rejected, .tag-cancelled, .tag-archived,
/* specific data state */
.tag-valid, .tag-invalid,
/* specific document state */
.tag-checked, .tag-refused, .tag-outdated, .tag-not_provided,
/* general flag */
.tag-enable, .tag-disable,
/* category profils */
.tag-read_only, .tag-read_write, .tag-manager { 
  padding: 0 .2em;
  border-bottom: 1px solid;
  border-right: 1px solid;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  font-size: .9em;
/*  font-family: mono;*/
/*  font-weight: bold;*/
  color: #ffffff;
}

/* yellow */
.tag-pending,
.tag-uncomplete { background: #ffcc20; border-color:#ffaa20; }

/* green */
.tag-valid,
.tag-validated,
.tag-complete,
.tag-notified,
.tag-enable      { background: #20cc20; border-color:#20aa20; }

/* red */
.tag-not_provided,
.tag-invalid,
.tag-expired,
.tag-rejected,
.tag-refused,
.tag-outdated,
.tag-disable     { background: #cc2020; border-color:#aa2020; }

/* blue */
.tag-active,
.tag-checked,
.tag-read_only   { background: #2020cc; border-color:#2020aa; }

/* orange*/
.tag-read_write  { background: #ec7000; border-color:#da7000; }

/* violet */
.tag-manager     { background: #aa00ff; border-color:#aa00ff; }

/* gray */
.tag-closed,
.tag-cancelled,
.tag-archived,
.tag-no_right    { background: #aaaaaa; border-color:#cccccc; color:#ffffff; }

