/* --------------------------------------------------------------

    tag and flag description
    TODO : Name tag by state / action ...
    TODO : choice colors ...
    
    NOTE : bor's color : 
      green=#64992C
      orange=#ec7000
      red=#EC7000

-------------------------------------------------------------- */
/*
request state: pending, complete, uncomplete, validated, notified, closed, rejected, cancelled, archived
document state: pending, validated, checked, refused, outdated
data state: pending, valid, unvalid
deposit type: pc, terminal, mailed_paper, brought_paper
deposit origin: agent, ecitizen
role: home_folder_responsible, clr_mother, clr_father, clr_tutor, tutor
payment : initialized, validated, refused, cancelled
invoice : paid, no_paid
*/


/* deposit type */
.tag-pc, .tag-terminal, .tag-mailed_paper, .tag-brought_paper,
/* deposit origin */
.tag-agent, .tag-eCitizen, .tag-ecitizen,
/* request, document and data state */
.tag-pending, .tag-complete, .tag-uncomplete, .tag-validated, .tag-notified,
.tag-closed, .tag-rejected, .tag-cancelled, .tag-archived,
/* specific data state */
.tag-valid, .tag-invalid,
/* specific document state */
.tag-checked, .tag-refused, .tag-outdated, .tag-not_provided,
/* general flag */
.tag-enable, .tag-disable,
/* category profils */
.tag-read_only, .tag-read_write, .tag-manager,
/*  role */
.tag-homefolderresponsible, .tag-clrmother, .tag-clrfather, .tag-clrtutor, .tag-tutor, .tag-foreigner,
/*  payment */
.tag-initialized,
/* invoice */
.tag-paid, .tag-nopaid,
/*  request creation */
.tag-required,
/* external services traces */
.tag-sent, .tag-inprogress, .tag-notsent, .tag-acknowledged, .tag-error, .tag-accepted, .tag-rejected,
/* request note type */
.tag-internal, .tag-public,
/* request lock */
.tag-free, .tag-lockacquired, .tag-locked,
/* request action types */
.tag-draftdeletenotification, .tag-creationnotification,
.tag-orangealertnotification, .tag-redalertnotification, .tag-creation, .tag-modification, .tag-modified,
.tag-statechange, .tag-contactcitizen,
/* document (request creation) */
.tag-new, .tag-pageaddition, .tag-pageedition, .tag-pagedeletion, .tag-merge,
/* request admin actions */
.tag-archivesdeleted, .tag-archivesdownloaded, .tag-passwordreset, .tag-requestsarchived, .tag-archivesmigrated,
/* homefolder mapping */
.tag-free, .tag-binded, .tag-ignored, 
/*  misc */
.tag-draft { 
  padding: 0 .2em;
  border-bottom: 1px solid;
  border-right: 1px solid;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  font-size: .9em;
/*  font-family: mono;*/
/*  font-weight: bold;*/
  color: #ffffff;
}

/* yellow */
.tag-free,
.tag-archivesdownloaded,
.tag-pending,
.tag-initialized,
.tag-sent,
.tag-statechange,
.tag-merge,
.tag-uncomplete    { background: #ffcc20; border-color:#ffaa20; }

/* green */
.tag-paid,
.tag-binded,
.tag-requestsarchived,
.tag-clrtutor,
.tag-tutor,
.tag-valid,
.tag-validated,
.tag-complete,
.tag-notified,
.tag-acknowledged,
.tag-accepted,
.tag-lockacquired,
.tag-creation,
.tag-enable        { background: #20cc20; border-color:#20aa20; }

/* red */
.tag-nopaid,
.tag-archivesdeleted,
.tag-invalid,
.tag-rejected,
.tag-refused,
.tag-outdated,
.tag-error,
.tag-rejected,
.tag-locked,
.tag-redalertnotification,
.tag-disable       { background: #cc2020; border-color:#aa2020; }

/* negative red */
.tag-draftdeletenotification,
.tag-pagedeletion,
.tag-not_provided  { background: #dedede; color: #cc2020; border-color: #aa2020; }

/* blue */
.tag-archivesmigrated,
.tag-new,
.tag-pageaddition,
.tag-clrfather,
.tag-checked,
.tag-contactcitizen,
.tag-read_only     { background: #2020cc; border-color:#2020aa; }

/* orange*/
.tag-homefolderresponsible,
.tag-read_write,
.tag-modification, .tag-modified,
.tag-pageedition,
.tag-inprogress,
.tag-orangealertnotification,
.tag-agent         { background: #ec7000; border-color:#da7000; }

/* violet */
.tag-passwordreset,
.tag-required,
.tag-eCitizen, .tag-ecitizen,
.tag-creationnotification,
.tag-manager       { background: #aa00ff; border-color:#aa00ff; }

/* pink */
.tag-clrmother    { background: #ff00aa; border-color:#ff0088; }

/* gray */
.tag-foreigner,
.tag-closed,
.tag-cancelled,
.tag-archived,
.tag-notsent,
.tag-no_right      { background: #aaaaaa; border-color:#cccccc; color:#ffffff; }

/* gray black */
.tag-ignored,
.tag-pc,
.tag-terminal,
.tag-mailed_paper,
.tag-brought_paper { background: #333333; border-color:#cccccc; color:#ffffff; }

/* draft */
.tag-draft { background: #13d6d6; border-color: #009999; }

.tag-public {
  background-color : #eeeeee;
  border-color : #0000ff;
  color : #0000ff;
}

.tag-internal {
  background-color : #eeeeee;
  border-color : #ff0000;
  color : #ff0000;
}
