/*#tabulation #contents #form { 
	margin: 0.5%;
	height: 100%;
}

#tree {
	float: left;
	clear: right;
	overflow: auto;
	border-right: solid 1px #028ebf; 
	height: auto!important;
	height: 100%;
	min-height: 450px;
	width: 200px;
};

#treedetail {
	z-index: 1;
	left: 10px;
	float: left;
	clear:right;
};

div.label-field {
	font: 10px Verdana, sans-serif;
	margin: 0px;
	width: 100%;
}

#treedetail div.label-field label {
	font-weight: bold;
	float: left;
	clear: both;
	margin: 0px;
	width: 30%;
	min-width: 150px;
}

#treedetail div.label-field div {
	min-width: 200px;
}

#treeaction {
	z-index: 2;
	float: right;
	clear:right;
	height:auto;
};

#treeaction input {
	margin-bottom: 5px;
}

#ancestors {
	min-width:300px;
}

.treeHeader {
	float: left;
	clear: both;
	color: #cf3030;
    font: bold 12px Arial;
    height: 25px;
}

.treeNode {
	float: left;
	clear: both;
}

.treeNode a {
	text-decoration: none;
	color: #000;
	padding-right: 10px;
}

.treeNode a:hover {
	color: #34aa87;
}
*/
