#header {
	clear:both;
	margin:0pt;
	padding:0pt;
	width:100%;
	text-align: center;
}

/* form styles */

form {
	/* set width in form, not fieldset (still takes up more room w/ fieldset width */
	/* font:100% verdana,arial,sans-serif; */
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	width: 60%;
  /*
  min-width: 500px;
  max-width: 600px;
  width: 560px; 
  */
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 50%;
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: left; 
}

form fieldset {
	border: 1px solid #578BB8;
	padding: 10px;        /* padding in fieldset support spotty in IE */
	margin: 0;
}

form fieldset legend {
	font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
                       /* be careful with padding, it'll shift the nice offset on top of border  */
}

form input, form textarea, form select {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form .required {
	font-weight: bold; /* uses class instead of div, more efficient */
}

form br {
	clear: left;
}

form .submit {
	float: right;
}
