
.requestBox .body select.year-filter {
  width: 5em ;
  display: inline;
}

.requestBox .body select.month-filter {
  width : 3.5em;
  display: inline;
}

.requestBox .body label.title {
  display:block;
}

.details-panel {
  text-align : right;
  clear:both;
  padding-top:0.5em;
  /*padding: 0.6em 1em 0.6em;*/
}

#narrow {
  clear:right !important;
}

table.activity-calendar {
  margin: 2em;
  font-size: 1.2em;
  border-left: dashed 1px #FF812B;
  border-top: dashed 1px #FF812B;
}

table.activity-calendar th {
  width: 5.8em;
  padding-bottom: 1em;
  text-align: center;
  border-right: dashed 1px #FF812B;
  border-bottom: dashed 1px #FF812B;
  vertical-align: middle;
  padding-top:0.7em;
  background: #eee;
}

table.activity-calendar td {
  padding-bottom: 0.7em;
  vertical-align:top;
  font-size:1.4em;
  text-align: center;
  border-right: dashed 1px #FF812B;
  border-bottom: dashed 1px #FF812B;
}

table.activity-calendar td span.value {
  display:block;
}

table.activity-calendar td span.indicator {
  float:left;
  height:1em;
  margin:0.1em 0.1em 0 0;
  width:1em;
}

table.activity-calendar td div.container {
  margin-left:0.5em;
}


/*Attempt 1 */
.data-detail dl dd {
  width:12.7em !important;
}
