
.narrow-box .body select.year-filter  { width: 40%; display: inline; }
.narrow-box .body select.month-filter { width : 50%; display: inline; }

.narrow-box .body label.title { display:block; }

.narrow-box .body ul.legend li                  { border:none; }
.narrow-box .body ul.legend span.legend-label   { display: block; float: left; margin-right: 1em; width: 1.2em; }
.narrow-box .body ul.legend span.legend-label-0 { background-color : orange; }
.narrow-box .body ul.legend span.legend-label-1 { background-color : blue; }
.narrow-box .body ul.legend span.legend-label-2 { background-color : red; }
.narrow-box .body ul.legend span.legend-label-3 { background-color : darkgreen; }
.narrow-box .body ul.legend span.legend-label-4 { background-color : yellowgreen; }


.data-detail dl dd { width: 12.75em ; }

/* Used inside a yui-g container */
.details-panel { text-align: right; clear: both; padding-top: 0.5em; }

#narrow { clear:right !important; }

table.activity-calendar {
  margin: 2em;
  font-size: 1.2em;
  border-left: dashed 1px #FF812B;
  border-top: dashed 1px #FF812B;
}

table.activity-calendar th {
  width: 5.8em;
  padding-bottom: 1em;
  text-align: center;
  border-right: dashed 1px #FF812B;
  border-bottom: dashed 1px #FF812B;
  vertical-align: middle;
  padding-top:0.7em;
  background: #eee;
}

table.activity-calendar td {
  padding-bottom: 0.7em;
  vertical-align:top;
  font-size:1.4em;
  text-align: center;
  border-right: dashed 1px #FF812B;
  border-bottom: dashed 1px #FF812B;
}

table.activity-calendar td span.value {
  display:block;
}

table.activity-calendar td span.indicator {
  float:left;
  height:1em;
  margin:0.1em 0.1em 0 0;
  width:1em;
}

table.activity-calendar td div.container {
  margin-left:0.5em;
}


