
.requestBox .body select.year-filter {
  width: 5em ;
  display: inline;
}

.requestBox .body select.month-filter {
  width : 3.5em;
  display: inline;
}

.requestBox .body label.title {
  display:block;
  padding-bottom: 0.7em;
}

.requestBox .body input.action-button {
  display:block;
}

.list-box h3 {
  font-size: 1.4em;
  margin:0;
  padding: 0.6em 0.6em;
}

.list-box .details-panel {
  text-align : right;
  padding: 0.6em 1em 0.6em;
}

#narrow {
  clear:right !important;
}