p.draft-warning     { margin-top:0.6em !important; }
.draft-warning span { background-color:#ffcc99; border:1px solid red; padding:0.2em; }
.draft-warning img  { vertical-align:middle; }

p.agent-note { 
	margin-top: 0.6em !important;
	background-color:#ffffcc;
	border:1px solid #ffaa00;
	padding:0.2em;
	font-size: 0.9em;
}

