/* document management
--------------------------------------------------------------*/

#docs h4   { font-size: 1.4em; font-weight: normal; color: #DB4366; font-style: italic; }
#docs h4 a { float: right; font-size: .9em; margin-right: 1em; }
#docs h5   { font-size: 1.25em; }
#docs .help {
  font-style: italic;
  color: #333;
}
#docs dl { margin: 0 0 1em; overflow : auto; }
#docs dt,
#docs dd { float: left; margin: 0; padding: .5em; border-top: 1px dotted #ccc; font-size: 1em; }
#docs dt {
  clear: both; width: 15%; padding-top: .6em;
  min-height: 1.5em;
  text-align: right; color: #444;
}
#docs dd { width: 78%; }
#docs dd.warn { background-color: #fdd; }
#docs dd p { margin: 0 0 .1em !important; }
#docs dd p.warn { margin: .4em 0 !important; font-size: 1.1em !important; }

#docs .tag-state { float: right; margin-left: .5em; }

#docs dd label, #docs dd input { font-size: 1em; }
#docs dd input[type=submit] { font-size: 1.2em !important; }
#docs dd input[type=text]   { border-top-color: #bbb !important; }
