/*--------------------------------------------------------------

    homFolder

---------------------------------------------------------------*/


/* definition list (for homeFolder.individual) */
.individual dl {
  margin-bottom : 1em ;
  padding: 1em;
  border-top: 3px solid #C690BB;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  background-color: #ffffff; 
}

.individual dl dt {
  float: left; width: 9em;
  font-weight: bold;
  text-align : right;
}

.individual dl dd {
  border-left: 1px dashed #aaaaaa;
  margin: 0 0 0 10em;
  padding: 0 0 0 .5em;
}

.individual dl dd ul li { margin-left: 1em; padding: 0.1em; }

.individual dl dd.see-details {
  margin-top: 1em;
  text-align: right;
  border: none;
}

h2.individual-header {
  text-align: center;  
}

.individual-detail h2 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  color: black;
  border: 3px solid #ffaa00;
  background: #ffffcc;
}

.individual-detail h3 {
  font-size: 2em;
  font-weight: normal;
  padding-top: 1em;
  color: #C690BB; 
  background: #4c3848;
  border-bottom: 3px solid #C690BB;  
}

/* definition list */
.individual-detail dl {
  margin : 10px;
  border-bottom: 1px dashed #C690BB;
  color: #333;
  overflow: auto;
}
 
.individual-detail dl dt,
.individual-detail dl dd {
  float: left;
  margin: 0;
  padding: .3em;
  border-top: 1px dashed #C690BB;
}

.individual-detail dl dt { width: 9em; min-height: 1.5em; text-align: right; clear: both; }
.individual-detail dl dd { width: 14em; font-size: 1.15em; }

.individual-detail dl dd p { padding: 0.1em; }
