
/* Home folder Tracker
---------------------------------------------------------------*/

.tracker.flat { overflow: auto; }

.tracker.flat a { float: left; margin-left: 3%; }
.tracker a { display: block; color: #000; text-decoration: none; }

.tracker.flat span.step { margin: .5em auto 1em auto; }
.tracker span.step {
  width: 45px; height: 45px;
  display: block; margin: 0 0 3em 2em;
  background-color: #e6648d;
  background-repeat: no-repeat;
}

.tracker span.step.UNCOMPLETE { background-color: #fc0; }
.tracker span.step.COMPLETE { background-color: #20aa20; }
.tracker span.step.INVALID { background-color: #cc2020; }

.tracker span.step.general { background-image: url(../../images/icons/account-tracker-general-45.png); }
.tracker span.step.family { background-image: url(../../images/icons/account-tracker-family-45.png); }
.tracker span.step.document { background-image: url(../../images/icons/account-tracker-document-45.png); }

.tracker span.step.current { width: 100px; height: 100px; margin-left: 0; }
.tracker span.step.current.general { background-image: url(../../images/icons/account-tracker-general-100.png); }
.tracker span.step.current.family { background-image: url(../../images/icons/account-tracker-family-100.png); }
.tracker span.step.current.document { background-image: url(../../images/icons/account-tracker-document-100.png); }

.tracker.flat span.info { display: block; float: none; text-align: center; }
.tracker span.info { width: 150px; float: right; font-size: 1.20em; }

.tracker span.state {
  display: block; margin-top: .3em; 
  font-style: italic; font-size: .8em;
  color: #666; }
