/*--------------------------------------------------------------

    Home Folder 

---------------------------------------------------------------*/


/* Common style
---------------------------------------------------------------*/

.box { padding: 1.5em; overflow: auto; border: 0 0 1em; background: #fff; margin: 0 0 1em 0; }
.box .main { width: 68%; float: left; }
.box .side { width: 29%; float: right; }

/*FIXME: refactor*/
.box .side div.note, .box .side div.action, .box .side div.back {
  margin: 0 0 .5em; padding: .5em 1em; font-size: 1.15em; background: #ddd;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius .5em;
}
.box .side div.action a { display: block; line-height: 1.5em; }
.box .side div.back a   { display: block; line-height: 1.5em; color: #000; }
.box .side div.note h4  { font-size: 1.1em; }
.box .side div.note p   { font-size: .9em; font-style: italic; }

.box h2  { font-size: 2.5em; color: #e6648d; }
.box h2 .tag-state { display: inline; float: right; font-size: .5em; }
.box h3  { margin: .5em 0; font-size: 2em;  color: #e6648d; }

.box p  { margin: .5em 0; }

/* Index
---------------------------------------------------------------*/

.box .main.columns { overflow: hidden; width: 100%; padding-top: 2.5em; }
.box .main.columns .adults   { width: 31%; float:  left; padding: 0 .5em; }
.box .main.columns .children { width: 31%; float:  left; padding: 0 .5em; }
.box .main.columns #docs     { width: 31%; float: right; padding: 0 .5em; }

/* Individuals ------------------------------------------------*/

/* FIXME: custom tag */
.box .individuals .tag          { display: block; font-family: monospace; font-style: italic; }
.box .individuals .tag.New      { color: #2020cc; }
.box .individuals .tag.Modified { color: #fc0; }
.box .individuals .tag.Invalid  { color: #CC2020; }
.box .individuals .tag.Valid    { display: none; }

.box .individuals h3   { margin: 0; }
.box .individuals h3 a { font-size: .5em; }

.box .individuals dl {
  margin: 1em 0; padding: .5em;
  border: 2px solid #bbb;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius: .5em;
}

.box .individuals dl dt { float: left; width: 6em; font-weight: bold; text-align : right; }
.box .individuals dl dd { margin-left: 7em; padding-left: .5em; line-height: 1.5em; }

.box .individuals dl dd ul li  { padding: 0.1em; }
.box .individuals dl dd.action { margin-top: 1em; text-align: right;border: none; }

.box .individuals dl.Invalid { border-color: #CC2020; }
.box .individuals dl.delete   { border: 2px solid #CC2020; }
.box .individuals dl dd.delete {
	width: 100%;
	position: relative; left: -7.5em;
	margin-top: 1em; padding: .5em .5em;
	text-align: center;
	color:#fff; background: #CC2020;
	border: none;
}
.box .individuals dl dd.delete a { font-size: 1.1em; font-weight: bold; color: #fff; }

/* Documents (override) ---------------------------------------*/

.box .main.columns #docs h3 { margin-top: 0; }
.box .main.columns #docs h4 { margin-top: 1em; font-size: 1.1em; }

.box .main.columns #docs dt, .box .main.columns #docs dd { font-size: .9em !important; }
.box .main.columns #docs dt { width: 16%; }
.box .main.columns #docs dd { width: 73%; }


/* Individual
---------------------------------------------------------------*/

.box.individual .main { 
  width: 65%; padding: 1.5em; border: 3px solid #ccc;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius .5em;
}
.box.individual .main.New      { border-color: #2020cc; }
.box.individual .main.Modified { border-color: #fc0; }
.box.individual .main.Valid    { border-color: #20CC20; }
.box.individual .main.Invalid  { border-color:  #CC2020; }

.box.individual a.modify { float: right; margin: -1.5em 1.5em 0 0; }

.individual h2 { margin: 0 0 .5em; }
.individual h3 { margin: 0 0 .5em; font-size: 1.6em; }

.individual dl { margin: 0 0 1em; overflow : auto;}
.individual dt,
.individual dd { float: left; margin: 0; padding: .4em; border-top: 1px dotted #ccc; }
.individual dt {
  clear: both; width: 33%; padding-top: .6em;
  font-size: 1em; min-height: 1.5em;
  text-align: right; color: #444;
}
.individual dd { width: 60%; font-size: 1.2em; }


/* TODO : refactor duplicated form style !!
---------------------------------------------------------------*/
.validation-failed { border: 1px dashed #f33; background-color:#fcc; }

.individual form { padding: 0; }
.individual legend { margin: 0 0 .5em; font-size: 1.6em;  color: #e6648d; }
.individual form .error { text-align: center; color: #f33; }

.individual form ul           { width: 80%; margin: .2em 0 .5em 0; }
.individual form ul.yes-no li { display: inline; margin: 0 .5em; }
.individual form li label     { display: inline; font-size: .95em; }

.individual form input[type="submit"] { margin: 0 0 2em; }

.individual form .address {
  width: 88%; margin: 0 0 1em; padding: .5em;
  font-size: .9em;
  border: 1px dashed #DB4366;
}
.individual form .address input[type="text"] { width: 99%; margin: 0 0 .5em; padding: .1em; }
.individual form .address label { display: inline; padding-top: .5em; color: #333; }
.individual form .address input[type="text"].line1 { display: inline; width: 15%; }
.individual form .address input[type="text"].line2 { display: inline; width: 82%; }

.individual form .date input.year,
.individual form .date select.day,
.individual form .date select.month { display : inline; width : auto; }
