
#narrow { clear:right !important; }

.validation-failed { /* for textboxes, textareas, passwords */
  border:1px dashed #FF3333;
  background-color:#FFCCCC;
}

.list-box           { min-height: 10em !important; padding-bottom: 1em;}
.list-box ul li     { overflow: auto !important; }
.list-box div.error { color: red; font-style: italic; }

div.cart-list-header {
  font-weight: bold;
  margin-top: 0.5em;
  font-size: 1.1em;
}

.action-list p             { font-weight: bold; margin-bottom: 1em; }
.action-list .body         { overflow: auto !important; }
.action-list .button-panel { float:right; }

.total-block      { text-align:right; margin-top:0.5em; }
.total-block span { font-size: 1.4em; font-weight:bold; }
.total-block a    { font-weight:normal !important; }
