/*--------------------------------------------------------------

    global layout description

---------------------------------------------------------------*/
 
html {
 background: #cccccc;
 /*background: #bbbbbb url(../images/bk_html.jpg) repeat 0 0;*/
}

body {
}

.yui-t4 {
 background: transparent; 
}

/* heder
--------------------------------------------------------------*/
#hd {
  margin: 0 0 1.5em 0;
  overflow: auto;
}

#hd h1 {
 width: 250px;
 float: left;
 margin: .3em 0 0 0;
 font-size: 3em;
 font-weight: normal;
 color: #4c3848;
}

#hd h1 span {
 display: block;
 padding: .1em 0 0 0;
 font-size: .4em;
}

#hd #hd-menu {
  display: block;
  text-align: right;
}

#hd #hd-menu a {
  height: 20px;
  margin: 0 0 1px 1px; padding: .5em 1em;
  text-decoration: none;
  color: #ffffff;
  background: #4c3848 ;
  -moz-border-radius: 0 0 .5em .5em;
}
#hd #hd-menu a:hover {
  background: #c690bb;
}

/* main menu
   TODO - Becareful to main border color
--------------------------------------------------------------*/

#main-menu {
  font-size: 1.2em;
  text-align: center;
  background: transparent;
}
#main-menu a {
  height: 35px;
  float: left;
  margin: 0 0 1px 1px; padding: 0 1em;
  text-decoration: none;
  background: #c690bb;
  -moz-border-radius: .5em .5em 0 0;
}
#main-menu a:hover,
#main-menu a.current { border-color: #4c3848; background: #4c3848 ; }
#main-menu a:first-child { margin-left: 0; }

#main-menu a.current {
  position: relative; top: 6px;
  border-bottom: 0;
}

#main-menu a span {
  height: 20px;
  display: block;
  padding: .5em;
  font-size: 0.85em; font-weight: bold;
  color: #ffffff; background: #c690bb;
}

#main-menu a.current span, #main-menu a:hover span { background: #4c3848 ; }
#main-menu a.current span { height: 25px; position: relative; border-bottom:0; }


/* main body
   TODO - Becareful to main border color
--------------------------------------------------------------*/

#bd {
  padding: 2em;
  background: #4c3848;
  overflow: auto;
  clear: both;
}

#main {
  padding-right: 1em;
  background: transparent;
}


h2 {
 margin: 0 0 1em 0; padding: 0;
 font-size: 2em; font-weight: normal;
 color: #ffffff;
}
h2 span {
  display: block;
  line-height: 1.5em;
  font-size: .5em;
}

h2 a#requestSubmit {
  float: right;
  padding: .3em .6em;
  font-size: .9em;
  -moz-border-radius: .5em;
  border-right: 2px solid #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
  color: #000;
  background: #666;
}
/* validated tag color */
h2 a#requestSubmit:hover {
  color: #fff;
  background: #20AA20;
}


/* request form
--------------------------------------------------------------*/

/* definition list */
#requestTabView h4 { 
 margin: 1em 0 0;
 font-size: 1.4em; font-weight: normal;
 color: #4c3848;
}

#requestTabView dl {
  margin : .2em 0 1em 0;
  border-bottom: 1px dashed #A0D158;
  background: #efefef;
  overflow: auto;
}
#requestTabView dl dt,
#requestTabView dl dd {
  float: left;
  margin: 0; padding: .6em;
  border-top: 1px dashed #A0D158
}
#requestTabView dl dt { width: 11.8em; min-height: 1.5em; text-align: right; clear: both; }
#requestTabView dl dd { width: 30em; font-size: 1.15em; }
#requestTabView dl dd span { font-size: .9em; color: #666; }

#requestTabView h3 {
 margin: 1em 0;
 padding: 0 0 .5em 0;
 font-size: 1.6em;
 font-weight: normal;
 border-bottom: 1px solid #A0D158;
}
#requestTabView h3 span {
 display: block;
 font-size: .75em;
}

#requestTabView h3 .tag-pending,
#requestTabView h3 .tag-validated,
#requestTabView h3 .tag-rejected {
  float: right;
}
 
#requestTabView form {
  min-height: 30em;
  padding:  0 1.5em 1.5em 1.5em;
  background: #fff;
}

#requestTabView label {
  display: block;
  font-size: 1.2em; font-weight: normal;
}

#requestTabView input,
#requestTabView select,
#requestTabView textarea {
  width: 98%;
  display: block;
  padding: .1em;
  border: 1px solid #bbbbbb;
/*  border-top-color: #7fa646;*/
  font-size: 1em;
  font-weight: normal;
  color: #4e662b;
}

#requestTabView form ul{
  width: 80%;
  margin: .2em 0 1em 0;
}
#requestTabView form li {
  padding: .2em 0;
  list-style-type: none;
}

#requestTabView form  li label,
#requestTabView form  li input[type="checkbox"],
#requestTabView form  li input[type="radio"] {
  display: inline;
}

#requestTabView form li input[type="checkbox"],
#requestTabView form li input[type="radio"] {
 margin-left: 1em;
}

#requestTabView input[type="submit"] {
  width: auto;
  margin: 2em auto 0 auto;
  border: 1px solid #cccccc;
  border-bottom-color: #7fa646;
  border-right-color: #7fa646;
  -moz-border-radius: .3em;
  font-weight: bold;
}
#requestTabView input[type="submit"]:hover {
  border: 1px solid #cdcdcd;
  border-top-color: #7fa646;
  border-left-color: #7fa646;
  background: #fff;
}

#requestTabView fieldset {
  margin: 0em; padding: .5em;
  border: 1px dashed #A0D158;
  -moz-border-radius: .5em;
  background: #ffffff;
}
#requestTabView fieldset label { margin-top: .3em; font-size: .9em; color: #666; }
#requestTabView fieldset input.line1 { display: inline; width: 15%; }
#requestTabView fieldset input.line2 { display: inline; width: 80%; }


#requestTabView legend {
  margin-top: 1em !important; 
  font-size: 1.3em;
  font-weight: bold;
  color: #7fa646;
}

.mandatoryField { background: #E6F5BD;}

/* narrow
--------------------------------------------------------------*/
#narrow {
/*  width: 16.4615em;*/
/*  margin: 4em 2em 0 0;*/
  background: transparent;
  color: #ffffff;
}

.nobox h3 {
   margin: 1em 0 .2em 0;
   padding: 5px 0 0 0;
   font-size: 1.3em;
   font-weight: normal;
   border-bottom: 2px solid #C690BB;
/* background: #ffcff5;*/
}

.nobox ul {
 margin: 0;
 padding: 0;
}

.nobox li {
 margin: 0;
 padding: .5em 0;
 font-size: .9em;
 list-style-type: none;
 border-bottom: 1px dashed #C690BB;
}
.nobox li:hover {
  background: #ffcff5;
  color: #000000;
}


/* footer
--------------------------------------------------------------*/
#ft {
  padding: .5em;
  text-align: right;
}


/* box 
--------------------------------------------------------------*/

/* request box */
.narrow-box {
  margin: 0 0 1.5em 0;
  color: #000000;
}

.narrow-box h3 {
 margin: 0 0 .2em 0;
 padding: .7em .5em;
 font-size: 1.1em;
 -moz-border-radius: .5em .5em 0 0;
 background: /* #A0D158 */ #c690bb;
}

.narrow-box .body {
  padding: .5em;
  color: #000000;
  background: #dddddd;
}

.narrow-box .body select {
  width: 100%;
  display: block;
  margin: .1em 0 1em 0;
  padding: .2em;
  border: 1px solid #cdcdcd;
  border-top-color: #7fa646;
  font-size: 1.1em;
  font-weight: normal;
  color: #4e662b;
}

.narrow-box .body strong {
  font-size: 1.2em;
}

.narrow-box .body a {
  display: block;
  margin: .5em 0 0 0;
  text-decoration: none;  
}
.narrow-box .body a:hover {
  text-decoration: underline;
}

.narrow-box .body ul { margin: 0; padding: 0; }
.narrow-box .body li {
  margin: 0;
  padding: .5em 0;
  list-style-type: none;
  border-bottom: 1px dashed #7fa646;
}
.narrow-box .body li a { display: inline; }

/* help box */
.helpBox {
  margin: .2em 0 0 12em;
  padding: 1em 1.5em;
  background: #dddddd ;
}

.helpBox h3 {
  margin: 0 0 .5em 0;
  font-size: 1.6em;
  font-weight: normal;
  border-bottom: 1px solid #C690BB;
}

.helpBox dl {
  margin: 0; padding: 0;
  font-size: 1.1em;
}
.helpBox dt {
  padding: .7em 0 0 0; 
  font-weight: bold;
}
.helpBox dd {
  margin: 0;
  padding: 0 .2em .5em .2em;
  border-bottom: 1px dashed #C690BB;
}
.helpBox  dd:hover {
  background: #ffcff5;
  color: #000000;
}

/* Information box */
.information-box {
  margin: 0 0 1em 0;  padding: 1em;
  border: 3px solid #ffaa00;
  background: #ffffcc;
}


/* list
--------------------------------------------------------------*/

.list-box
 { margin: 0 0 1em 0; background: #ffffff; }

.list-box h2 { 
  margin: 0 !important;
  color: #C690BB; background: #4c3848;
  border-bottom: 3px solid #C690BB;
}

.list-box p.paginator, .list-box p.see-all { padding: 1em; font-size: 1.2em; } 
.list-box p.paginator { margin: 0;  text-align: center; }
.list-box p.see-all   { text-align: right; }

.list-box p.see-all a, .list-box p.paginator a { color: #4C3848; text-decoration: none; }
.list-box p.see-all a:hover, 
.list-box p.paginator a:hover,
.list-box p.paginator span.currentStep { color: #ffffff; background: #C690BB; }

.list-box p.paginator a.step,
.list-box p.paginator span.currentStep,
.list-box p.paginator a.prevLink,
.list-box p.paginator a.nextLink { padding: 0 .3em; }

.list-box ul { margin: 0; padding: 0 1em; font-size: 1.1em; }

.list-box ul li {
  list-style-type: none;
  margin: 0; padding: .6em 0;
  border-bottom: 1px dashed #bbbbbb;
}

.list-box ul li p { margin: 0;}
.list-box ul li .tag-state { float: right;}


/* re box 
--------------------------------------------------------------*/

.main-box { margin: 0 0 1em 0; background: #ffffff; }

.main-box h2 { 
  margin: 0 !important;
  color: #C690BB; background: #4c3848;
  border-bottom: 3px solid #C690BB;
}

.main-box p { padding: .2em 1em; }


/* homFolder
--------------------------------------------------------------*/

/* definition list (for homeFolder.individual) */
/*dl {*/
/*  margin : 1em ; padding: 1em;*/
/*  border-top: 3px solid #C690BB;*/
/*  -moz-border-radius: .5em;*/
/*  -webkit-border-radius: .5em;*/
/*  background-color: #ffffff; */
/*}*/

/*dl dt {*/
/*  float: left; width: 9em;*/
/*  font-weight: bold;*/
/*  text-align : right;*/
/*}*/

/*dl dd {*/
/*  border-left: 1px dashed #aaaaaa;*/
/*  margin: 0 0 0 10em;*/
/*  padding: 0 0 .5em .5em;*/
/*}*/

/* misc
--------------------------------------------------------------*/
.mandatory {
  padding: 0 .5em;
  color: #000000;
  background: #C690BB;
}

/* navigation tab link TODO - improve integration */
.navTab { height: 2em }
.nextTab, .prevTab { color: #2020AA; }
.nextTab { float: right; }
.prevTab { float: left; }

.nextTab:hover, .prevTab:hover { background: #2020AA; color:#ffffff; }


/* messages (error , alertl, validation) */
.message {
 padding: 1em 0;
 text-align: center;
 font-size: 2em;
 color: #ffffff;
 background: #20aa20;
}

.hidden { display: none; }

