/*--------------------------------------------------------------

    request
    
---------------------------------------------------------------*/


/* creation form
   TODO : rename this class
--------------------------------------------------------------*/
.exitActionForm {
  float: right;
  margin-bottom: 1em; margin-left: 0.4em;
  text-align: right;
}

.request-information {
  background:#FFFFCC none repeat scroll 0 0;
  border:2px solid #FFAA00;
  font-weight:bold;
  margin:1em 15%;
  padding:0.5em;
  text-align:center;
}

/* creation form
--------------------------------------------------------------*/
#request.main-box { padding: 1em; border: 0; overflow: auto; }

#request .datas { width: 68%; float: left; }
#request .steps { width: 30%; float: left; margin: 1.5em 0; padding: 0;}

#request .steps ul { margin: 0; }
#request .steps li {
  margin: .3em 0 0; padding: .2em .5em;
  font-size: 1.5em; font-weight: normal;
  background: #ddd;
  border: 5px solid #ddd;
  -moz-border-radius: .5em; border-radius: .5em;
}

#request .steps li a { 
  display: block;
  font-size: .9em; font-weight: bold; text-decoration: none; 
  color: #555;
}
#request .steps li .help   { display: block; font-size: .7em; }
#request .steps li .number { float: right; margin-left: .4em; font-size: 1.4em; }

#request .steps li.uncomplete .number,
#request .steps li.complete .number,
#request .steps li.invalid .number, 
#request .steps li.uncomplete a,
#request .steps li.complete a,
#request .steps li.invalid a  { color: #fff; }

#request .steps li.current {
  margin-left: -.6em; padding-left: .9em;
  -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0;
  border-radius-topleft: 0; border-radius-bottomleft: 0;
}
#request .steps li.uncomplete { border-color: #fc0; background: #fc0; }
#request .steps li.complete   { border-color: #20CC20; background: #20CC20; }
#request .steps li.invalid    { border-color: #CC2020; background: #CC2020; }

#request .steps li.uncomplete:hover { border-color: #fa0; background: #fa0; }
#request .steps li.complete:hover   { border-color: #20aa20; background: #20aa20; }
#request .steps li.invalid:hover    { border-color: #aa2020; background: #aa2020; }

/* override inherited properties */
#request .steps li a:hover { background: transparent; }

#request div.form { 
  min-height: 25em;
  margin: 1em .5em 1em 1em; padding: 0 1.5em 1.5em 1.5em;
  border: 5px solid #ddd;
  -moz-border-radius: .5em;
  overflow: auto;
}
/* Hack */
#request form { overflow: auto; }

#request div.form.uncomplete { border-color: #fc0; }
#request div.form.complete   { border-color: #20CC20; }
#request div.form.invalid    { border-color: #CC2020; }

#request h2 { font-size: 2.5em; border: 0; }
#request h2 a.button { float: right; margin-left: .5em; font-size: .45em; font-weight: bold; font-style: italic;}
#request h3 {
  margin: 1em 0; padding: 0 0 .5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid #DB4366;
}
#request h3 span       { display: block; font-size: .75em; }
#request h3 span.error { margin: 0; padding: 0; text-align: right; }
#request h3 .tag-state { float: right; }

#request h4      { margin: 1em 0 ; font-size: 1.15em; font-style: italic; }
#request h4 span { display: block; font-size: .8em; }

#request div.form div label {
  width: 80%; display: block;
  font-size: 1.2em; font-weight: normal;
}

#request div.form div label.required { font-weight: bold; }
#request div.form div label span     { font-size: 0.85em; font-style: italic; color: #333; }
#request legend span             { font-size: 0.75em; font-style: italic; }

#request div.form div p { margin: 0 0 .5em; font-size: 1.1em; }

#request div.form div input[type="text"],
#request div.form div input[type="password"],
#request div.form div select,
#request div.form div textarea {
  width: 80%; display: block;
  margin: .1em 0 1em 0; padding: .1em;
  border: 1px solid #cdcdcd;
  border-top-color: #DB4366;
  font-size: 1.1em; font-weight: normal;
  color: #095ba6;
} 

#request div.form select#subjectId option:disabled { color: inherit; }

/* validation screen
-------------------------------------------------------------- */
#request .summary-box p { margin: 0; }

/* tree
-------------------------------------------------------------- */
#request div.form ul.dataTree        { width: 78%; padding: 1%; border: 1px dashed #DB4366; }
#request div.form .dataTree li       { width: 100%; display: block; }
#request div.form .dataTree li ul    { margin: .5em 0 0 1em !important; }
#request div.form .dataTree li ul li { width: 90%; padding: .2em 0 0 .4em; }
#request div.form .dataTree li em    { font-size: 1.1em; font-style: italic; font-weight: bold; }


/* list
-------------------------------------------------------------- */
#request div.form ul       { width: 80%; margin: .2em 0 .5em 0; }
#request div.form li label { display: inline; font-size: .95em; }

#request div.form ul.yes-no li { display: inline; margin: 0 .5em 0 0; }

#request div.form div fieldset { margin: 0 0 .5em 0; padding: 1em 0 0 1em; }

#request legend {
  margin-top: .5em !important; 
  font-size: 1.3em; font-weight: bold;
  color: #DB4366;
}

#request div.form .address {
  width: 88%; margin: 0 0 1em; padding: .5em;
  font-size: .9em;
  border: 1px dashed #DB4366;
}
#request div.form .address input[type="text"] { width: 99%; margin: 0 0 .5em; padding: .1em; }
#request div.form .address label { display: inline; padding-top: .5em; color: #333; }
#request div.form .address input[type="text"].line1 { display: inline; width: 15%; }
#request div.form .address input[type="text"].line2 { display: inline; width: 82%; }

#request div.form .date input.year,
#request div.form .date select.day,
#request div.form .date select.month { display : inline; width : auto; }

#request div.form .collection h4  { margin-bottom: .5em; }
#request div.form .collection p   { margin: 0 0 1em; padding: 0 }
#request div.form .collection dt.head { font-weight: bold; font-style: italic; }
#request div.form .collection dd.head { text-align: right; }

#request div.form .date input.year,
#request div.form .date select.day,
#request div.form .date select.month { display : inline; width : auto !important;}

#request div.form div.time label { display:inline !important; }
#request div.form .time select.hour,
#request div.form .time select.minute { display : inline; width : auto !important; margin: .5em 0 .5em;}

#request div.form .document dl dd .tag-state { float: right; }

#request div.form div.box    { min-height: 30em; padding: 0 1.5em 1.5em 1.5em; }
#request div.form div.box ul { margin: 1em; }
#request div.form div.box ul li {
  padding: .3em 0;
  list-style-type: disc;
  font-size: 1.2em; font-weight: bold;
}


/* validation step
--------------------------------------------------------------*/
#request div.form div .captcha       { margin : .1em 0 .5em; overflow: auto;}
#request div.form div .captcha img   { float: left; border : 1px solid #DB4366}
#request div.form div .captcha input { float: left; width: 54.5%; margin: 0 0 0 .5em; }
#request div.form div #useAcceptance { margin : 2em 0 0; }


/* request notes on summary page
--------------------------------------------------------------*/
#requestNotes dl.notes    { overflow: auto; margin : 1.5em 1em 1em; border-bottom: 1px dashed #C1CFE2; }
#requestNotes dl.notes dt,
#requestNotes dl.notes dd { float: left; margin: 0; border-top: 1px dashed #C1CFE2; }
#requestNotes dl.notes dt { padding-top : 1.5em; }
#requestNotes dl.notes dt { width: 25%; min-height: 1.5em; clear: both; }
#requestNotes dl.notes dd { width: 75%; padding-bottom : 0.5em; padding-top : 0.5em; }

#requestNotes .tag-state { float: right; }
#requestNotes .note {
  margin-top : 0.3em; padding : 0.2em;
  font-size: 1.4em;
  border: 1px solid #ccc; border-right: 0; border-bottom: 0;
  -moz-border-radius: .5em; -webkit-border-radius: .5em;
  background-color : #eee;
  overflow : auto;
}

#requestNotes .note .tag-state { font-size : 0.75em; }

#requestNotes .noteMetadata { text-align : right; color : #666; }


/* exit request creation screen
--------------------------------------------------------------*/
.requestExit          { overflow: auto; }
.requestExit .link    { padding: 0.75em; }
.requestExit .link li { margin: 0; padding: .2em .5em; list-style-type: none; }
.requestExit .info    { font-size: 1.5em; }

.requestExit .link hr { border: none;}
a.link-agent          { color: #EA3D1A; }

/* help
--------------------------------------------------------------*/
#request div.help {
  margin-top: 1em;; padding: .5em 1.5em 1em;
  clear: both;
  background: #eee;
}


/* notices
--------------------------------------------------------------*/
#request .required-fields-notice { margin-top: -.5em 0 .3em 0; text-align: right; }


/* validation specifics styles
--------------------------------------------------------------*/
#request #useAcceptance { margin: 0 0 1em 0; }


/* javascript validation
--------------------------------------------------------------*/
.validation-failed { border:1px dashed #FF3333; background-color:#FFCCCC; }

div.error, span.error, p.error {
  margin: .5em; padding: .5em;
  font-style: italic; text-align: center;
  color: red;
}

/* start view
--------------------------------------------------------------*/
.group-box h4 { 
  margin: .1em .5em ;
  font-size: 1.7em; font-weight: normal;
  color: #e6648d;
}
.group-box hr      { border: none; margin: 5em 0 0 0; clear: both !important; }

.start-screen-details .group-box ul.request-renew { margin-left: 1em; }

.start-screen-details .group-box .yui-g { margin-bottom: 2em; }

.start-screen-details .group-box span { font-weight: bold; }
.start-screen-details .group-box p	   { margin: 1.5em 1em 1em 1em; font-size: 1.3em; clear: both !important;}

.start-screen-details form { margin: .1em 1.5em ; }
.start-screen-details form input[type="text"]{ 
	display: block !important; 
	width: 20%;
  	margin: .1em 0 1em 0; 
  	padding: .1em;
  	border: 1px solid #cdcdcd;
  	border-top-color: #DB4366;
  	font-size: 1.1em; font-weight: normal;
  	color: #095ba6;
}

.start-screen-details form input.submit-simulation {
	width: 15%;
	margin-left: 2.5%;	
	font-size: 1.2em;
}
