/*--------------------------------------------------------------

    request

---------------------------------------------------------------*/

/* tmp style
---------------------------------------------------------------*/
h2.request-creation {
  margin: 0 1em 1em 0;
  color: #ffffff;
}


/* request form
--------------------------------------------------------------*/
#requestTabView h3 {
  margin: 1em 0;
  padding: 0 0 .5em 0;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #A0D158;
}
#requestTabView h3 span {
  display: block;
  font-size: .75em;
}

#requestTabView h3 .tag-state {
  float: right;
}
 
#requestTabView h4 {
  font-size: 1.2em;
}

#requestTabView form {
  min-height: 30em;
  padding:  0 1.5em 1.5em 1.5em;
  border: 1px solid /* #A0D158 */ #ffffff;
/* background: #fff2fc;*/
  background: #fff;
}

#requestTabView label {
  display: block;
  width: 80%;
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
}
#requestTabView label span {
  font-size: 0.85em;
  font-style: italic;
  color: #333;
}

#requestTabView input,
#requestTabView select,
#requestTabView textarea {
  width: 80%;
  display: block;
  margin: .1em 0 1em 0;
  padding: .1em;
  border: 1px solid #cdcdcd;
  border-top-color: #7fa646;
  font-size: 1.1em;
  font-weight: normal;
  color: #4e662b;
}

#requestTabView form ul{
  width: 80%;
  margin: .2em 0 .5em 0;
}
#requestTabView form li {
  padding: .2em 0;
  list-style-type: none;
  display: inline;
}

#requestTabView form  li label,
#requestTabView form  li input[type="checkbox"],
#requestTabView form  li input[type="radio"] {
  display: inline;
}

#requestTabView form li input[type="checkbox"],
#requestTabView form li input[type="radio"] {
  margin-left: 1em;
}

#requestTabView .yui-button {
  margin-left: 40%;
}

#requestTabView button[type="button"] {
  width: auto;
  margin: 2em auto 0 auto;
  border: 1px solid #cccccc;
  border-bottom-color: #7fa646;
  border-right-color: #7fa646;
  -moz-border-radius: .3em;
}

#requestTabView button[type="button"]:hover {
  border: 1px solid #cdcdcd;
  border-top-color: #7fa646;
  border-left-color: #7fa646;
  background: #fff;
}

#requestTabView fieldset {
  margin: 0 0 .5em 0; padding: 1em 0 0 1em;
  border-left: 3px solid #A0D158;
}
#requestTabView legend {
  margin-top: .5em !important; 
  font-size: 1.3em;
  font-weight: bold;
  color: #7fa646;
}

#requestTabView .address-fieldset {
  width: 80%;
  margin: 0 0 1em; padding: .5em;
  border: 1px dashed #A0D158;
  font-size: .9em;
}
#requestTabView .address-fieldset input { width: 99%; margin: 0; padding: .1em; }
#requestTabView .address-fieldset label { margin-top: .5em; color: #333; }
#requestTabView .address-fieldset input.line1 { display: inline; width: 15%; }
#requestTabView .address-fieldset input.line2 { display: inline; width: 82%; }


/* navigation tab link TODO - improve integration */
#requestTabView .navTab { height: 2em }
#requestTabView .nextTab, #requestTabView .prevTab { color: #2020AA; }
#requestTabView .nextTab { float: right; }
#requestTabView .prevTab { float: left; }

#requestTabView .nextTab:hover, #requestTabView .prevTab:hover { background: #2020AA; color:#ffffff; }

/* request summary
--------------------------------------------------------------*/
#requestTabView dl {
  margin : 10px;
  border-bottom: 1px dashed #C690BB;
  color: #333;
  overflow: auto;
}
 
#requestTabView dl dt,
#requestTabView dl dd {
  float: left;
  margin: 0;
  padding: .3em;
  border-top: 1px dashed #C690BB;
}

#requestTabView dl dt { width: 9em; min-height: 1.5em; text-align: right; clear: both; }
#requestTabView dl dd { width: 14em; font-size: 1.15em; }

#requestTabView dl dd p { padding: 0.1em; }

/* request help
--------------------------------------------------------------*/

.requestHelp {
  margin: .2em 0 0 0em;
  padding: 1em 1.5em;
  background: #dddddd ;
  border-top: 1px solid black;
}

#requestTabView .requestHelp h3 {
  margin: 0 0 .5em 0;
  font-size: 1.6em;
  font-weight: normal;
  border-bottom: 1px solid #C690BB;
}

/* styles copied from MVE SVN commit
--------------------------------------------------------------*/

ul.radio_list
{
  list-style-type: none;
}

li.radio_inline
{
  display: inline !important;
}


div.error_request
{
  font-weight: bold;
  background: #FFFFFF ;
  margin: 0 0 0 0; 
  text-align: center;
  color: red; 
}

.span-required {
  color: red;
  display: inline !important;
}

input, textarea, select {
  border:1px solid #000;
  background-color:#FFFFFF;
  border: 1px solid #cdcdcd;
  border-top-color: #7fa646;
}

.validation-failed { /* for textboxes, textareas, passwords */
  border:1px dashed #FF3333;
  background-color:#FFCCCC;
}

.validation-failed-cr { /* for checkboxes and radios */
}

.validation-failed-sel { /* for selects */
  border:1px dashed #FF3333;
  background-color:#FFCCCC;
}

.validation-passed { /* for textboxes, textareas, passwords */
  border:1px solid #66CC66;
  background-color:#fcfcfc;
}

.validation-passed-cr { /* for checkboxes and radios */

}

.validation-passed-sel { /* for selects */

}

.yui-cal {
display:none;
position:absolute;
}

.error { 
  color: red; 
  font-style: italic;
  text-align: center; 
  margin: 1em;
  padding: 1em;
} 
