/*--------------------------------------------------------------

    request
    
---------------------------------------------------------------*/

/* tmp style
---------------------------------------------------------------*/
h2.request-creation { margin: 0; color: #DB4366;}

/* creation form
   TODO : rename this class
--------------------------------------------------------------*/
.exitActionForm {
  float: right;
  margin-bottom: 1em; margin-left: 0.4em;
  text-align: right;
}

.request-information {
  background:#FFFFCC none repeat scroll 0 0;
  border:2px solid #FFAA00;
  font-weight:bold;
  margin:1em 15%;
  padding:0.5em;
  text-align:center;
}

/* creation form
--------------------------------------------------------------*/
#requestTabView { margin-top: 1em ; }
#requestTabView h3 {
  margin: 1em 0; padding: 0 0 .5em 0;
  font-size: 1.5em; font-weight: normal;
  border-bottom: 1px solid #DB4366;
}
#requestTabView h3 span       { display: block;  font-size: .75em; }
#requestTabView h3 span.error { margin: 0; padding: 0; text-align: right; }
#requestTabView h3 .tag-state { float: right; }
 
#requestTabView h4   { margin: 1em 0 0 0; font-size: 1.2em; }
#requestTabView form { min-height: 30em; padding:  0 1.5em 1.5em 1.5em; }

#requestTabView form div label {
  width: 80%; display: block;
  font-size: 1.2em; font-weight: normal;
}

#requestTabView form div label.required { font-weight: bold; }
#requestTabView form div label span     { font-weight: normal; font-size: 0.85em; font-style: italic; color: #333; }
#requestTabView legend span             { font-weight: normal; font-size: 0.75em; font-style: italic; }

#requestTabView form div p { margin: 0 0 .5em; font-size: 1.1em; }

#requestTabView form div input[type="text"],
#requestTabView form div input[type="password"],
#requestTabView form div select,
#requestTabView form div textarea {
  width: 80%; display: block;
  margin: .1em 0 1em 0; padding: .1em;
  border: 1px solid #cdcdcd;
  border-top-color: #DB4366;
  font-size: 1.1em; font-weight: normal;
  color: #095ba6;
}

#requestTabView form input.submit-step { display: block; margin: 1em auto; font-size: 1.2em; }

/* tree
-------------------------------------------------------------- */
#requestTabView form ul.dataTree        { width: 78%; padding: 1%; border: 1px dashed #DB4366; }
#requestTabView form .dataTree li       { width: 100%; display: block; }
#requestTabView form .dataTree li ul    { margin: .5em 0 0 1em !important; }
#requestTabView form .dataTree li ul li { width: 90%; padding: .2em 0 0 .4em; }
#requestTabView form .dataTree li em    { font-size: 1.1em; font-style: italic; font-weight: bold; }

/* list
-------------------------------------------------------------- */
#requestTabView form ul { width: 80%; margin: .2em 0 .5em 0; }
#requestTabView form li { padding: .2em 0; list-style-type: none; }

#requestTabView form ul.yes-no li { display: inline; margin: 0 .5em 0 0; }

#requestTabView .yui-button { margin-left: 40%; }

#requestTabView form div fieldset {
  margin: 0 0 .5em 0; padding: 1em 0 0 1em;
  border-left: 3px solid #DB4366;
}
#requestTabView legend {
  margin-top: .5em !important; 
  font-size: 1.3em;
  font-weight: bold;
  color: #DB4366;
}

/* TODO - generalize address-fieldset as sub-fieldset selector */
#requestTabView .address-fieldset {
  width: 80%;
  margin: 0 0 1em; padding: .5em;
  border: 1px dashed #DB4366;
  font-size: .9em;
}

#requestTabView .address-fieldset input[type="text"] { width: 99%; margin: 0; padding: .1em; }
#requestTabView .address-fieldset label { margin-top: .5em; color: #333; }
#requestTabView .address-fieldset input[type="text"].line1 { display: inline; width: 15%; }
#requestTabView .address-fieldset input[type="text"].line2 { display: inline; width: 82%; }

#requestTabView p.document-button { margin: 3em 0 0; text-align: center; font-size: 1.2em; }
#requestTabView .document-add-new { text-align: right; }
#requestTabView .document-fieldset                          { margin: 0 0 1em; }
#requestTabView .document-fieldset dl.document-linked       { background: #ffb; }
#requestTabView .document-fieldset dl.document-available    { background: #ffd; }
#requestTabView .summary-box.document-fieldset dl dt { width: 13.75em; font-size:1.1em; }
#requestTabView .summary-box.document-fieldset dl dt input { font-size:1.1em; }
#requestTabView .summary-box.document-fieldset dl dd { width: 26.75em; font-size:1em; }
#requestTabView .summary-box.document-fieldset dl dd input { font-size:1em; }
#requestTabView .document-fieldset dl dd .tag-state { float: right; }

#requestTabView div.collection-fieldset                      { margin: 0 0 1em 0; padding: 1em 2em; font-size: .9em; background: #ffd; }
#requestTabView div.collection-fieldset h4                   { font-size: 1.4em; font-weight: bold; color: #FF812B; }
#requestTabView div.collection-fieldset input[type="submit"] { margin: 0 0 1em; }

#requestTabView fieldset.collection-fieldset-add         { border: 2px solid #FF812B; }
#requestTabView fieldset.collection-fieldset-edit        { padding: 1em 0 1em 1em; border: 0; border-bottom: 2px solid #FF812B; }
#requestTabView fieldset.collection-fieldset-add legend,
#requestTabView fieldset.collection-fieldset-edit legend { margin: 0; padding: 0; border: 1px solid #FF812B; }

/* navigation tab link 
  TODO 
    - improve integration
    - change 'id' into 'class' attribute
*/
#requestTabView .navTab { height: 2em }
#requestTabView .navTab #next-tab, 
#requestTabView .navTab #prev-tab { color: #2020AA; }
#requestTabView .navTab #next-tab { float: right; }
#requestTabView .navTab #prev-tab { float: left; }

#requestTabView .nextTab:hover, #requestTabView .prevTab:hover { background: #2020AA; color:#ffffff; }

#requestTabView form div.box {
  min-height: 30em;
  padding:  0 1.5em 1.5em 1.5em;
}
#requestTabView form div.box ul {
  margin: 1em;
}
#requestTabView form div.box ul li {
  padding: .3em 0;
  list-style-type: disc;
  font-size: 1.2em; font-weight: bold;
}

/* Account creation and modification custom styles
-------------------------------------------------------------- */
#requestTabView div.account-fieldset                      { margin: 0 0 1em 0; }
#requestTabView div.account-fieldset input[type="submit"] { margin: 0 0 1em; }

#requestTabView div.account-fieldset input[type="text"],
#requestTabView div.account-fieldset input[type="password"],
#requestTabView div.account-fieldset select,
#requestTabView div.account-fieldset textarea,
#requestTabView div.account-fieldset .address-fieldset  { width: 90%; }
#requestTabView div.account-fieldset .address-fieldset input[type="text"].line2 { width: 72%; }

#requestTabView fieldset.account-fieldset-add { padding: 1em 1em 0 1em;  border: 0;  background: #ffd; }

#requestTabView .account-fieldset-add h4                       { margin: 0 0 .5em; font-size: 1.4em; font-weight: normal; }
#requestTabView .account-fieldset-edit h4                      { margin: 0 0 .5em; font-size: 1.6em; font-weight: normal; }
#requestTabView .account-fieldset-edit h4 input[type="submit"] { margin: 0; font-size: .6em; }

#requestTabView .account-fieldset-edit dl     { background: #fff; }
#requestTabView .summary-box dl dt  { width: 50%; }
#requestTabView .summary-box dl dd  { width: 42%; }
#requestTabView .summary-box dl input { font-size: .85em; }
#requestTabView .account-fieldset-edit dl input,  
#requestTabView .account-fieldset-edit dl select { margin-bottom: 0; }

#requestTabView .account-fieldset-edit dl.role-add       { border-color: #bbb !important; background: transparent !important; }
#requestTabView .account-fieldset-edit dl.role-add dt    { border-color: #bbb !important; }
#requestTabView .account-fieldset-edit dl.role-add dd    { padding: .5em; border-color: #bbb !important; }
#requestTabView .account-fieldset-edit dl.role-add dd a  { display: block; }

#requestTabView .account-fieldset-edit select,
#requestTabView .account-fieldset-edit input { width: auto; display: inline; }
#requestTabView .account-fieldset-edit label { width: 100%; }

#requestTabView .account-fieldset-edit .message { display: inline; padding: .2em; font: bold italic .9em sans-serif; color: #20aa20; background: #fff; }

#requestTabView .account-fieldset-edit { 
  margin-top: 1em; padding: 1em; 
  border: 1px solid #ccc !important; -moz-border-radius: .5em; 
  background: #eee;
}


/* validation step
--------------------------------------------------------------*/
#requestTabView form div .captcha       { margin : .1em 0 .5em; overflow: auto;}
#requestTabView form div .captcha img   { float: left; border : 1px solid #DB4366}
#requestTabView form div .captcha input { float: left; width: 54.5%; margin: 0 0 0 .5em; }
#requestTabView form div #useAcceptance { margin : 2em 0 0; }

/* request notes on summary page
--------------------------------------------------------------*/
#requestNotes dl.notes    { overflow: auto; margin : 0.5em; border-bottom: 1px dashed #C1CFE2; }
#requestNotes dl.notes dt,
#requestNotes dl.notes dd { float: left; margin: 0; border-top: 1px dashed #C1CFE2; }
#requestNotes dl.notes dt { padding-top : 1.5em; }
#requestNotes dl.notes dt { width: 25%; min-height: 1.5em; clear: both; }
#requestNotes dl.notes dd { width: 75%; padding-bottom : 0.5em; padding-top : 0.5em; }

#requestNotes .tag-state { float: right; }
#requestNotes .note {
  margin-top : 0.3em; padding : 0.2em;
  font-size: 1.4em;
  border: 1px solid #cccccc; border-right: 0; border-bottom: 0;
  -moz-border-radius: .5em; -webkit-border-radius: .5em;
  background-color : #EEEEEE;
}

#requestNotes .note .tag-state { font-size : 0.75em; }

#requestNotes .noteMetadata { text-align : right; color : #666; }

/* exit request creation screen
--------------------------------------------------------------*/
.requestExit       { overflow: auto; }
.requestExit .link { padding: 0.75em; }
.requestExit .link li { margin: 0; padding: .2em .5em; list-style-type: none; }
.requestExit .info { font-size: 1.5em; }

/* help
--------------------------------------------------------------*/

.requestHelp {
  margin: .2em 0 0 0em;
  padding: 1em 1.5em;
  background: #eeeeee ;
}

#requestTabView .requestHelp h3 {
  margin: 0 0 .5em 0;
  font-size: 1.6em;
  font-weight: normal;
  border-bottom: 1px solid #C690BB;
}

/* notices
--------------------------------------------------------------*/
#requestTabView .required-fields-notice {
  text-align: right;
  margin-top: -0.5em;margin-bottom:0.3em;
}

/* condition
--------------------------------------------------------------*/
.unactive { display: none !important; }

/* validation specifics styles
--------------------------------------------------------------*/
#requestTabView #useAcceptance {
    margin: 0em 0em 1em 0em;
}

/* javascript validation
--------------------------------------------------------------*/

.validation-failed,
.validation-failed-sel,
.validation-failed-cr { border:1px dashed #FF3333; background-color:#FFCCCC; }

.validation-passed    { border:1px solid #66CC66; background-color:#fcfcfc; }

.error { 
  color: red; 
  font-style: italic;
  text-align: center; 
  margin: 1em;
  padding: 1em;
}

