pict {
	com.zenexity.pict.portal.security.auth.JdbcLoginModule required 
		dbDriver = "org.postgresql.Driver"
		dbUrl = "jdbc:postgresql://localhost:5432/cartevaloise_valdoise"
		dbUserName = "borihuela"
		dbUserPassword = "borihuela"
		userTable = "adult,individual"
		userField = "login"
		credentialField = "password"
		userTableJoinExpression = " and adult.id = individual.id "
		userRoleTable = ""
		userRoleUserField = ""
		userRoleRoleField = "";
};
